.row
  .col-xs-12.mar-top-10
    %strong
      Question
    = cktext_area :description, :info,:value => @question.get_first_description,:ckeditor => {:toolbar => 'mini'} 
.cols-xs-12.mar-top-10
  %strong
    Answer 
  =text_area_tag :answer, @question.question_options.first.answer, :placeholder => "answer", :class => "form-control"
.cols-xs-12.mar-top-10
  %strong
    Question After blank
    = cktext_area :description2, :info,:value => @question.get_second_description,:ckeditor => {:toolbar => 'mini'}
    