.questions{id:@section.id}
  %table.table-bordered.table_with_margin{style: "width:100%; margin-bottom: 20px;"}
    -if @section.questions.blank?
      %tr.no-record
        %td There are no questions in this sections
    -else
      -@section.questions.each do |question|
        -if question.is_true_false?
          =render partial: "questions/true_false_question", :locals => {:@question => question}
        -if question.is_open_ended?
          =render partial: "questions/open_ended_question", :locals => {:@question => question}
        -if question.is_fill_in_the_blank?
          =render partial: "questions/open_ended_question", :locals => {:@question => question}  