%table.table-bordered{style: "width:100%;margin-bottom: 20px;"}
  %tbody{data:{section_id: @section.id}}
    -if @section.questions.blank?
      %tr.no-record
        %td There are no questions in this sections
    -else
      -@section.questions.order("seq ASC").each_with_index do |question,index|
        -if question.is_true_false?
          =render partial: "questions/true_false_question", :locals => {:@question => question,:@index => (index + 1)}
        -if question.is_open_ended?
          =render partial: "questions/open_ended_question", :locals => {:@question => question,:@index => (index + 1)}
        -if question.is_fill_in_the_blank?
          =render partial: "questions/open_ended_question", :locals => {:@question => question,:@index => (index + 1)}
        -if question.is_mcq?
          =render partial: "questions/mcq_question", :locals => {:@question => question,:@index => (index + 1)}

:javascript
  $(document).ready(function(){
    $(".table-bordered tbody").sortable({
      cursor: "move",
      axis: 'y',
      update: function(){
        $.ajax({
          url: "/sections/change_question_positions",
          method: "POST",
          data: $(this).sortable("serialize"),
          success: function(data){
            $("#"+data.section.id+".questions").find(".question-number").each(function(index){
              $(this).html("<strong>Question No #"+(index+1)+"</strong>")
            })
          }                  
        })
      }
    }).disableSelection();

    $(".table-bordered tbody").droppable({
      activeClass: "ui-state-default",
      hoverClass: "dropping",
      accept: ".question",
      drop: function(event,ui){
        if($(ui.draggable).data("sectionId") != $(this).data("sectionId")){
          prev_section = $(ui.draggable).data("sectionId")
          _tbody = this
          _question = ui.draggable
          params = {section_id: $(this).data("sectionId"), question_id: $(ui.draggable).data("id")}
          $.ajax({
            url: "/sections/change_question_section",
            data: params,
            method: "POST",
            success: function(data){
              value = $(_tbody).data("sectionId")
              $(_question).data().sectionId = value
              _edit = $(_question).find(".edit-delete").children()[1]
              _delete = $(_question).find(".edit-delete").children()[0]
              _edit_url = $(_edit).attr("href").split("sections")[0]+ "sections/"+ value + "/questions/"+$(_question).data().id+ "/edit"
              $(_edit).attr("href",_edit_url)
              _delete_url = $(_delete).attr("href").split("sections")[0]+ "sections/"+ value + "/questions/"+$(_question).data().id
              $(_delete).attr("href",_delete_url)
              $(_question).find(".question-number").html("<strong>Question No #"+(data.count)+"</strong>")
              $(_tbody).append($(_question))
              $("#"+prev_section+".questions").find(".question-number").each(function(index){
                $(this).html("<strong>Question No #"+(index+1)+"</strong>")
              })
              if($("#"+prev_section+".questions").find("tbody tr").length == 0){
                $("#"+prev_section+".questions").find("tbody").append("<tr class = 'no-record'><td>There are no questions</td></tr>")
              }
              $("#"+value+".questions").find("tr.no-record").remove()
            }
          })
        }
      }
    })

  })            