.row.mcq
  .col-xs-12{style:"margin-top:20px;"}
    %table.table.table-bordered.mcq
      %thead
        %tr
          %th.col-xs-1
          %th.col-xs-7
            Answer
          %th.col-xs-4
            Correct?
      %tbody
        -@question.question_options.each_with_index do |option,index|
          %tr
            %td.col-xs-1
              =check_box_tag :delete1 ,nil, false,:class => "delete"
            %td.col-xs-7
              =text_field_tag "answer#{index+1}",option.answer, :class => "form-control answer-field"
            %td.col-xs-4
              =check_box_tag "option#{index+1}",nil,true,:class=> "option" if option.is_correct == true
              =check_box_tag "option#{index+1}",nil,false,:class=> "option" unless option.is_correct == true
              = "Correct?"
  .col-xs-2.pull-right
    =link_to "Remove Answer", "#", :class => "btn btn-primary btn-danger remove-answer"
    -#=link_to "Add Answer", "#", :class => "btn btn-primary btn-success add-answer"
    =hidden_field_tag :options, @question.question_options.count, :class=>"option-rows"           