%tr.question{id: "question_#{@question.id}",data:{section_id: @question.section.id, id:@question.id}}
  %td.col-xs-11
    .col-xs-12
      .row
        .col-xs-11
          .row
            .col-xs-2.question-number
              %strong 
                = "Question No. #{@index}"
            .col-xs-9
              -unless @question.is_fill_in_the_blank?     
                =@question.description.html_safe
              -else  
                =show_blank(@question).html_safe
      .col-xs-10.options
        -unless @question.question_options.first.answer.blank? 
          -if @question.question_options.first.answer != ""
            =@question.question_options.first.answer.html_safe           