.row.open_ended
  .cols-xs-10{style:"margin-top:20px"}
    =text_area_tag :answer, @question.question_options.first.answer,:class => "form-control",:style => "height:100px;", :placeholder => "Answer(optional)"