%tr{id:@question.id}
  %td
    .col-xs-12
      =@question.description.html_safe
      .col-xs-10.options
        .col-xs-8
          -if @question.question_options.first.is_correct == true
            =check_box_tag :truefalse,nil, true, :disabled => true
            = "True"
          -else
            =check_box_tag :truefalse,nil,false, :disabled => true
            = "False" 