.row.fill_in_the_blank
  .cols-xs-14.mar-top-10
    %strong
      Answer 
    =text_area_tag :answer, nil, :placeholder => "answer", :class => "form-control"
  .cols-xs-14.mar-top-10 
    -#=text_area_tag :description2, nil, :placeholder => "Description after blank", :class => "form-control"
    %strong
      Question After blank
    = cktext_area :description2, :info,:ckeditor => {:toolbar => 'mini'}
    