<div class="menu" ng-controller = "MenuCtrl">
  <div class="container">
    <ul>
      <li ng-class="{active: $route.current.activetab == 'manage'}"><a href="#/manage_quiz_banks">MANAGE</a></li>
      <li ng-class="{active: $route.current.activetab == 'serve'}"><a ng-href='#/served_quizzes'>SERVE</a></li>
      <li ng-class="{active: $route.current.activetab == 'grade'}"><a href="#/grade">GRADE</a></li>
      <li ng-class="{active: $route.current.activetab == 'analyze'}"><a href="#/analyze/student_report">ANALYZE</a></li>
    </ul>
  </div>
</div>