%table.table.table_with_margin
  %thead
    %tr
      %th
        Title
      %th 
        Owner
      %th 
        Tags
      %th  
        Sharing
      %th
  %tbody
    %tr{"ng-repeat" => "entry in entries"}
      %td {{entry.title}}