-if @quiz_banks.present?
  %table.table.table_with_margin
    %thead
      %tr
        %th Title
        %th
          %span.glyphicon.glyphicon-user 
          %span Owner
        %th{style:"padding-left:80px;"}
          %span.glyphicon.glyphicon-tags 
          %span Tags
        %th 
          %span.glyphicon.glyphicon-share 
          %span Sharing
        %th 
        %th
    %tbody
      -@quiz_banks.each do |q|
        =render partial: "quiz_banks/quiz_bank", :locals => {:@repository => q.repository,:@quiz_bank => q }
-else
  .top_bar_s.no-record
    There is no quiz bank  