.col-xs-2.option-buttons.pull-right
  =link_to "#", class: "btn btn-primary btn-top-button create-quiz-bank" do
    %span.glyphicon.glyphicon-plus-sign
    Create
  =link_to repository_quiz_bank_path(@repository,@quiz_bank), class: "btn btn-primary btn-top-button", remote: true do
    %span.glyphicon.glyphicon-minus-sign
    Cancel
  =link_to repository_path(@repository), class: "btn btn-primary btn-top-button .update-quiz-bank", remote: true do
    %span.glyphicon.glyphicon-floppy-disk
    Update  