%li
  %span.glyphicon.glyphicon-plus-sign
  %span 
    =@quiz_bank.title
  %span.badge 
    = @quiz_bank.sections.count
  %ul.assessments.hide
    -@quiz_bank.sections.each do |section|
      %li
        %span
          = section.title
        %span.badge
          = section.questions.count  

:javascript
  $(document).ready(function(){
    $(".navigation").on("click",".glyphicon-plus-sign",function(e){
      e.preventDefault()
      $(this).removeClass("glyphicon-plus-sign").addClass("glyphicon-minus-sign")
      $(this).siblings("ul").removeClass("hide")
    })
    $(".navigation").on("click",".glyphicon-minus-sign",function(e){
      e.preventDefault()
      if($(this).siblings("ul").length > 0){      
        $(this).removeClass("glyphicon-minus-sign").addClass("glyphicon-plus-sign")
        $(this).siblings("ul").addClass("hide")
      }
    })
  })      