%tr.quiz-bank{id: @quiz_bank.id}
  %td.col-xs-2
    =link_to @quiz_bank.title, repository_quiz_bank_path(@repository,@quiz_bank), remote: true
  %td.col-xs-2
    =@quiz_bank.owner.name  
  %td.col-xs-2
    - @quiz_bank.question_topics.limit(1).each do |question_topic|
      = render partial: "question_topics/tag", locals: {:question_topic => question_topic}  
  %td.col-xs-2
    -unless @quiz_bank.is_public?
      -if current_user.shares.find_by_shareable_id(@quiz_bank.id).present?
        = link_to "Shared", shares_path(id:@quiz_bank.id), remote: true, rel: "tooltip", title: "Make it Private"
      -else
        = link_to "Private",shares_path(id:@quiz_bank.id), remote: true
    -else
      = link_to "Public",shares_path(id:@quiz_bank.id), remote: true

  %td.col-xs-2
    -if current_user.is_owner_of_quiz_bank?(@quiz_bank)
      -unless @quiz_bank.is_public? 
        =link_to make_stared_public_share_path(@quiz_bank), remote: true, rel: "tooltip", title: "Make Quiz Bank public" do
          %span.glyphicon.glyphicon-cloud
      -else
        =link_to make_stared_private_share_path(@quiz_bank), remote: true, rel: "tooltip", title: "Make the Quiz Bank private" do
          %span.glyphicon.glyphicon-user
    -unless @quiz_bank.is_favourite?(current_user) 
      =link_to make_stared_favourite_favourite_quiz_bank_path(@quiz_bank), remote: true, rel:"tooltip", title: "Make the Quiz Bank favourite" do
        %span.glyphicon.glyphicon-star-empty
    -else
      =link_to make_stared_unfavourite_favourite_quiz_bank_path(@quiz_bank), remote: true, rel:"tooltip", title: "Make the Quiz Bank unfavourite" do
        %span.glyphicon.glyphicon-star          
    =link_to edit_repository_quiz_bank_path(@repository,@quiz_bank), remote: true, rel: "tooltip", title: "Edit QuizBank"do
      %span.glyphicon.glyphicon-pencil
    =link_to  repository_quiz_bank_path(@repository,@quiz_bank), data:{method: :delete, confirm: "Are you sure?"},remote: true, rel: "tooltip", title: "Delete QuizBank" do
      %span.glyphicon.glyphicon-trash   