$('.right-list').html(' #{j(render(partial: 'repositories/show'))} ')
$(".top-options").html(' #{j(render(partial: 'repositories/my_repo_options'))} ')
$(".navigation").html(' #{j(render(partial: 'manage_quiz_banks/navigation'))} ')
