$('#base-modal').modal('hide');
if($(".repo-id").length > 0){
if($(".repo-id").val() == "#{@repository.id}"){
$(".no-record").remove()
$("tbody").append(' #{j(render(partial: 'quiz_bank'))} ')
}
}
else{
$(".no-record").remove()
$("tbody").append(' #{j(render(partial: 'quiz_bank'))} ')
}
