=render 'common/tabs'
.tab-content.padding-top40.tab-container
  .row
    .col-xs-4.pull-right
      =link_to "Create Quiz", quiz_banks_without_repo_path, remote: true, class: "btn btn-primary float-right"
    .col-xs-6.pull-left
      = form_tag quiz_banks_path, :method => 'get', :class => "form-inline" do
        %p
          = text_field_tag :search, params[:search], :placeholder => "Search", :class => "search-text form-control cust_wid", :type => "search"
          = submit_tag "Search", :name => nil, :class => "btn btn-primary search-quiz-bank"
  .row
    .col-xs-12.quiz-banks-div      
      =render partial: "quiz_banks/all_quiz_banks", :locals => {:@quiz_banks => @quiz_banks} 
