$(".option-buttons").html(' #{j(render(partial: 'show_options'))} ')
$(".right-list").html(' #{j(render(partial: 'show'))} ')
$(".navigation").html(' #{j(render(partial: 'manage_quiz_banks/navigation'))} ')

