<!-- <div ng-include src="'/assets/partials/common/menu.html'"></div> -->
<div class="row_bottom">
  <div class="container">
    <div class="sub_nav">
      <span class="sub_nav_icon"><img src="/assets/student_group_white.png" /></span>
      <span class="sub_nav_link"><a ng-href="#/settings" data-toggle = "tooltip" title = "Edit Profile" tooltip-placement = "top">Edit Profile</a></span>
    </div>
    <div class="sub_nav">
      <span class="sub_nav_icon"><img src="/assets/add_group.png" /></span>
      <span class="sub_nav_link"><a ng-href="#/settings/change_password" data-toggle = "tooltip" title = "Add new Group" tooltip-placement = "top">Change Password</a></span>
    </div>  
  </div>
</div>
<div class = "row">
  <div class = "container">
    <div class = "col-xs-4 col-xs-offset-4">
      <h2>Change Password</h2>
      <form name="UserForm" ng-submit="savePassword(UserForm.$valid)" class = "form-horizontal" novalidate>
        <div class = "form-group" ng-class="{ 'has-error' : (UserForm.password.$invalid) && (!UserForm.password.$pristine || submitted == true)}">
          <div class = "col-xs-12 mar-top-20">
            <label>New Password*:</label> 
            <input type: "password" class = "form-control" ng-model = "user.password" placeholder = "Enter new password" name = "password" required>
            <p ng-show="UserForm.password.$invalid && (!UserForm.password.$pristine || submitted == true)" class="help-block">Password is required.</p>
          </div>
        </div>
        <button type = "submit" class = "btn btn-success col-xs-12">Save</button>
      </form>  
    </div>
  </div>
</div>