<div ng-include src="'/assets/partials/common/menu.html'"></div>
<div class="row_bottom">
  <div class="container">

    <div class="sub_nav">
      <span class="sub_nav_icon"><img src="/assets/student_group.png" /></span>
      <span class="sub_nav_link"><a ng-href="#/settings" data-toggle = "tooltip" title = "Edit Profile" tooltip-placement = "top">Edit Profile</a></span>
    </div>
    <!--<div class="sub_nav">
      <span class="sub_nav_icon"><img src="/assets/add_group.png" /></span>
      <span class="sub_nav_link"><a ng-href="#/settings/change_password" data-toggle = "tooltip" title = "Add new Group" tooltip-placement = "top">Change Password</a></span>
    </div> -->  
  </div>
</div>

<div class = "row">
  <div class = "container">
    <div class = "col-xs-4 col-xs-offset-4">
      <h2>{{user.first_name}} Profile</h2>
      <form name="UserForm" ng-submit="saveUser(UserForm.$valid)" entype = "multipart/form-data" class = "form-horizontal" novalidate>
        <div class = "form-group" ng-class="{ 'has-error' : (UserForm.first_name.$invalid) && (!UserForm.first_name.$pristine || submitted == true)}">
          <div class = "col-xs-12 mar-top-20">
            <label>First Name *:</label> 
            <input type: "text" class = "form-control" ng-model = "user.first_name" placeholder = "Enter First Name" name = "first_name" required>
            <p ng-show="UserForm.first_name.$invalid && (!QuizForm.first_name.$pristine || submitted == true)" class="help-block">First Name is required.</p>
          </div>
        </div>
        <div class = "form-group" ng-class="{ 'has-error' : (UserForm.last_name.$invalid) && (!UserForm.last_name.$pristine || submitted == true)}">  
          <div class = "col-xs-12">
            <label>Last Name *:</label> 
            <input type: "text" class = "form-control" ng-model = "user.last_name" name = "last_name" placeholder = "Enter Last Name" required>
            <p ng-show="UserForm.last_name.$invalid && (!QuizForm.last_name.$pristine || submitted == true)" class="help-block">Last Name is required.</p>
          </div>
        </div>
        <div class = "form-group" ng-class="{ 'has-error' : (UserForm.email.$invalid) && (!UserForm.email.$pristine || submitted == true)}">  
          <div class = "col-xs-12">
            <label>Email: * </label> 
            <input type: "email" class = "form-control" ng-model = "user.email" name = "email" placeholder = "email" required>
            <p ng-show="UserForm.email.$invalid && (!UserForm.email.$pristine || submitted == true)" class="help-block">Email is required.</p>
          </div>
        </div>
        <div class = "form-group" ng-class="{ 'has-error' : (UserForm.time_zone.$invalid) && (!UserForm.time_zone.$pristine || submitted == true)}">
          <div class = "col-xs-12">
            <label>Time Zone *:</label>
            <select id="time_zone" name = "time_zone" class = "form-control" ng-model = "user.time_zone" ng-init="user.time_zone = user.time_zone || ''">
              <option value = "">Select Time Zone</option>
              <option value="-12.0">(GMT -12:00) Eniwetok, Kwajalein</option>
              <option value="-11.0">(GMT -11:00) Midway Island, Samoa</option>
              <option value="-10.0">(GMT -10:00) Hawaii</option>
              <option value="-9.0">(GMT -9:00) Alaska</option>
              <option value="-8.0">(GMT -8:00) Pacific Time (US &amp; Canada)</option>
              <option value="-7.0">(GMT -7:00) Mountain Time (US &amp; Canada)</option>
              <option value="-6.0">(GMT -6:00) Central Time (US &amp; Canada), Mexico City</option>
              <option value="-5.0">(GMT -5:00) Eastern Time (US &amp; Canada), Bogota, Lima</option>
              <option value="-4.0">(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz</option>
              <option value="-3.30">(GMT -3:30) Newfoundland</option>
              <option value="-3.0">(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
              <option value="-2.0">(GMT -2:00) Mid-Atlantic</option>
              <option value="-1.0">(GMT -1:00 hour) Azores, Cape Verde Islands</option>
              <option value="0.0">(GMT) Western Europe Time, London, Lisbon, Casablanca</option>
              <option value="1.0">(GMT +1:00 hour) Brussels, Copenhagen, Madrid, Paris</option>
              <option value="2.0">(GMT +2:00) Kaliningrad, South Africa</option>
              <option value="3.0">(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
              <option value="3.30">(GMT +3:30) Tehran</option>
              <option value="4.0">(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</option>
              <option value="4.30">(GMT +4:30) Kabul</option>
              <option value="5.0">(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
              <option value="5.30">(GMT +5:30) Bombay, Calcutta, Madras, New Delhi</option>
              <option value="5.45">(GMT +5:45) Kathmandu</option>
              <option value="6.0">(GMT +6:00) Almaty, Dhaka, Colombo</option>
              <option value="7.0">(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
              <option value="8.0">(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
              <option value="9.0">(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
              <option value="9.30">(GMT +9:30) Adelaide, Darwin</option>
              <option value="10.0">(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
              <option value="11.0">(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
              <option value="12.0">(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
            </select>
            <p ng-show="UserForm.time_zone.$invalid && (!UserForm.time_zone.$pristine || submitted == true)" class="help-block">TimeZone is required.</p>
          </div>
        </div>
        <div class = "form-group">
          <div class = "col-xs-12">
            <label>Profile picture</label> 
            <input type="file" file-model="myFile" class = "col-xs-7 pull-left hide" id = "real-file"/>
            <a class = "btn btn-default col-xs-12" choose-image>Choose an image</a>
            <a ng-click="uploadFile()" class = "btn btn-success col-xs-3 pull-right hide" id = "pic-upload">upload</a>
          </div>  
          <div class = "col-xs-12 mar-top-20">
            <img src = "{{user.profile_pic.url}}"> 
            <img src = "/assets/loading.gif" ng-show = "loading">
          </div>
        </div>  

        <button type = "submit" class = "btn btn-success col-xs-12">Save</button>
      </form>   
    </div>
  </div>
</div>