%table.table.table-bordered
  -if @repositories.present?
    %thead
      %tr
        %th Title
        %th Quiz Banks
        %th Topics
        %th Collaborators
        %th 
    %tbody
      -@repositories.each do |repo|
        = render partial: "repository", :locals => {:@repository => repo}     
  -else
    .no-record
      There is no repository
=paginate @repositories, :window => 2,:remote => true      