.modal-dialog
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h4
        =@repository.new_record? ? "Create Repository" : "Update Repository"
    =simple_form_for (@repository), html:{class: "form-horizontal",id:"repo_form"},remote: true, format: :js do |f|
      .modal-body
        .row
          .col-xs-12
            = f.input :title,:placeholder => "Enter Title", input_html: { class: 'form-control' }
            = f.input :description,:placeholder => "Description", :as => :text, input_html: {class: 'form-control',style:"height:200px"}
      .modal-footer
        -@repository.new_record? ? display = "Create Repo" : display = "Update Repo"
        = f.submit display, :class => "btn btn-primary"
