.col-xs-4.search-bar
  .input-group
    %input{type:"text",class:"form-control",placeholder:"Search",name:"srch-term",id:"srch-term"}
    .input-group-btn
      %button.btn.btn-default{type:"submit"}
        %i.glyphicon.glyphicon-search
.col-xs-2.option-buttons.pull-right
  =link_to new_repository_quiz_bank_path(@repository), class: "btn btn-primary btn-top-button", remote: true do
    %span.glyphicon.glyphicon-plus-sign
    Create QuizBank