.modal-dialog
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      .repo-header
        %h4 Create Repository
      .quiz-bank-header.hide
        %h4 Create QuizBank
    .repo-form          
      =simple_form_for (@repository), html:{class: "form-horizontal",id:"repo_form"},remote: true, format: :js do |f|
        .modal-body
          .row
            .col-xs-12
              = f.input :title,:placeholder => "Enter Title", input_html: { class: 'form-control' }
              = f.input :description,:placeholder => "Description", :as => :text, input_html: {class: 'form-control',style:"height:200px"}
        .modal-footer
          = f.submit "Create Repo", :class => "btn btn-primary repo-modal"
    .quiz-bank-form      