<ul class="nav nav-tabs">
  <li class='active col-xs-2 padding-zero'>
    <a href="#home" data-toggle="tab" class='active'>
      
      My Repos
    </a>
  </li>
  <li class='active col-xs-2 padding-zero'>
    <a href="#profile" data-toggle="tab">
      
      Shared Repos
    </a>
  </li>
  <li class='active col-xs-2 padding-zero'>
    <a href="#messages" data-toggle="tab">
      
      Invitations
    </a>
  </li>
</ul>