%ul.nav.nav-tabs
  %li.active.col-xs-2.padding-zero
    =link_to "My Repo",repositories_path, class: "active"
  %li.active.col-xs-2.padding-zero
    =link_to "Shared Repos",shared_repositories_path
  %li.active.col-xs-2.padding-zero
    =link_to "Invitations","#messages", data:{toggle:"tab"}
