<tr>
  <td>
    <a href = "<%= repository_path(repository)%>"><%=repository.title%></a>
  </td>
  <td>
    Quiz Banks: <%=repository.quiz_banks.count%>
  </td>
  <td>
    
  </td>
  <td>
    <%=repository.user.email%>
  </td>
</tr>
