<%=render 'common/tabs'%>
<div class="tab-content padding-top40 tab-container">
     <a class="btn btn-primary float-right" href="<%=new_repository_path%>", data-remote = true>Create Repo</a>
    <%=render 'repositories/repo_tabs'%>
    <div class="table-responsive  padding-top40">
    <%if @shared_repositories.present?%>
      <table class="table table-bordered">
        <tr>
          <th>Title </th>
          <th>Quiz Banks </th>
          <th>Topics </th>
          <th>Owner</th>
          <th></th>
        </tr>
        <%  @shared_repositories.each do |repo| %>
          <%= render 'shared_repository' , :repository => repo%>
        <%end%>  
      </table>  
    <%else%>
      There is no repository shared with you
    <%end%>
    </div>
</div>

