$(".repo-header").addClass("hide")
$(".quiz-bank-header").removeClass("hide")
$(".repo-form").addClass("hide")
$(".quiz-bank-form").append(' #{j(render(partial: 'quiz_banks/simple_form'))} ')
if(window.location.pathname == "/repositories"){
if($('.no-record').length > 0){
$('.no-record').remove()
$("table").append("<thead><tr><th>Title</th><th>Quiz Banks</th><th>Topics</th><th></th></tr></thead><tbody></tbody>")
$("tbody").append(' #{j(render(partial: 'repository'))} ')
}
else{
$("tbody").append(' #{j(render(partial: 'repository'))} ')
}
}
