$('#base-modal').modal('hide')
if(window.location.pathname == "/repositories"){
$("tr##{@repository.id}").after(' #{j(render(partial: 'repository'))} ')
$("tr##{@repository.id}").remove()
}
else{
$(".mar_top h2").html("#{@repository.title}")
}
