<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to quizlib.com</h1>
    <p>
      You have been added as a collaborator in quizlib.com
    </p>
  </body>
</html>