.modal-dialog
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h4
        = "Student List"

    .modal-body
      -if @sharings.present?
        %table.table.mar-top-15.full-width
          %thead
            %th Photo
            %th Name
            %th Email
            %th Analyze
          %tbody
            -@sharings.each do |sharing|
              %tr
                %td
                  =image_tag display_picture(current_user),:class => 'mini_thumb', :id => "logo2"
                %td
                  =sharing.user.name.blank? ? "Name not set" : sharing.user.name 
                %td
                  = sharing.user.email
                %td
                  = link_to "#" do
                    %span.glyphicon.glyphicon-th-list
                    Analyze  
      -else
        No students to show            