=render 'common/tabs'
.tab-content.padding-top40.tab-container
  .row
    .col-xs-3.left-panel
      = render partial: "analytics/left_panel"
    .col-xs-8.right-panel
      -if @served_quiz.present?
        .col-xs-4.col-xs-offset-4
          %h1
            =@served_quiz.cloned_quiz_bank.title
        .col-xs-10.mar-top-10.col-xs-offset-1
          %img{src:"/assets/chart.gif",id:"up_logo_file2",style:"cursor:pointer;"}
        .col-xs-10.mar-top-20.col-xs-offset-1.analytics-table
          %table.table.table-striped
            %thead
              %th
                %span.glyphicon.glyphicon-user
                %span 
                  Student
              %th
                %span.glyphicon.glyphicon-ok
                %span
                  Correct
              %th
                %span.glyphicon.glyphicon-remove
                %span
                  Wrong
              %th
                %span.glyphicon.glyphicon-th-list
                %span
                  Average
            %tbody
              -@served_quiz.sharings.each do |sharing|
                %tr
                  %td
                    -if sharing.user.name.blank?
                      =sharing.user.email
                    -else
                      =sharing.user.name 
                  %td
                    = sharing.get_correct_answers_count
                  %td
                    = sharing.get_wrong_answers_count
                  %td
                    = sharing.get_average
      -else
        %table.table
          %tbody
            %tr
              %td
                No Quiz Bank Served                                 

            