.invited-users
  -@users.each do |student|
    .col-xs-2{style: "margin-left:5px;"}
      .thumbnail.row{style:"width:250px"}
        .col-xs-1
          =check_box_tag "user_ids[]" ,student.id,false,:class => "delete"
        .col-xs-1
          %img{src:"/assets/Picupload_bg.png", id:"student-image",style:"width:25px;height:25px;"}
        .col-xs-6.offset-1{style:"font-size:10px;"}
          -if student.name.blank?
            = "Name not set by student"
          -else
            = student.name
          =student.email