.history  
  -if @quiz_banks.blank?
    %table.table-bordered{style: "margin-top:15px;width:100%;"}
      %tbody
        %tr 
          %td There is nothing to show in history
  -else
    -@quiz_banks.each do |quiz|
      .well.served-quiz.well-sm
        =quiz.title
      .quiz-sharings
        %table.table-bordered{style: "width:100%;margin-bottom:15px;"}
          %tbody
            -quiz.sharings.each do |sharing|
              %tr
                %td
                  = sharing.user.email
                %td
                  = "#{time_ago_in_words(sharing.created_at)} ago"             