=render 'common/tabs'
.tab-content.padding-top40.tab-container
  .row
    .col-xs-10
      %h2
        Quiz Serve DashBoard
    .col-xs-2
      =link_to "Serve Quiz",new_sharing_path, class: "btn btn-primary serve-quiz", remote: true
  .row
    .col-xs-12
      =render partial: "serving_tabs"

  .row.tab-content
    .col-xs-12.tab-pane.active#history
      =render partial: "history", :locals => {:@q => @q, :@sharings => @sharings}
    .col-xs-12.tab-pane#manage_group       
      =render partial: "manage_groups", :locals => {:@q => @q, :@sharings => @sharings}         