<div class="menu">
  <div class="container">
    <ul>
      <li class="active"><a href="#">MANAGE</a></li>
      <li><a href="#">SERVE</a></li>
      <li><a href="#">GRADE</a></li>
      <li><a href="#">ANALYZE</a></li>
    </ul>
  </div>
</div>


<div class="row_bottom">
  <div class="container">
    <div class="sub_nav">
      <span class="sub_nav_icon"><img src="/assets/create_icon.png" /></span>
      <span class="sub_nav_link">
        <a ng-href  ='#/quiz_banks/new'>Create Quiz</a>
      </span>
    </div>
    <div class="sub_nav">
      <span class="sub_nav_icon"><img src="/assets/create_icon.png" /></span>
      <span class="sub_nav_link">
        <a ng-click = "newRepo()">Create Repo</a>
      </span>
    </div>
    <div class="input-group col-xs-2 pull-right">
      <input type="Search" placeholder="Search..." class="form-control search" ng-model = "titleFilter"/>
        <div class="input-group-btn">
          <span class="search"></span>
        </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-3 left_section">
      <ul>
        <li ng-show = "show_new_repo_div">
            <h4>Create new Repo</h4>
            <input type = "text", ng-model = "repository.title" class = "form-control input-sm" enter = "addRepo()" placeholder = "Enter title and press enter">
        </li>
        <li>
          <a class = "clickunfold">
            My Assessments
          </a>
          <ul class = "hide">
            <li ng-repeat = "repo in my_assessments">
              <a href="#">{{repo.title}}</a></li>
            
          </ul>
        </li>
        <li>
          <a class = "clickunfold">
            Shared Assessments
          </a>
          <ul class = "hide">
            <li ng-repeat = "shared_quiz in shared_quiz_banks">
              <a href = "#">{{shared_quiz.title}}</a>
            </li>
            <li>
          </ul>
        </li>
        <li>
          <a href="#">
            Starred Assessments
          </a>
        </li>
      </ul>
      
    </div>
    <div class="col-xs-9 right_section">
      <table class="table table-striped">
        <thead>
          <th class="col-xs-2 manage_section">Title</th>
          <th class="col-xs-2 manage_section">Owner</th>
          <th class="col-xs-2 manage_section">Tags</th>
          <th class="col-xs-2 manage_section">Sharing</th>
          <th class="col-xs-2 manage_section">Action</th>
        </thead>
        <tbody>
          <tr ng-repeat = "quiz_bank in quiz_banks | filter: titleFilter">
            <td>
              <a ng-href = "#/quiz_banks/{{quiz_bank.id}}/show">
                {{quiz_bank.title}}
              </a>  
            </td>
            <td>{{quiz_bank.name}}</td>
            <td>
              <span class = "glyphicon glyphicon-tag" style = "color: red;"></span>
              <span>&nbsp;&nbsp;{{quiz_bank.tag}}</span>
            </td>
            <td ng-hide = "quiz_bank.public">Private</td>
            <td ng-show = "quiz_bank.public">Public</td>
            <td>
              <a ng-hide = "quiz_bank.public" ng-click = "make_public(quiz_bank)">
                <span class = "glyphicon glyphicon-cloud"></span>
              </a>
              <a ng-show = "quiz_bank.public" ng-click = "make_private(quiz_bank)">
                <span  class = "glyphicon glyphicon-user"></span>
              </a>  
              <span class = "glyphicon glyphicon-star-empty"></span>
              <span class = "glyphicon glyphicon-transfer"> </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


