<div class="menu">
  <div class="container">
    <ul>
      <li><a href="#/manage_quiz_banks">MANAGE</a></li>
      <li class="active"><a ng-href='#/served_quizzes'>SERVE</a></li>
      <li><a href="#">GRADE</a></li>
      <li><a href="#">ANALYZE</a></li>
    </ul>
  </div>
</div>
<div class="row_bottom">
	<div class="container">
    <div class="sub_nav">
      <span class="sub_nav_icon"><img src="/assets/serve_new_quiz_icon.png" /></span>
      <span class="sub_nav_link"><a href="#/serve_quiz/new">Serve Quiz</a></span>
		</div>
    <div class="sub_nav">
      <span class="sub_nav_icon"><img src="/assets/student_group.png" /></span>
      <span class="sub_nav_link"><a href='#/groups'>Student Groups</a></span>
		</div>
    <div class="sub_nav">
      <span class="sub_nav_icon"><img src="/assets/add_group.png" /></span>
      <span class="sub_nav_link"><a href="#/groups/new">Add Group</a></span>
		</div>	
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12 tag_btns">
    	<table class="table table-striped tag_btns">
      	<thead>
        	<th class="col-xs-1 manage_section">
                Title
          </th>
        	<th class="col-xs-2 manage_section">
                Start Time
          </th>
        	<th class="col-xs-2 manage_section">
                End Time
          </th>
        	<th class="col-xs-2 manage_section">
                Status
          </th>
        	<th class="col-xs-2 manage_section">
                Student Status
          </th>
        </thead>
        <tbody class="text-center">
        	<tr ng-repeat = "served_quiz in served_quizzes">
          	<td>{{served_quiz.title}}</td>
          	<td>{{served_quiz.start_date}}&nbsp;{{served_quiz.start_time}}</td>
          	<td>{{served_quiz.close_date}}&nbsp;{{served_quiz.end_time}}</td>
          	<td>
              <span ng-show = "served_quiz.status == 'Serving Completed'">
                <div style="background-color:#00a404;" class="tags">
                  {{served_quiz.status}}
                </div>  
              </span>
              <span ng-show = "served_quiz.status == 'In Process'">
                <div style="background-color:#c64b00;" class="tags" >
                  {{served_quiz.status}}
                </div>  
              </span>
              <span  ng-show = "served_quiz.status == 'Not Served Yet'">
                <div style="background-color:#0069a7;" class="tags">
                  {{served_quiz.status}}
                </div>  
              </span>
            </td>
          	<td><span style="color:#c64b00; font-weight:bold;">Pending:</span>&nbsp;<a ng-click="open($index)">{{served_quiz.pend.length}}</a>&nbsp;&nbsp;&nbsp;<span style="color:#0069a7; font-weight:bold;">Completed:</span>&nbsp;<a ng-click = "open($index)">{{served_quiz.comp.length}}</a>&nbsp;</td>
          </tr>
        </tbody>
	    </table>
		</div>
	</div>
</div>
<script type="text/ng-template" id="myModalContent.html">
    <div class='modal-header'>
      <h3>Students Status</h3>
    </div>
    <div class="modal-body">
      <ul>
        <li ng-repeat="sharing in sharings">
          <a>{{sharing.id}}</a>
        </li>
      </ul>
    </div>
</script>
