<div ng-include src="'/assets/partials/common/menu.html'"></div>
<div class="row_bottom">
	<div class="container">
    <div class="sub_nav">
      <span class="sub_nav_icon"><img src="/assets/serve_new_quiz_icon.png" /></span>
      <span class="sub_nav_link"><a href="#/serve_quiz/new" data-toggle = "tooltip" title = "Serve new Quiz" tooltip-placement = "top">Serve Quiz</a></span>
		</div>
    <div class="sub_nav">
      <span class="sub_nav_icon"><img src="/assets/student_group.png" /></span>
      <span class="sub_nav_link"><a href='#/groups' data-toggle = "tooltip" title = "List Student Groups" tooltip-placement = "top">Student Groups</a></span>
		</div>
    <div class="sub_nav">
      <span class="sub_nav_icon"><img src="/assets/add_group.png" /></span>
      <span class="sub_nav_link"><a href="#/groups/new" data-toggle = "tooltip" title = "Add new group" tooltip-placement = "top">Add Group</a></span>
		</div>

    <div class="input-group col-xs-2 pull-right">
      <input type="Search" placeholder="Search..." class="form-control search input-sm" ng-model = "titleFilter" data-toggle = "tooltip" title = "Search Served Quiz by title" tooltip-placement "top"/>
      <div class="input-group-btn">
        <span class="search"></span>
      </div>
    </div>	
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12 tag_btns">
      <alert class = "mar-top-10" type='success' close="remove_alert()" ng-if = "alert != undefined">{{alert.msg}}</alert>
    	<table class="table table-striped tag_btns">
      	<thead>
        	<th class="col-xs-2 manage_section">
              Title
          </th>
        	<th class="col-xs-2 manage_section">
              Start Time
          </th>
        	<th class="col-xs-2 manage_section">
              End Time
          </th>
        	<th class="col-xs-2 manage_section">
              Status
          </th>
        	<th class="col-xs-3 manage_section">
              Student Status
          </th>
          <th class = "col-xs-1 manage_section">
              Close
          </th>
        </thead>
        <tbody class="text-center">
        	<tr ng-repeat = "served_quiz in served_quizzes | filter: titleFilter">
          	<td>{{served_quiz.cloned_quiz_bank.title}}</td>
          	<td>{{served_quiz.local_date}} {{served_quiz.local_start_time}}</td>
          	<td ng-if = "served_quiz.no_expiration == 0">{{served_quiz.local_close_date}} {{served_quiz.local_end_time}}
            </td>
            <td ng-if = "served_quiz.no_expiration == 1">No End Time Set
            </td>
          	<td>
              <span ng-show = "served_quiz.status == 'Serving Completed'">
                <div style="background-color:#00a404;" class="tags">
                  {{served_quiz.status}}
                </div>  
              </span>
              <span ng-show = "served_quiz.status == 'In Process'">
                <div style="background-color:#c64b00;" class="tags" >
                  {{served_quiz.status}}
                </div>  
              </span>
              <span  ng-show = "served_quiz.status == 'Not Served Yet'">
                <div style="background-color:#0069a7;" class="tags">
                  {{served_quiz.status}}
                </div>  
              </span>
            </td>
            <td><span style="color:#00a404; font-weight:bold;">Invited:</span><a ng-click = "invited_students(served_quiz.id)" data-toggle = "tooltip" title = "All Students who have not started quiz" tooltip-placement = "top"> {{served_quiz.invited_sharings.length}}</a><span style="color:#c64b00; font-weight:bold;"> Partial:</span><a ng-click = "pending_students(served_quiz.id)" data-toggle = "tooltip" title = "Students who started but have not completed quiz" tooltip-placement = "top"> {{served_quiz.pending_sharings.length}}</a><span style="color:#0069a7; font-weight:bold;"> Completed:</span><a data-toggle = "tooltip" title = "Students Completed the quiz" tooltip-placement = "top"ng-click = "completed_students(served_quiz.id)"> {{served_quiz.completed_sharings.length}}</a></td>
            <td ng-if = "served_quiz.no_expiration == 0 && served_quiz.close_status == 0">
              N/A
            </td>
            <td ng-if = "served_quiz.no_expiration == 1 && served_quiz.close_status == 0">
              <a ng-click = "close_quiz(served_quiz)">Close</a>
            </td>
            <td ng-if = "served_quiz.no_expiration == 1 && served_quiz.close_status == 1">
              Closed
            </td>
          </tr>
        </tbody>
	    </table>
		</div>
	</div>
</div>

<script type="text/ng-template" id="Modal.html">
  <div class='modal-header'>
    <a class = "pull-right" ng-click = "cancel()"><span class = "glyphicon glyphicon-remove"></span></a>
    <h3>Students Status</h3>
  </div>
  <div class="modal-body">
    <div ng-if = "items.length > 0">
      <table class = "table table-striped">
        <thead>
          <th class = "col-xs-3">Name</th>
          <th class = "col-xs-3">Email</th>
        </thead>
        <tbody>
          <tr ng-repeat = "sharing in items">
            <td>{{sharing.user.first_name}} {{sharing.user.last_name}}</td>
            <td>{{sharing.user.email}}</td>
          </tr>
        </tbody>  
      </table>
    </div>
    <div ng-if = "items.length == 0">
      No Students to show
    </div>  
  </div>
</script>
