<div class="menu">
  <div class="container">
    <ul>
      <li><a href="#/manage_quiz_banks">MANAGE</a></li>
      <li class="active"><a ng-href='#/served_quizzes'>SERVE</a></li>
      <li><a href="#">GRADE</a></li>
      <li><a href="#">ANALYZE</a></li>
    </ul>
  </div>
</div>
<div class="row_bottom">
	<div class="container">
    <div class="sub_nav">
      <span class="sub_nav_icon"><img src="/assets/serve_new_quiz_icon.png" /></span>
      <span class="sub_nav_link"><a href="#/serve_quiz/new">Serve Quiz</a></span>
		</div>
    <div class="sub_nav">
      <span class="sub_nav_icon"><img src="/assets/student_group.png" /></span>
      <span class="sub_nav_link"><a href='#/groups'>Student Groups</a></span>
		</div>
    <div class="sub_nav">
      <span class="sub_nav_icon"><img src="/assets/add_group.png" /></span>
      <span class="sub_nav_link"><a href="#/groups/new">Add Group</a></span>
		</div>	
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12 tag_btns">
    	<table class="table table-striped tag_btns">
      	<thead>
        	<th class="col-xs-1 manage_section">
                Title
          </th>
        	<th class="col-xs-2 manage_section">
                Start Time
          </th>
        	<th class="col-xs-2 manage_section">
                End Time
          </th>
        	<th class="col-xs-1 manage_section">
                Status
          </th>
        	<th class="col-xs-2 manage_section">
                Student Status
          </th>
        </thead>
        <tbody class="text-center">
        	<tr>
          	<td>Quiz Bank 1</td>
          	<td>20/20/2022 15:30PM</td>
          	<td>20/20/2022 15:30PM</td>
          	<td><span style="background-color:#00a404;" class="tags">Serving Complete</span></td>
          	<td><span style="color:#c64b00; font-weight:bold;">Pending:</span>&nbsp;3&nbsp;&nbsp;&nbsp;<span style="color:#0069a7; font-weight:bold;">Completed:</span>&nbsp;15&nbsp;</td>
          </tr>
        	<tr>
          	<td>Quiz Bank 1</td>
          	<td>20/20/2022 15:30PM</td>
          	<td>20/20/2022 15:30PM</td>
          	<td><span style="background-color:#c64b00;" class="tags">In Process</span></td>
          	<td><span style="color:#c64b00; font-weight:bold;">Pending:</span>&nbsp;3&nbsp;&nbsp;&nbsp;<span style="color:#0069a7; font-weight:bold;">Completed:</span>&nbsp;15&nbsp;</td>
          </tr>
        	<tr>
          	<td>Quiz Bank 1</td>
          	<td>20/20/2022 15:30PM</td>
          	<td>20/20/2022 15:30PM</td>
          	<td><span style="background-color:#0069a7;" class="tags">Not Served Yet</span></td>
          	<td><span style="color:#c64b00; font-weight:bold;">Pending:</span>&nbsp;3&nbsp;&nbsp;&nbsp;<span style="color:#0069a7; font-weight:bold;">Completed:</span>&nbsp;15&nbsp;</td>
          </tr>
        </tbody>
	    </table>
		</div>
	</div>
</div>
