<div ng-include src="'/assets/partials/common/menu.html'"></div>
<tour step="currentStep" ng-show = "toggle_display.show_options">
  <div class="row_bottom">
    <div class="container">
      <div class="sub_nav">
        <span class="sub_nav_icon"><img src="/assets/serve_new_quiz_icon.png" /></span>
        <span class="sub_nav_link"><a href="#/serve_quiz/new" data-toggle = "tooltip" title = "Serve new Quiz" tooltip-placement = "top">Serve Quiz</a></span>
      </div>
      <div class="sub_nav">
        <span class="sub_nav_icon"><img src="/assets/student_group.png" /></span>
        <span class="sub_nav_link"><a href="#/groups" data-toggle = "tooltip" title = "List Student Groups" tooltip-placement = "top">Student Groups</a></span>
      </div>
      <div class="sub_nav">
        <span class="sub_nav_icon"><img src="/assets/add_group.png" /></span>
        <span class="sub_nav_link"><a href="#/groups/new" data-toggle = "tooltip" title = "Add new Group" tooltip-placement = "top">Add Group</a></span>
      </div>  
    </div>
  </div>  
  <div class="container" tourtip = "This is the form for options to serve quiz to students" tourtip-step = "0" tourtip-next-label = "Proceed">
    <div class="row" ng-show = "toggle_display.show_options">
      <form name="OptionForm" ng-submit="checkOptions(OptionForm.$valid)" novalidate>
        <div class="col-xs-12">
          <div class="row">
            <div class = "col-xs-12"> 
              <div class = "form-group mar-bot-0" ng-class="{ 'has-error' : (OptionForm.title.$invalid) && (!OptionForm.title.$pristine || option_submitted == true)}">
                <select class="form-control form_section" ng-model="selects.selected_quiz" ng-options="quiz_bank as quiz_bank.title for quiz_bank in quiz_banks" name = "title" required tourtip-step = "1" tourtip = "Select quiz to serve, this will list all the questions at the bottom of the page" popover="Select one quiz bank from list to serve it to students"  popover-trigger="mouseenter">
                  <option value = "">Select Quiz</option>
                </select> 
                <p ng-show="OptionForm.title.$invalid && (!OptionForm.title.$pristine || option_submitted == true)" class="help-block">Required!</p>
              </div>  
            </div> 
      	  </div>
          <div class="row">
            <div class="col-xs-2 form_section">
              <div class = "form-group mar-bot-0" ng-class="{ 'has-error' : (OptionForm.date.$invalid) && (!OptionForm.date.$pristine || option_submitted == true)}">
            	 <span class="label_text">Open Date/Time:</span>
                <span>
                  <div class="row">
                    <div class="col-xs-12">
                      <div class = "form-group mar-bot-0" ng-class="{ 'has-error' : (OptionForm.date.$invalid) && (!OptionForm.date.$pristine || option_submitted == true)}">
                        <quick-datepicker ng-model='served_quiz.date' name = "date" class = "start-date" required popover="Choose opening date for quiz"  popover-trigger="mouseenter"></quick-datepicker>
                        <!--<p class="input-group">
                          <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="quiz.date" is-open="opened" min="minDate"  datepicker-options="dateOptions"  required close-text="Close" name = "date" tourtip = "Select the date when the quiz will be available to students" tourtip-step = "2"/>
                          <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </p> -->
                         <p ng-show="OptionForm.date.$invalid && (!OptionForm.date.$pristine || option_submitted == true)" class="help-block">Required!</p>
                      </div>   
                    </div>
                  </div>
                </span>
              </div>  
            </div>
            <!--<div class="col-xs-2 form_section">
              <div class = "form-group mar-bot-0" ng-class="{ 'has-error' : (OptionForm.start_time.$invalid) && (!OptionForm.start_time.$pristine || option_submitted == true)}">
              	<span class="label_text">Start Time:</span>
                <p class="input-group">
                  <input type = "text" id="timepicker1" class = "form-control" timepick ng-model = "served_quiz.start_time" required name = "start_time" tourtip = "Select time when the quiz should be available to students" tourtip-step = "3"/>
                  <span class="input-group-btn">
                    <button class="btn btn-default"><i class="glyphicon glyphicon-time"></i></button>
                  </span>
                </p>
                <p ng-show="OptionForm.start_time.$invalid && (!OptionForm.start_time.$pristine || option_submitted == true)" class="help-block">Required!</p>
              </div>  
            </div> -->
            <div class="col-xs-2 form_section">
              <div class = "form-group mar-bot-0" ng-class="{ 'has-error' : (OptionForm.close_date.$invalid) && (!OptionForm.close_date.$pristine || option_submitted == true)}">
              	<span class="label_text">Close Date/Time:</span>
                <span>
                  <div class="row">
                    <div class="col-xs-12">
                      <quick-datepicker ng-model='served_quiz.close_date' name = "close_date" class = "close-date" required popover="Choose closing date for quiz"  popover-trigger="mouseenter"></quick-datepicker>
                      <!--<p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="quiz.close_date" is-open="opened" min="minDate"  datepicker-options="dateOptions"  required close-text="Close" name = "close_date" tourtip-step = "4" tourtip = "Select date when the quiz should be made unavailable"/>
                        <span class="input-group-btn">
                          <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                      </p> -->
                      <p ng-show="OptionForm.close_date.$invalid && (!OptionForm.close_date.$pristine || option_submitted == true)" class="help-block">Required!</p>
                    </div>
                  </div>
                </span>
              </div>  
            </div>
            <div class = "col-xs-6 form_section">
              <div class = "form-group mar-bot-0 mar-top-20">
                <input type="checkbox" name="expiration_date" value= "1" ng-model = "served_quiz.no_expiration" tourtip-step = "7" tourtip = "Or make the quiz duration unlimited" change-close-date popover="Check to manually close the quiz"  popover-trigger="mouseenter">&nbsp;&nbsp;Keep quiz open until closed manually
              </div>
            </div>
            <!--<div class="col-xs-2 form_section">
              <div class = "form-group mar-bot-0" ng-class="{ 'has-error' : (OptionForm.end_time.$invalid) && (!OptionForm.end_time.$pristine || option_submitted == true)}">
              	<span class="label_text">End Time:</span>
                <span class="input-group">
                  <input type = "text" class = "form-control" timepick ng-model = "served_quiz.end_time" required name = "end_time" tourtip-step = "5" tourtip = "Select time when the quiz should be made unavailable"/>
                  <span class="input-group-btn">
                    <button class="btn btn-default"><i class="glyphicon glyphicon-time"></i></button>
                  </span>
                </span>
                <p ng-show="OptionForm.end_time.$invalid && (!OptionForm.end_time.$pristine || option_submitted == true)" class="help-block">Required!</p>
              </div>  
            </div> -->
          </div>
          <div class="row">
            <div class="col-xs-2 radio_contorl form_section">
              <div class = "form-group mar-bot-0">
                <input type="radio" name="time-limit" value = "0" ng-model = "served_quiz.infinite_duration" tourtip-step = "6" tourtip = "You have set the quiz availability time. Now set quiz duration. Either set select this option and set time in minutes" popover="Check to to give duration to quiz"  popover-trigger="mouseenter">&nbsp;&nbsp;Quiz Duration:
              </div>  
            </div>
            <div class="col-xs-2 form_section ">
              <div class = "form-group mar-bot-0" ng-class="{ 'has-error' : (OptionForm.duration.$invalid) && (!OptionForm.duration.$pristine || option_submitted == true) || (OptionForm.duration.$error.min)}">
                <span>
                  <input type="number" class="label_field col-xs-12" ng-model = "served_quiz.duration" name = "duration" ng-disabled = "served_quiz.infinite_duration == 1" min = "1" style = "height: 38px;" ng-required = "served_quiz.infinite_duration == 0" popover="Add duration to the quiz"  popover-trigger="mouseenter"/>
                </span>
                <p ng-show="(OptionForm.duration.$invalid) && (!OptionForm.duration.$pristine || option_submitted == true)" class="help-block">Required!</p>
                <p ng-show="OptionForm.duration.$error.min" class="help-block">Cannot pe less then 1.</p>
              </div> 
            </div>
            <div class="col-xs-3">
              <select class="form-control form_section" ng-disabled = "served_quiz.infinite_duration == 1">
                <option>Minutes</option>
              </select>
            </div>
            <span class="form_section mar-top-20">&nbsp;&nbsp;&nbsp;or</span>
            <div class="col-xs-2 radio_contorl form_section">
              <div class = "form-group mar-bot-0">
                <input type="radio" name="time-limit" value= "1" ng-model = "served_quiz.infinite_duration" tourtip-step = "7" tourtip = "Or make the quiz duration unlimited" popover="Check to set quiz duration to unlimited"  popover-trigger="mouseenter">&nbsp;&nbsp;Unlimited Duration
              </div>   
            </div>
            <div class = "col-xs-12">
              <p ng-show="served_quiz.infinite_duration == undefined" class="help-block" style = "color: #A94442;">Select one time option</p>
            </div>
          </div>
          <div class="row line_bg">
          </div>
          <div class="row">
    	      <span class="form_section col-xs-12">Question Per Page:</span>
          </div>
          <div class="row">
            <div class="col-xs-3 radio_contorl form_section">
              <input type="radio" name="questions_per_page" value = "1" ng-model = "served_quiz.show_all_questions" tourtip-step = "8" tourtip = "Now set the layout of the quiz. Select this option if you want all questions on the same page of quiz" popover="Check to show all questions on one page"  popover-trigger="mouseenter" popover-placement = "right">&nbsp;&nbsp;All Questions on one page 
            </div>
            <div class="col-xs-0 radio_contorl form_section">
              <input type="radio" name="questions_per_page" value = "0" ng-model = "served_quiz.show_all_questions" tourtip-step = "9" tourtip = "Or select this option and set the maximum number of questions on each page" popover="Check to set questions/page display limit"  popover-trigger="mouseenter"> 
            </div>
            <div class="col-xs-2 form_section">
              <div class = "form-group mar-bot-0" ng-class="{ 'has-error' : (OptionForm.questions_per_page.$invalid) && (!OptionForm.questions_per_page.$pristine || option_submitted == true) || (OptionForm.questions_per_page.$error.min) || (OptionForm.questions_per_page.$error.max)}">
                <span>
                  <input type="number" class="label_field col-xs-12" ng-model ="served_quiz.questions_per_page" name = "questions_per_page" ng-disabled = "served_quiz.show_all_questions == 1" min = "1" max = "{{quiz_bank_questions.length}}" style = "height:38px;" ng-required = "served_quiz.show_all_questions == 0" popover="Choose number of questions/page"  popover-trigger="mouseenter"/>
                </span>
                <p ng-show="(OptionForm.questions_per_page.$invalid) && (!OptionForm.questions_per_page.$pristine || option_submitted == true)" class="help-block">Required!</p>
                <p ng-show="OptionForm.questions_per_page.$error.min" class="help-block">Cannot pe less then 1.</p>
                <p ng-show="OptionForm.questions_per_page.$error.max" class="help-block">Cannot be greater then total number of questions.</p>
              </div>  
            </div>
            <div class="col-xs-3">
              <span class="form_section">Question Per Page:</span>
            </div>
            <div class = "col-xs-12">
              <p ng-show="served_quiz.show_all_questions == undefined" class="help-block" style = "color: #A94442;">Select one layout option</p>
            </div>
          </div>
          <div class="row line_bg"></div>
          <div class="row">
            <div class="col-xs-2 form_section">
              <span>Instructions</span>
            </div>
            <div class="col-xs-9 form_section">
              <div class = "form-group mar-bot-0" ng-class="{ 'has-error' : (OptionForm.instructions.$invalid) && (!OptionForm.instructions.$pristine || option_submitted == true)}">
                <span>
                  <textarea type="text" placeholder="Quiz Instructions" class="label_field form-control" ng-model = "served_quiz.instructions" name = "instructions" required tourtip-step = "10" tourtip = "Add the instructions for the quiz">
                  </textarea>
                </span>
                <p ng-show="OptionForm.instructions.$invalid && (!OptionForm.instructions.$pristine || option_submitted == true)" class="help-block">Required!</p>
              </div>  
            </div>
            <div class="col-xs-2 form_section">
              <span>Show Answers:</span>
            </div>
            <div class="col-xs-9 form_section">
              <div class = "form-group mar-bot-0" ng-class="{ 'has-error' : (OptionForm.answer.$invalid) && (!OptionForm.answer.$pristine || option_submitted == true)}" tourtip-step = "11" tourtip = "Select if you want to show answers after the quiz or not">
                <select class="form-control" ng-model = "served_quiz.answer" required name = "answer" >
                  <option value = "">When to show answers</option>
                  <option value = "2">After Quiz</option>
                  <option value = "3">Dont Show Answers</option>
                </select>
                <p ng-show="OptionForm.answer.$invalid && (!OptionForm.answer.$pristine || option_submitted == true)" class="help-block">Required!</p>
              </div>  
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4 form_section">
              <span>
                <input type="radio" name="question-option" value = "0" checked ng-click = "toggle_display.show_question_list = true" ng-model = "served_quiz.random" tourtip-step = "12" tourtip = "Select this option and then select from the questions list all the questions you want to include in the quiz">
              </span>
              <span style = "margin-left:10px">Select from questions list</span>
            </div>  
            <span class="form_section">
              <input type="radio" name="question-option" value = "1" ng-click = "toggle_display.show_question_list = false" ng-model = "served_quiz.random" tourtip-step = "13" tourtip = "Or select this options to allow the system to randomly select from the questions list">
            </span>
            <div class="col-xs-4 form_section">
              <span>Randomize the questions</span>
            </div>
            <div class = "col-xs-12">
              <p ng-show="served_quiz.random == undefined" class="help-block" style = "color: #A94442;">Select one question selection option</p>
            </div>
          </div>
          <div class="row" ng-show = "toggle_display.show_question_list">
          	<div class="col-xs-12">
              <div class="col-xs-12 strip form_section" ng-repeat = "question in quiz_bank_questions">
                <div class="col-xs-0 pull-left">
                  <input type="checkbox" name="checkbox" value = "{{question.id}}" ng-click = "select_question(question)"/>
                </div>
                <div class="col-xs-10 ">
                  <span style="float:left; margin-left:10px;" ng-bind-html="question.description | unsafe"></span>
    			      </div>
              </div>
            </div>
          </div>
          <div class="row" ng-hide = "toggle_display.show_question_list">
            <div class="col-xs-12">
              <div class="col-xs-12 strip form_section ">
                <div class = "form-group mar-bot-0" ng-class="{ 'has-error' : (OptionForm.number_of_questions.$invalid) && (!OptionForm.number_of_questions.$pristine || option_submitted == true) || (OptionForm.number_of_questions.$error.min) || (OptionForm.number_of_questions.$error.max)}">
                  <div class="col-xs-2 ">
                    <span style="float:left;">Number of Questions:</span>
                  </div>
                  <div class="col-xs-1">
                    <span>
                      <input type="number" class="label_field col-xs-12" ng-model = "served_quiz.number_of_questions" name = "number_of_questions" min = "1" max = "{{quiz_bank_questions.length}}" style = "height:38px;" ng-required = "served_quiz.random == 1"/>
                    </span> 
                  </div>
                  <div class="col-xs-2 ">
                    <span style="float:left; margin-left:10px;">/{{quiz_bank_questions.length}}</span>
                  </div>
                  <div class = "col-xs-12">
                    <p ng-show="(OptionForm.number_of_questions.$invalid) && (!OptionForm.number_of_questions.$pristine || option_submitted == true)" class="help-block">Required!</p>
                    <p ng-show="OptionForm.number_of_questions.$error.min" class="help-block">Cannot pe less then 1.</p>
                    <p ng-show="OptionForm.number_of_questions.$error.max" class="help-block">Cannot be greater then total number of questions.</p>
                  </div>  
                </div>  
              </div>
            </div>
          </div>
          <div class = "row">
            <div class = "col-xs-12 mar-top-20">
              <div class = "col-xs-1 pull-right">  
                <button type="submit" class="btn btn_blue" data-toggle = "tooltip" title = "Go to Select Student Step" tooltip-placement = "top" tourtip-step = "14" tourtip = "Now you are done with setting quiz options press next to choose student to serve the quiz" tourtip-placement = "left" tourtip-offset="10" tourtip-next-label = "Finish" ng-click = "change_current_step">Next</button>
              </div>
              <div class = "col-xs-1 pull-right">
                <a class="btn btn-default" data-toggle = "tooltip" title = "Preview the quiz" tooltip-placement = "top" ng-show = "OptionForm.$valid" ng-href = "#/quiz_banks/{{selected_quiz.id}}/preview">Preview</a>
              </div>
            </div>
          </div>
      	</div>
      </form>
    </div>
  </div>
</tour>
<tour step="currentStep" ng-hide = "toggle_display.show_options">
  <div class="row_bottom">
    <div class="container">
      <div class="sub_nav">
        <span class="sub_nav_icon"><img src="/assets/serve_new_quiz_icon.png" /></span>
        <span class="sub_nav_link"><a href="#/serve_quiz/new" data-toggle = "tooltip" title = "Serve new Quiz" tooltip-placement = "top">Serve Quiz</a></span>
      </div>
      <div class="sub_nav">
        <span class="sub_nav_icon"><img src="/assets/student_group.png" /></span>
        <span class="sub_nav_link"><a href="#/groups" data-toggle = "tooltip" title = "List Student Groups" tooltip-placement = "top">Student Groups</a></span>
      </div>
      <div class="sub_nav">
        <span class="sub_nav_icon"><img src="/assets/add_group.png" /></span>
        <span class="sub_nav_link"><a href="#/groups/new" data-toggle = "tooltip" title = "Add new Group" tooltip-placement = "top">Add Group</a></span>
      </div>   
    </div>
  </div>  
  <div class="container">    
    <div class="row" ng-hide = "toggle_display.show_options">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-5 left_section_area" tourtip-step = "2" tourtip = "All the students to select appear here. You should select them">
            <input type="text" ng-model="student" typeahead="student as student.first_name for student in system_students | filter:{first_name:$viewValue} | limitTo:8" class="form-control" enter = "AddStudent(student)" placeholder="Search by name" typeahead-on-select = "AddStudent(student)" tourtip-step = "0" tourtip = "Choose the students individually">
            <select class="form-control form_section col-xs-12" ng-model="selects.selected_group" ng-options="group as group.title for group in groups" tourtip-step = "1" tourtip = "Or select students from the group">
              <option value = "">Select Group</option>
            </select> 
            <ul class="col-xs-12 mar-top-20">
              <li class="col-xs-11 select_section" ng-repeat = "group_student in group_students" style = "word-wrap: break-word;">
                <span class="col-xs-4"><img src="{{group_student.profile_pic.url}}" class="img-thumbnail" /></span>
                <span style=" float:right;"><input type="checkbox" name="checkbox" ng-click = "student_to_right(group_student)"/></span>
                <span class="col-xs-6"><h4>{{group_student.first_name}}{{group_student.last_name}}</h4>
                <p>{{group_student.email}}</p></span>
              </li>
              <li class = "no-record select_section" ng-if = "selects.selected_group != undefined && selected_students.length == 0 && group_students.length == 0">
                No students in the group. <a ng-href = "#/groups/selects.selected_group.id/edit">Click here</a> to add
              </li>
            </ul>
          </div>
          <div class="col-xs-2">
            <div class="row top200">
              <span class="col-xs-4 col-xs-offset-3 arrow_left">
                <a ng-click="move_to_left()" data-toggle = "tooltip" title = "Deselect all Students" tooltip-placement = "top"><img src="/assets/big_arrow_left.png" /></a>
              </span>
              <span class="col-xs-4 arrow_right">
                <a ng-click="move_to_right()" data-toggle = "tooltip" title = "Select all Students" tooltip-placement = "top"><img src="/assets/big_arrow_right.png" tourtip = "Click on these arrows select and unselect students" tourtip-step = "3"/></a>
              </span>
            </div>
          </div>
          <div class="col-xs-5 right_section_area" tourtip-step = "4" tourtip = "All the selected students appear here. Select all the students you do not want to serve the quiz">
            <ul class="col-xs-12">
              <li class="col-xs-11 select_section" ng-repeat = "selected_student in selected_students" style = "word-wrap: break-word;">
                <span class="col-xs-4"><img src="{{selected_student.profile_pic.url}}" class="img-thumbnail" /></span>
                <span style=" float:right;"><input type="checkbox" name="checkbox" ng-click= "student_to_left(selected_student)"/></span>
                <span class="col-xs-6"><h4>{{selected_student.first_name}}{{selected_student.last_name}}</h4>
                <p>{{selected_student.email}}</p></span>
              </li>

            </ul>
          </div>
        </div>
        <div class = "row">
          <div class = "col-xs-12 mar-top-20">
            <div class = "col-xs-1 pull-right">  
              <a type="button" class="btn btn_blue" ng-click = "serveTheQuiz()" data-toggle = "tooltip" title = "Serve The Quiz" tooltip-placement = "top" tourtip-step = "6" tourtip = "Serve quiz to all the right hand side students" tourtip-next-label = "Finish">Serve</a>
            </div>
            <div class = "col-xs-1 pull-right">
              <button type="button" class="btn" ng-click = "toggle_display.show_options = true" data-toggle = "tooltip" title = "Go to Select Option Step" tooltip-placement = "top" tourtip-step = "5" tourtip = "Press previous to go back to quiz options form">Previous</button>
            </div>
          </div>
        </div>
      </div>  
    </div>    
  </div> 
</tour>
