<div ng-include src="'/assets/partials/common/menu.html'"></div>
<div class="row_bottom">
  <div class="container">
    <div class="sub_nav">
      <span class="sub_nav_icon"><img src="/assets/serve_new_quiz_icon.png" /></span>
      <span class="sub_nav_link"><a href="#/serve_quiz/new" data-toggle = "tooltip" title = "Serve new Quiz" tooltip-placement = "top">Serve Quiz</a></span>
    </div>
    <div class="sub_nav">
      <span class="sub_nav_icon"><img src="/assets/student_group.png" /></span>
      <span class="sub_nav_link"><a href="#/groups" data-toggle = "tooltip" title = "List Student Groups" tooltip-placement = "top">Student Groups</a></span>
    </div>
    <div class="sub_nav">
      <span class="sub_nav_icon"><img src="/assets/add_group.png" /></span>
      <span class="sub_nav_link"><a href="#/groups/new" data-toggle = "tooltip" title = "Add new Group" tooltip-placement = "top">Add Group</a></span>
    </div>  
  </div>
</div>
<div class="container">
	<div class="row" ng-show = "show_options">
    <form name="OptionsForm" ng-submit="saveQuiz(OptionForm.$valid)" novalidate>
    	<div class="col-xs-12">
      	<div class="row">
          <div class="col-xs-3 btn_section">
            <button type="button" class="btn btn_blue" ng-click = "show_options = true" data-toggle = "tooltip" title = "Select Quiz Options" tooltip-placement = "top">Options</button>
            <button type="button" class="btn btn_grey" ng-click = "show_options = false" data-toggle = "tooltip" title = "Select Students to Serve Quiz" tooltip-placement = "top">Select Students</button>
          </div>
          <div class = "col-xs-12">
            <div class = "form-group" ng-class="{ 'has-error' : (OptionForm.title.$invalid) && (!OptionForm.title.$pristine || option_submitted == true)}">
              <select class="form-control form_section" ng-model="selected_quiz" ng-options="quiz_bank as quiz_bank.title for quiz_bank in quiz_banks" name = "title" required>
                <option value = "">Select Quiz</option>
              </select>
              <p ng-show="OptionForm.title.$invalid && (!OptionForm.title.$pristine || option_submitted == true)" class="help-block">Select Quiz.</p>
            </div>  
          </div>
  	    </div>
        <div class="row">
          <div class="col-xs-2 form_section">
            <div class = "form-group" ng-class="{ 'has-error' : (OptionForm.date.$invalid) && (!OptionForm.date.$pristine || option_submitted == true)}">
          	 <span class="label_text">Start Date:</span>
              <span>
                <input type="date" name = "date" class="form-control" ng-model = "served_quiz.date" required/>
                <p ng-show="OptionForm.date.$invalid && (!OptionForm.date.$pristine || option_submitted == true)" class="help-block">Required</p>
              </span>
            </div>  
          </div>
          <div class="col-xs-2 form_section">
            <div class = "form-group" ng-class="{ 'has-error' : (OptionForm.start_time.$invalid) && (!OptionForm.start_time.$pristine || option_submitted == true)}">
            	<span class="label_text">Start Time:</span>
              <span>
                <input type="time" name = "start_time" class="label_field form-control"  ng-model = "served_quiz.start_time" required/>
                <p ng-show="OptionForm.start_time.$invalid && (!OptionForm.start_time.$pristine || option_submitted == true)" class="help-block">Required.</p>
              </span>
            </div>  
          </div>
          <div class="col-xs-2 form_section">
            <div class = "form-group" ng-class="{ 'has-error' : (OptionForm.close_date.$invalid) && (!OptionForm.close_date.$pristine || option_submitted == true)}">
            	<span class="label_text">End Date:</span>
              <span>
                <input type="date" name = "close_date" class="form-control"  ng-model = "served_quiz.close_date" required/>
                <p ng-show="OptionForm.close_date.$invalid && (!OptionForm.close_date.$pristine || option_submitted == true)" class="help-block">Required</p>
              </span>
            </div>  
          </div>
          <div class="col-xs-2 form_section">
            <div class = "form-group" ng-class="{ 'has-error' : (OptionForm.end_time.$invalid) && (!OptionForm.end_time.$pristine || option_submitted == true)}">
            	<span class="label_text">End Time:</span>
              <span>
                <input type="time" name = "end_time" class="label_field form-control"  ng-model = "served_quiz.end_time" required/>
                <p ng-show="OptionForm.end_time.$invalid && (!OptionForm.end_time.$pristine || option_submitted == true)" class="help-block">Required</p>
              </span>
            </div>  
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2 radio_contorl form_section">
            <input type="radio" name="time-limit" value = "0" ng-model = "served_quiz.infinite_duration">&nbsp;&nbsp;Time Limit:
          </div>
          <div class="col-xs-2 form_section ">
            <span>
              <input type="text" class="label_field form-control" ng-model = "served_quiz.duration"/>
            </span>
          </div>
          <div class="col-xs-3">
            <select class="form-control form_section">
              <option>Minutes</option>
            </select>
          </div>
          <span class="form_section">&nbsp;&nbsp;&nbsp;or</span>
          <div class="col-xs-2 radio_contorl form_section">
            <input type="radio" name="time-limit" value= "1" ng-model = "served_quiz.infinite_duration">&nbsp;&nbsp;Unlimited Time 
          </div>
        </div>
        <div class="row line_bg">
        </div>
        <div class="row">
  	      <span class="form_section col-xs-12">Question Per Page:</span>
        </div>
        <div class="row">
          <div class="col-xs-3 radio_contorl form_section">
            <input type="radio" name="questions_per_page" value = "1" ng-model = "served_quiz.show_all_questions">&nbsp;&nbsp;All Questions on one page 
          </div>
          <div class="col-xs-0 radio_contorl form_section">
            <input type="radio" name="questions_per_page" value = "0" ng-model = "served_quiz.show_all_questions"> 
          </div>
          <div class="col-xs-2 form_section">
            <span>
              <input type="text" class="label_field form-control" ng-model ="quiz_bank.questions_per_page"/>
            </span>
          </div>
          <div class="col-xs-3">
            <span class="form_section">Question Per Page:</span>
          </div>
        </div>
        <div class="row line_bg"></div>
        <div class="row">
          <div class="col-xs-2 form_section">
            <span>Instructions</span>
          </div>
          <div class="col-xs-9 form_section">
            <span><textarea type="text" placeholder="Select quiz to see instructions" class="label_field form-control" ng-model = "served_quiz.instructions" ng-init = "served.instructions = quiz_bank.instructions"></textarea></span>
          </div>
          <div class="col-xs-2 form_section">
            <span>Show Answers:</span>
          </div>
          <div class="col-xs-9 form_section">
            <select class="form-control" ng-model = "served_quiz.answer">
              <option value = "">When to show answers</option>
              <option value = "2">After Quiz</option>
              <option value = "3">Dont Show Answers</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 form_section">
            <span>
              <input type="radio" name="question-option" value = "0" checked ng-click = "show_question_list = true" ng-model = "served_quiz.random">
            </span>
            <span style = "margin-left:10px">Select from questions list</span>
          </div>  
          <span class="form_section">
            <input type="radio" name="question-option" value = "1" ng-click = "show_question_list = false" ng-model = "served_quiz.random">
          </span>
          <div class="col-xs-4 form_section">
            <span>Randomize the questions</span>
          </div>
        </div>
        <div class="row" ng-show = "show_question_list">
        	<div class="col-xs-12">
            <div class="col-xs-12 strip form_section" ng-repeat = "question in quiz_bank_questions">
              <div class="col-xs-0 pull-left">
                <input type="checkbox" name="checkbox" value = "{{question.id}}" ng-click = "select_question(question)"/>
              </div>
              <div class="col-xs-10 ">
                <span style="float:left; margin-left:10px;" ng-bind-html="question.description | unsafe"></span>
  			      </div>
            </div>
          </div>
        </div>
        <div class="row" ng-hide = "show_question_list">
          <div class="col-xs-12">
            <div class="col-xs-12 strip form_section ">
              <div class="col-xs-2 ">
                <span style="float:left;">Number of Questions:</span>
              </div>
              <div class="col-xs-1">
                <span>
                  <input type="text" class="label_field form-control" ng-model = "served_quiz.number_of_questions"/>
                </span>
              </div>
              <div class="col-xs-2 ">
                <span style="float:left; margin-left:10px;">/10</span>
              </div>
            </div>
            <div class="col-xs-12 strip">
              <div class="col-xs-0 pull-left">
                <input type="checkbox" name="checkbox" />
              </div>
              <div class="col-xs-6 ">
                <span style="float:left; margin-left:10px;">Same questions for students</span>
              </div>
            </div>
            <div class="col-xs-12 strip">
              <div class="col-xs-0 pull-left">
                <input type="checkbox" name="checkbox" />
              </div>
              <div class="col-xs-6 ">
                <span style="float:left; margin-left:10px;">Same questions in same sequence</span>
              </div>
            </div>
          </div>
        </div>
        <div class = "row">
          <div class = "col-xs-12 mar-top-20">
            <div class = "col-xs-1 pull-right">  
              <button type="button" class="btn btn_blue" ng-click = "show_options = false" data-toggle = "tooltip" title = "Go to Select Student Step" tooltip-placement = "top">Next</button>
            </div>
            <div class = "col-xs-1 pull-right">
              <button type="button" class="btn" data-toggle = "tooltip" title = "Preview the quiz" tooltip-placement = "top">Preview</button>
            </div>
          </div>
        </div>
  		</div>
    </form>
	</div>
  <div class="row" ng-hide = "show_options">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-3 btn_section">
          <button type="button" class="btn btn_grey" ng-click = "show_options = true" data-toggle = "tooltip" title = "Select Quiz Options" tooltip-placement = "top">Options</button>
          <button type="button" class="btn btn_blue" ng-click = "show_options = false" data-toggle = "tooltip" title = "Select Students to Serve" tooltip-placement = "top">Select Students</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5 left_section_area">
          <input type="text" ng-model="student" typeahead="student as student.first_name for student in system_students | filter:{first_name:$viewValue} | limitTo:8" class="form-control" enter = "AddStudent(student)" placeholder="Search by name">
          <select class="form-control form_section col-xs-12" ng-model="selected_group" ng-options="group as group.title for group in groups">
            <option value = "">Select Group</option>
          </select>  
          <ul class="col-xs-12">
            <li class="col-xs-11 select_section" ng-repeat = "group_student in group_students" style = "word-wrap: break-word;">
              <span class="col-xs-4"><img src="/assets/img_01.png" class="img-thumbnail" /></span>
              <span style=" float:right;"><input type="checkbox" name="checkbox" ng-click = "student_to_right(group_student)"/></span>
              <span class="col-xs-6"><h4>{{group_student.first_name}}{{group_student.last_name}}</h4>
              <p>{{group_student.email}}</p></span>
            </li>
          </ul>
        </div>
        <div class="col-xs-2">
          <div class="row top200">
            <span class="col-xs-4 col-xs-offset-3 arrow_left">
              <a ng-click="move_to_left()" data-toggle = "tooltip" title = "Deselect all Students" tooltip-placement = "top"><img src="/assets/big_arrow_left.png"/></a>
            </span>
            <span class="col-xs-4 arrow_right">
              <a ng-click="move_to_right()" data-toggle = "tooltip" title = "Select all Students" tooltip-placement = "top"><img src="/assets/big_arrow_right.png" /></a>
            </span>
          </div>
        </div>
        <div class="col-xs-5 right_section_area">
          <ul class="col-xs-12">
            <li class="col-xs-11 select_section" ng-repeat = "selected_student in selected_students" style = "word-wrap: break-word;">
              <span class="col-xs-4"><img src="/assets/img_01.png" class="img-thumbnail" /></span>
              <span style=" float:right;"><input type="checkbox" name="checkbox" ng-click= "student_to_left(selected_student)"/></span>
              <span class="col-xs-6"><h4>{{selected_student.first_name}}{{selected_student.last_name}}</h4>
              <p>{{selected_student.email}}</p></span>
            </li>
          </ul>
        </div>
      </div>
      <div class = "row">
        <div class = "col-xs-12 mar-top-20">
          <div class = "col-xs-1 pull-right">  
            <a type="button" class="btn btn_blue" ng-click = "serveTheQuiz()" ng-href ="#/served_quizzes" data-toggle = "tooltip" title = "Serve The Quiz" tooltip-placement = "top">Serve</a>
          </div>
          <div class = "col-xs-1 pull-right">
            <button type="button" class="btn" data-toggle = "tooltip" title = "Preview the Quiz" tooltip-placement = "top">Preview</button>
          </div>
          <div class = "col-xs-1 pull-right">
            <button type="button" class="btn" ng-click = "show_options = true" data-toggle = "tooltip" title = "Go to Select Option Step" tooltip-placement = "top">Previous</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  


