<div class="row_bottom">
  <div class="container">
    <div class="sub_nav">
      <span class="sub_nav_icon">
        <span class = "glyphicon glyphicon-arrow-left"></span>
      </span>
      <span class="sub_nav_link"><a href="#">Back</a></span>
    </div>
    <div class="sub_nav"  ng-hide = "show_options">  
      <span class="sub_nav_icon">
        <span class = "glyphicon glyphicon-stop"></span>
      </span>
      <span class="sub_nav_link"><a ng-click="stopQuiz()">Stop Quiz/Show Options</a></span>
    </div>  
  </div>
</div>