<div class="container">
	<div class="row">
  	<div class="col-xs-12">
      <div class="row">
        <div class="col-xs-3 btn_section">
          <button type="button" class="btn btn_grey">Options</button>
          <button type="button" class="btn btn_blue">Select Students</button>
        </div>
		  </div>
      <div class="row">
        <div class="col-xs-5 left_section_area">
          <div class=" col-xs-12">
            <input type="Search" placeholder="Search..." class="form-control search" />
          </div>
          <select class="form-control form_section">
              <option>Select Quiz</option>
              <option>Select Quiz #1</option>
              <option>Select Quiz #2</option>
          </select>
          <ul class="col-xs-12">
            <li class="col-xs-7 select_section">
              <span class="col-xs-4"><img src="images/img_01.png" class="img-thumbnail" /></span>
              <span style=" float:right;"><input type="checkbox" name="checkbox" /></span>
              <span class="col-xs-6"><h4>Mickeal John</h4>
              <p>info@abc.com</p></span>
            </li>
            <li class="col-xs-7 select_section">
              <span class="col-xs-4"><img src="images/img_01.png" class="img-thumbnail" /></span>
              <span style=" float:right;"><input type="checkbox" name="checkbox" /></span>
              <span class="col-xs-6"><h4>Mickeal John</h4>
              <p>info@abc.com</p></span>
            </li>
          </ul>
        </div>
      	<div class="col-xs-2">
          <div class="row top200">
          	<span class="col-xs-4 col-xs-offset-3 arrow_left">
              <a href="#"><img src="images/arrow_left.png" /></a>
            </span>
          	<span class="col-xs-4 arrow_right">
              <a href="#"><img src="images/arrow_right.png" /></a>
            </span>
          </div>
        </div>
      	<div class="col-xs-5 right_section_area">
          <ul class="col-xs-12">
            <li class="col-xs-7 select_section">
              <span class="col-xs-4"><img src="images/img_01.png" class="img-thumbnail" /></span>
              <span style=" float:right;"><input type="checkbox" name="checkbox" /></span>
              <span class="col-xs-6"><h4>Mickeal John</h4>
              <p>info@abc.com</p></span>
            </li>
            <li class="col-xs-7 select_section">
              <span class="col-xs-4"><img src="images/img_01.png" class="img-thumbnail" /></span>
              <span style=" float:right;"><input type="checkbox" name="checkbox" /></span>
              <span class="col-xs-6"><h4>Mickeal John</h4>
              <p>info@abc.com</p></span>
            </li>
          </ul>
        </div>
      </div>
		</div>
	</div>
</div>

