<div class="menu row">
    <div class="container">
    <ul>
        <li><a href="#">MANAGE</a></li>
        <li class="active"><a href="#">SERVE</a></li>
        <li><a href="#">GRADE</a></li>
        <li><a href="#">ANALYZE</a></li>
	</ul>
    </div>
</div>
<div class="row_bottom">
	<div class="container">
    	<div class="sub_nav">
            <span class="sub_nav_icon"><img src="images/serve_new_quiz_icon.png" /></span>
            <span class="sub_nav_link"><a href="#">Serve Quiz</a></span>
		</div>
    	<div class="sub_nav">
            <span class="sub_nav_icon"><img src="images/student_group.png" /></span>
            <span class="sub_nav_link"><a href="#">Student Groups</a></span>
		</div>
        <div class="sub_nav">
            <span class="sub_nav_icon"><img src="images/Add_group.png" /></span>
            <span class="sub_nav_link"><a href="#">Add Groups</a></span>
		</div>	
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-12 tag_btns">
			<span style="background-color:#00a404;" class="tags">Complete</span>
			<span style="background-color:#c64b00;" class="tags">Never Served</span>
			<span style="background-color:#0069a7;" class="tags">In Process</span>
        	<table class="table table-striped tag_btns">
            	<thead>
                	<th class="col-xs-1 manage_section">
                        Title
                    </th>
                	<th class="col-xs-2 manage_section">
                        Start Time
                    </th>
                	<th class="col-xs-2 manage_section">
                        End Time
                    </th>
                	<th class="col-xs-1 manage_section">
                        Status
                    </th>
                	<th class="col-xs-2 manage_section">
                        Student Status
                    </th>
                </thead>
                <tbody class="text-center">
                	<tr>
                    	<td>Quiz Bank 1</td>
                    	<td>20/20/2022 15:30PM</td>
                    	<td>20/20/2022 15:30PM</td>
                    	<td><span style="background-color:#00a404;" class="tags">Complete</span></td>
                    	<td><span style="color:#00a404; font-weight:bold;">Invited:</span>&nbsp;20&nbsp;&nbsp;&nbsp;<span style="color:#c64b00; font-weight:bold;">Pending:</span>&nbsp;3&nbsp;&nbsp;&nbsp;<span style="color:#0069a7; font-weight:bold;">Completed:</span>&nbsp;15&nbsp;</td>
                    </tr>
                	<tr>
                    	<td>Quiz Bank 1</td>
                    	<td>20/20/2022 15:30PM</td>
                    	<td>20/20/2022 15:30PM</td>
                    	<td><span style="background-color:#c64b00;" class="tags">Never Served</span></td>
                    	<td><span style="color:#00a404; font-weight:bold;">Invited:</span>&nbsp;20&nbsp;&nbsp;&nbsp;<span style="color:#c64b00; font-weight:bold;">Pending:</span>&nbsp;3&nbsp;&nbsp;&nbsp;<span style="color:#0069a7; font-weight:bold;">Completed:</span>&nbsp;15&nbsp;</td>
                    </tr>
                	<tr>
                    	<td>Quiz Bank 1</td>
                    	<td>20/20/2022 15:30PM</td>
                    	<td>20/20/2022 15:30PM</td>
                    	<td><span style="background-color:#0069a7;" class="tags">In Process</span></td>
                    	<td><span style="color:#00a404; font-weight:bold;">Invited:</span>&nbsp;20&nbsp;&nbsp;&nbsp;<span style="color:#c64b00; font-weight:bold;">Pending:</span>&nbsp;3&nbsp;&nbsp;&nbsp;<span style="color:#0069a7; font-weight:bold;">Completed:</span>&nbsp;15&nbsp;</td>
                    </tr>
                </tbody>
			</table>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
    	<div class="col-xs-12 footer">
            © 2014 QuizLib, Inc. Terms Privacy  |  Security  |  Contact
        </div>
    </div>
</div>
</body>
</html>
