<ul class = "questions-list">
  <li ng-repeat = "question in questions" class = "col-xs-12" ng-controller = "viewQuestionCtrl">
    <div class = "col-xs-1">
      <span ng-if = "question.question_type == 1" class = "glyphicon glyphicon-ok" style = "color:blue;"></span>
      <span ng-if = "question.question_type == 4" class = "glyphicon glyphicon-stop" style = "color:blue;"></span>
      <span ng-if = "question.question_type == 2" class = "glyphicon glyphicon-play" style = "color:blue;"></span>
      <span ng-if = "question.question_type == 3" class = "glyphicon glyphicon-edit" style = "color:blue;"></span>  
    </div>
    <div class = "col-xs-9" ng-bind-html="question.description | unsafe" mathjax-bind></div>
    <div class = "col-xs-1 pull-right">
      <img src = "/assets/arrow_down.png" ng-hide = "show_details" ng-click = "show_options(section.id,question.id,question.question_type)">
      <img src = "/assets/arrow_right.png" ng-show = "show_details" ng-click = "show_details = false">
    </div>
    <div ng-show = "show_details" class = "row">
      <div  ng-show = "show_details_view" ng-if = "question.question_type == 1" ng-include src="'/assets/partials/questions/true_false_view.html'">
      </div>
      <div  ng-hide = "show_details_view" ng-if = "question.question_type == 1" ng-include src="'/assets/partials/questions/true_false_edit.html'">
      </div>
      <div  ng-show = "show_details_view" ng-if = "question.question_type == 2" ng-include src="'/assets/partials/questions/mcq_view.html'">
      </div>
      <div  ng-hide = "show_details_view" ng-if = "question.question_type == 2" ng-include src="'/assets/partials/questions/mcq_edit.html'">
      </div>
      <div  ng-show = "show_details_view" ng-if = "question.question_type == 3" ng-include src="'/assets/partials/questions/open_ended_view.html'">
      </div>
      <div  ng-hide = "show_details_view" ng-if = "question.question_type == 3" ng-include src="'/assets/partials/questions/open_ended_edit.html'">
      </div>
      <div  ng-show = "show_details_view" ng-if = "question.question_type == 4" ng-include src="'/assets/partials/questions/fill_in_the_blank_view.html'">
      </div>
      <div  ng-hide = "show_details_view" ng-if = "question.question_type == 4" ng-include src="'/assets/partials/questions/fill_in_the_blank_edit.html'">
      </div>
    </div>
    
  </li>
</ul>