<table class = "table table-striped">
  <tbody>
    <tr ng-repeat = "question in questions" class = "row">
      <td class = "col-xs-1">
        <span ng-if = "question.question_type == 1" class = "glyphicon glyphicon-ok" style = "color:blue;"></span>
        <span ng-if = "question.question_type == 4" class = "glyphicon glyphicon-stop" style = "color:blue;"></span>
        <span ng-if = "question.question_type == 2" class = "glyphicon glyphicon-edit" style = "color:blue;"></span>
        <span ng-if = "question.question_type == 3" class = "glyphicon glyphicon-edit" style = "color:blue;"></span>  
      </td>
      <td class = "col-xs-9">{{question.description}}</td>
      <td class = "col-xs-1">
        <span class = "glyphicon glyphicon-edit"></span>
      </td>
    </tr>
  </tbody>
</table>