<div class = "col-xs-12 new-question-box mar-top-10 mar-bot-10" ng-controller = "newQuestionCtrl">
  <div class = "heading">
    <span>Add a Questions</span>
    <a ng-click = "hideQuestion()" data-toggle = "tooltip" title = "Cancel" tooltip-placement = "top">
      <span class = "glyphicon glyphicon-remove pull-right" style = "color:red;"></span>
    </a>
  </div>
  <form name="BlankForm" ng-submit="create_blank(BlankForm.$valid)" novalidate>
    <div class = "col-xs-12 mar-top-10">
      <div class = "form-group" ng-class="{ 'has-error' : (BlankForm.difficulty.$invalid) && (!BlankForm.difficulty.$pristine || submitted == true)}">
        <select class="form-control form_section" ng-model="selected_difficulty" name = "difficulty" required>
          <option value = "">Select Difficulty</option>
          <option value = "1">Easy</option>
          <option value = "2">Medium</option>
          <option value = "3">Hard</option>
        </select>
        <p ng-show="BlankForm.difficulty.$invalid && (!BlankForm.difficulty.$pristine || submitted == true)" class="help-block">Difficulty level is required.</p>
      </div>
    </div>
    <div class = "col-xs-12 mar-top-10">
      <div class = "form-group" ng-class="{ 'has-error' : (BlankForm.first_statement.$invalid) && (!BlankForm.first_statement.$pristine || submitted == true)}">
        <textarea name="first_statement" id="first_statement" rows="3" class = "form-control" ng-model = "first_statement" data-ck-editor required>
        </textarea>
        <p ng-show="BlankForm.first_statement.$invalid && (!BlankForm.first_statement.$pristine || submitted == true)" class="help-block">Statement before blank is required.</p>
      </div>  
    </div>
    <div class = "col-xs-12 mar-top-10">
      <div class = "form-group" ng-class="{ 'has-error' : (BlankForm.blank.$invalid) && (!BlankForm.blank.$pristine || submitted == true)}">
        <textarea name="blank" id="blank" rows="2" class = "form-control" ng-model = "blank" required>
        </textarea>
        <p ng-show="BlankForm.blank.$invalid && (!BlankForm.blank.$pristine || submitted == true)" class="help-block">Blank is required</p>
      </div>  
    </div>
    <div class = "col-xs-12 mar-top-10">
      <div class = "form-group" ng-class="{ 'has-error' : (BlankForm.second_statement.$invalid) && (!BlankForm.second_statement.$pristine || submitted == true)}">
        <textarea name="second_statement" id="second_statement" rows="3" class = "form-control" ng-model = "second_statement" data-ck-editor required>
        </textarea>
        <p ng-show="BlankForm.second_statement.$invalid && (!BlankForm.second_statement.$pristine || submitted == true)" class="help-block">Statement after quiz is required</p>
      </div>   
    </div>
    <div class = "col-xs-12 question-footer mar-top-10">
      <button type = "submit" class = "btn btn-success col-xs-3 pull-right" style = "margin-top: 5px;" data-toggle = "tooltip" title = "Create new question" tooltip-placement = "top"> Save Question</button>
    </div>
  </form>  
</div>  