<div class = "col-xs-12" style="margin-left: -13px;">
  <div class = "col-xs-2 pull-right" style="margin-right:-26px;">
      <div class = "pull-right">
        <a ng-if = "question.question_type != 4" ng-click= "show_edit()" data-toggle = "tooltip" title = "Edit Question" tooltip-placement = "top">  
          <img src = "/assets/edit_sm_icon.png" change-edit-on-hover-new hide-uper-bar-on-edit-blank>
        </a>
        <a ng-if = "question.question_type == 4" ng-click= "show_edit();show_blank_edit(question)" data-toggle = "tooltip" title = "Edit Question" tooltip-placement = "top">
          <img src = "/assets/edit_sm_icon.png" change-edit-on-hover-new hide-uper-bar-on-edit-blank>
        </a>
        <a ng-click = "delete_question(section.id,question.id,$index)" data-toggle = "tooltip" title = "Delete Question" tooltip-placement = "top">  
          <img src = "/assets/delete_sm_icon.png" change-delete-on-hover-new>
        </a>
        <a  ng-click = "make_clone" data-toggle = "tooltip" title = "make copy of question" tooltip-placement = "top">  
          <img src = "/assets/clone_icon.png" ng-click="clone_question(quiz_bank_id,section.id,question)">
        </a>
        
      </div>       
    </div>
  <div class = "col-xs-12">
    <!-- <span class = "col-xs-2">
      <strong>Difficulty:</strong>
    </span>
    <div class = "col-xs-8">
      <span ng-if = "question.difficulty_level == 1">Easy</span>
      <span ng-if = "question.difficulty_level == 2">Medium</span>
      <span ng-if = "question.difficulty_level == 3">Hard</span>
    </div> -->
  </div>
  <div class = "col-xs-12">
    <!-- <span class = "col-xs-2">
      <strong>
        Question:
      </strong>
    </span> -->
    <span class = "col-xs-10" ng-bind-html="question.description | unsafe"></span> 
    
    
  </div>
  <div class = "col-xs-12 mar-top-10">
    <div class = "col-xs-12">
      <span>
        <strong>Answer:</strong>
      </span>
      <span mathjax-bind = "question.question_options[0].answer" style= "display: inline-block;">
        {{question.question_options[0].answer}}
      </span>
    </div>
    <div style="margin-left: 13px;">  
      <a ng-show = "!extra_details" ng-click = "extra_details = true" data-toggle = "tooltip" title = "show more details" tooltip-placement = "top">  
           <u> Show extra details </u>
      </a>
      <a ng-show = "extra_details"  ng-click = "extra_details = false" data-toggle = "tooltip" title = "show more details" tooltip-placement = "top">  
           <u> Hide extra details </u>
      </a>
    <div>
  


    <div class="extra-details-class" ng-show = "extra_details">
      <span class = "col-xs-4 row">
        <span>
          Difficulty level:
        </span>
        <span ng-if = "question.difficulty_level == 1">Easy</span>
        <span ng-if = "question.difficulty_level == 2">Medium</span>
        <span ng-if = "question.difficulty_level == 3">Hard</span>    
      </span> 
      <span class = "col-xs-4">
        <span>
          Default Score:
        </span>
        <span>{{question.default_score}}</span>    
      </span>  
      <span class = "col-xs-12" ng-if="question.rubrick" style="margin-top:10px;padding:0px;">
        <span>
          <b>Rubric:</b>
        </span>
        <span>{{question.rubrick}}</span>    
      </span> 
    </div>
  </div>
  </div>

</div>  