<div class = "col-xs-12 new-question-box mar-top-10 mar-bot-10">
  <div class = "heading">
    <span>Update Question</span>
  </div>
  <form name="BlankForm" ng-submit="edit_blank(statement,section.id,question.id,question,BlankForm.$valid)" novalidate>
    
    <div class = "col-xs-12 mar-top-10">
      <div class = "form-group" ng-class="{ 'has-error' : (BlankForm.question_description.$invalid) && (!BlankForm.question_description.$pristine || submitted == true)}">
        <label>Question:</label>
        <textarea name="question_description" id="question_description" rows="3" class = "form-control" ng-model = "statement" data-ck-editor required>
        </textarea>
        <p ng-show="BlankForm.question_description.$invalid && (!BlankForm.question_description.$pristine || submitted == true)" class="help-block">Satement is required.</p>
      </div>  
    </div>
    <div class = "col-xs-12 mar-top-10">
      <div class = "form-group" ng-class="{ 'has-error' : (BlankForm.blank.$invalid) && (!BlankForm.blank.$pristine || submitted == true)}">
        <label>Answer:</label>
        <textarea name="blank" id="blank" rows="2" class = "form-control" ng-model = "question.question_options[0].answer" required>
        </textarea>
         <p ng-show="BlankForm.blank.$invalid && (!BlankForm.blank.$pristine || submitted == true)" class="help-block">Blank is required</p>
      </div>  
    </div>
    <div class = "col-xs-12 mar-top-10">
      <div class = "form-group" ng-class="{ 'has-error' : (BlankForm.difficulty.$invalid) && (!BlankForm.difficulty.$pristine || submitted == true)}">
        <label>Difficulty Level:</label>
        <select class="form-control" ng-model="question.difficulty_level" name = "difficulty">
          <option value = "1">Easy</option>
          <option value = "2">Medium</option>
          <option value = "3">Hard</option>
        </select>
        <p ng-show="BlankForm.difficulty.$invalid && (!BlankForm.difficulty.$pristine || submitted == true)" class="help-block">Difficulty level is required.</p>
      </div>
    </div>
    <!--<div class = "col-xs-12 mar-top-10">
      <div class = "form-group" ng-class="{ 'has-error' : (BlankForm.second_statement.$invalid) && (!BlankForm.second_statement.$pristine || submitted == true)}">
        <label>Question Satement After Blank *:</label>
        <textarea name="second_statement" id="second_statement" rows="3" class = "form-control" ng-model = "second_statement" data-ck-editor>
        </textarea>
      </div>  
    </div> -->
    <div class = "col-xs-12 question-footer mar-top-10">
      <div class = "col-xs-5 pull-right">
        <button class = "btn btn-danger col-xs-3" style = "margin-top: 5px;" ng-click = "hide_update()" data-toggle = "tooltip" title = "Cancel" tooltip-placement = "top"> Cancel</button>
        <button type = "submit" class = "btn btn-success col-xs-6" style = "margin-top: 5px;" data-toggle = "tooltip" title = "Save Question" tooltip-placement = "top"> Save Question </button>
      </div>
    </div>
  </form>  
</div>  