<div class = "col-xs-12 new-question-box mar-top-10 mar-bot-10" ng-controller = "newQuestionCtrl">
  <div class = "heading col-xs-12">
    <span>Add a Questions</span>
    <a ng-click = "hideQuestion()" data-toggle = "tooltip" title = "Cancel" tooltip-placement = "top">
      <span class = "glyphicon glyphicon-remove pull-right" style = "color:red;"></span>
    </a>
  </div>
  <form name="McqForm" ng-submit="create_mcq(McqForm.$valid)" novalidate>
    <div class = "col-xs-12 mar-top-10">
      <div class = "form-group" ng-class="{ 'has-error' : (McqForm.difficulty.$invalid) && (!McqForm.difficulty.$pristine || submitted == true)}">
        <select class="form-control form_section" ng-model="selected_difficulty" name = "difficulty" required>
          <option value = "">Select Difficulty</option>
          <option value = "1">Easy</option>
          <option value = "2">Medium</option>
          <option value = "3">Hard</option>
        </select>
        <p ng-show="McqForm.difficulty.$invalid && (!McqForm.difficulty.$pristine || submitted == true)" class="help-block">Difficulty level is required.</p>
      </div>
    </div>
    <div class = "col-xs-12 mar-top-10">
      <div class = "form-group" ng-class="{ 'has-error' : (McqForm.description.$invalid) && (!McqForm.description.$pristine || submitted == true)}">
        <textarea name="description" rows="3" class = "form-control" ng-model = "question.description" data-ck-editor required>
        </textarea>
        <p ng-show="McqForm.description.$invalid && (!McqForm.description.$pristine || submitted == true)" class="help-block">Question is required.</p>
      </div>  
    </div>
    <div class = "col-xs-12 mar-top-10">
      <table class = "table table-bordered">
        <thead>
          <th class = "col-xs-10">Answers</th>
          <th class = "col-xs-1">Correct</th>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class = "form-group" ng-class="{ 'has-error' : (McqForm.input0.$invalid) && (!McqForm.input0.$pristine || submitted == true)}">
                <input name = "input0" type = "text", class = "form-control" ng-model = "input_0" required>
                <p ng-show="McqForm.input0.$invalid && (!McqForm.input0.$pristine || submitted == true)" class="help-block">Required</p>
              </div>  
            </td>
            <td>
              <input type="radio" name="correct" ng-model = "radio" value = "0">
            </td>
          </tr>
          <tr>
            <td>
              <div class = "form-group" ng-class="{ 'has-error' : (McqForm.input1.$invalid) && (!McqForm.input1.$pristine || submitted == true)}">
                <input name = "input1" type = "text", class = "form-control" ng-model = "input_1" required>
                 <p ng-show="McqForm.input0.$invalid && (!McqForm.input0.$pristine || submitted == true)" class="help-block">Required</p>
              </div>  
            </td>
            <td>
              <input type="radio" name="correct" ng-model = "radio" value = "1">
            </td>
          </tr>
          <tr>
            <td>
              <input type = "text", class = "form-control" ng-model = "input_2" >
            </td>
            <td>
              <input type="radio" name="correct" ng-model = "radio" value = "2">
            </td>
          </tr>
          <tr>
            <td>
              <input type = "text", class = "form-control" ng-model = "input_3">
            </td>
            <td>
              <input type="radio" name="correct" ng-model = "radio" value = "3">
            </td>
          </tr>


        </tbody>
      </table>
    </div>
    <div class = "col-xs-12 question-footer">
      <button type = "submit" class = "btn btn-success col-xs-3 pull-right" style = "margin-top: 5px;" data-toggle = "tooltip" title = "Create new question" tooltip-placement = "top"> Save Question</button>
    </div>
  </form>  
  
</div>