<div class = "col-xs-12" style="margin-left: -13px;">
   <div class = "col-xs-2 pull-right" style="margin-right:-26px;">
      <div class = "pull-right">
        <a ng-if = "question.question_type != 4" ng-click= "show_edit()" data-toggle = "tooltip" title = "Edit Question" tooltip-placement = "top">  
          <img src = "/assets/edit_sm_icon.png" width=17 change-edit-on-hover-new hide-uper-bar-on-edit-mcq >
        </a>
        <a ng-if = "question.question_type == 4" ng-click= "show_edit();show_blank_edit(question)" data-toggle = "tooltip" title = "Edit Question" tooltip-placement = "top">
          <img src = "/assets/edit_sm_icon.png" width=17 change-edit-on-hover-new hide-uper-bar-on-edit-mcq >
        </a>
        <a ng-click = "delete_question(section.id,question.id,$index)" data-toggle = "tooltip" title = "Delete Question" tooltip-placement = "top">  
          <img src = "/assets/delete_sm_icon.png" width=14 change-delete-on-hover-new>
        </a>
        <a  ng-click = "make_clone" data-toggle = "tooltip" title = "make copy of question" tooltip-placement = "top">  
          <img src = "/assets/clone_icon.png" width=16 ng-click="clone_question(quiz_bank_id,section.id,question)">
        </a>

      </div>       
    </div>
  <div class = "col-xs-12">
    <!-- <span class = "col-xs-2">
      <strong>Difficulty:</strong>
    </span>
    <div class = "col-xs-8">
      <span ng-if = "question.difficulty_level == 1" >Easy</span>
      <span ng-if = "question.difficulty_level == 2" >Medium</span>
      <span ng-if = "question.difficulty_level == 3">Hard</span>
    </div>   -->
  </div>
  <div class = "col-xs-12">
    <!-- <span class = "col-xs-2">
      <strong>
        Question:
      </strong>
    </span> -->
    <!--<span class = "col-xs-10" ng-bind-html="question.description | unsafe"></span> -->
    <span style="float:left;" >{{numbering[sectionIndex] + $index + 1}}.</span>
    <span class = "col-xs-10" style= "width: 98%" mathjax-bind = "question.description">{{question.description}}</span>
    
  </div>

  <div ui-sortable ng-model="question.question_options"  class = "col-xs-12" style= "margin-top:-3px;">
    <div class = "col-xs-12 option-row" ng-repeat = "question_option in question.question_options">
      <span class = "col-xs-12">
        <span ng-if = "question_option.is_correct == 'true'">
          <img src="/assets/mcqtick.png" />
        </span>

        <span ng-if = "question_option.is_correct == true">
          <img src="/assets/mcqtick.png" />
        </span>

        <span ng-if = "question_option.is_correct == 'false'">
          <img src = "/assets/mcqcross.png">
        </span>
        <span ng-if = "question_option.is_correct == false">
          <img src = "/assets/mcqcross.png">
        </span>
        <span>
          {{options_alphabets[$index]}}:
        </span>
        <span mathjax-bind = "question_option.answer" style= "display: inline-block;">
          {{question_option.answer}}
        <span>    
          
      </span>
    </div>
    <div style="margin-left: 13px;">  
      <a ng-show = "!extra_details_question && quiz_bank.have_difficulty_levels || quiz_bank.have_explanations && !extra_details_question || quiz_bank.have_custom_scoring && !extra_details_question " ng-click = "extra_details_question = true" data-toggle = "tooltip" title = "show more details" tooltip-placement = "top">  
           <u> Show extra details </u>
      </a>
      <a ng-show = "extra_details_question"  ng-click = "extra_details_question = false" data-toggle = "tooltip" title = "show more details" tooltip-placement = "top">  
           <u> Hide extra details </u>
      </a>
    <div>
  


    <div class="extra-details-class" ng-show = "extra_details_question">
      <span class = "col-xs-4 row" ng-if="quiz_bank.have_difficulty_levels">
        <span>
          Difficulty level:
        </span>
        <span ng-if = "question.difficulty_level == 1">Easy</span>
        <span ng-if = "question.difficulty_level == 2">Medium</span>
        <span ng-if = "question.difficulty_level == 3">Hard</span>    
      </span> 
      <span class = "col-xs-4" ng-if="quiz_bank.have_custom_scoring">
        <span>
          Default Score:
        </span>
        <span>{{question.default_score}}</span>    
      </span>  
      <span class = "col-xs-12" ng-if="question.explanation && quiz_bank.have_explanations" style="margin-top:10px;padding:0px;">
        <span>
          <b>Explanation:</b>
        </span>
        <span>{{question.explanation}}</span>    
      </span> 
    </div>
  
  </div>

</div>
