<div class = "col-xs-12 edit-question-box mar-top-10" ng-controller = "newQuestionCtrl">
  <div class = "heading col-xs-12">
    <span>Update Question</span>
  </div>
  <div class = "col-xs-12 mar-top-10">
    <label>Question:</label>
    <textarea name="description" rows="3" class = "form-control" ng-model = "question.description" data-ck-editor>
    </textarea>
  </div>
  <div class = "col-xs-12 mar-top-10">
    <table class = "table table-bordered">
      <thead>
        <th class = "col-xs-10">Answers</th>
      </thead>
      <tbody>
        <tr ng-repeat = "option in question.question_options">
          <td>
            <div style= "margin-top:6px; float:left">
              <input ng-click = "select_option(option)" type="radio" name="correct" ng-model = "option.is_correct" value = "{{$index}}" ng-checked = "option.is_correct == true" >
            </div>
            <div class = "col-xs-11">
              <input type = "text", class = "form-control" ng-model = "option.answer" edit-add-option = "add_question_option(question)" disable-enter>
            </div>
            <div style = "margin-top:6px">
              <a><span class = "glyphicon glyphicon-trash" style = "color:red" remove-option ng-click = "remove_question_option(question,$index)"></span></a>
            </div>  
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class = "col-xs-12 mar-top-10">
    <label>Difficulty Level:</label>
    <select class="form-control" ng-model="question.difficulty_level" name = "difficulty">
      <option value = "1">Easy</option>
      <option value = "2">Medium</option>
      <option value = "3">Hard</option>
    </select>
  </div>
  <div class = "col-xs-12 question-footer mar-top-10">
    <div class = "pull-right col-xs-5">
      <button class = "btn btn-danger col-xs-3" style = "margin-top: 5px;" ng-click = "hide_update()" data-toggle = "tooltip" title = "Cancel" tooltip-placement = "top"> Cancel</button>
      <button ng-click = "edit_mcq(section.id,question.id,question,question.question_options)" class = "btn btn-success col-xs-6" style = "margin-top: 5px;" data-toggle = "tooltip" title = "Save Question" tooltip-placement = "top"> Save Question</button>
      
    </div>
  </div>
</div>