<div class = "col-xs-12 new-question-box mar-top-10 mar-bot-10" ng-controller = "newQuestionCtrl">
  <div class = "heading col-xs-12">
    <span>Add a Questions</span>
    <a ng-click = "hideQuestion()">
      <span class = "glyphicon glyphicon-remove pull-right" style = "color:red;"></span>
    </a>
  </div>
  <div class = "col-xs-12 mar-top-10">
    <textarea name="description" rows="3" class = "form-control" ng-model = "question.description">
    </textarea>
  </div>
  <div class = "col-xs-12 mar-top-10">
    <table class = "table table-bordered">
      <thead>
        <th class = "col-xs-10">Answers</th>
        <th class = "col-xs-1">Correct</th>
      </thead>
      <tbody>
        <tr>
          <td>
            <input type = "text", class = "form-control" ng-model = "input_0">
          </td>
          <td>
            <input type="radio" name="correct" ng-model = "radio" value = "0">
          </td>
        </tr>
        <tr>
          <td>
            <input type = "text", class = "form-control" ng-model = "input_1">
          </td>
          <td>
            <input type="radio" name="correct" ng-model = "radio" value = "1">
          </td>
        </tr>
        <tr>
          <td>
            <input type = "text", class = "form-control" ng-model = "input_2">
          </td>
          <td>
            <input type="radio" name="correct" ng-model = "radio" value = "2">
          </td>
        </tr>
        <tr>
          <td>
            <input type = "text", class = "form-control" ng-model = "input_3">
          </td>
          <td>
            <input type="radio" name="correct" ng-model = "radio" value = "3">
          </td>
        </tr>


      </tbody>
    </table>
  </div>
  <div class = "col-xs-12 question-footer">
    <button ng-click = "create_mcq()" class = "btn btn-success col-xs-3 pull-right" style = "margin-top: 5px;"> Save Question</button>
  </div>
</div>