<div class = "col-xs-12 new-question-box mar-bot-10" ng-controller = "newQuestionCtrl">
  <div class = "heading col-xs-12">
    <span>Add a Question</span>
  </div>
  <form name="McqForm" ng-submit="create_mcq(McqForm.$valid)" novalidate>
    <div class = "col-xs-12 mar-top-10">
      <a class = "col-xs-2 btn question-option-tab pull-left" ng-click = "change_question('True False')"> True False</a>
      <a class = "col-xs-2 btn question-option-tab pull-left active" ng-click = "change_question('Multiple Choice')"> Multiple Choice</a>
      <a class = "col-xs-2 btn question-option-tab pull-left" ng-click = "change_question('Fill in blank')">Fill in Blank </a>
      <a class = "col-xs-2 btn question-option-tab pull-left" ng-click =  "change_question('Open Ended')">Open Ended</a>
    </div>
    <div class = "col-xs-12 mar-top-10">
      <div class = "form-group" ng-class="{ 'has-error' : (McqForm.description.$invalid) && submitted == true}">
        <label>Question:</label>
        <textarea name="description" rows="3" class = "form-control" ng-model = "question.description" data-ck-editor required>
        </textarea>
        <p ng-show="McqForm.description.$invalid && submitted == true" class="help-block">Question is required.</p>
      </div>  
    </div>
    <div class = "col-xs-12 mar-top-10">
      <table class = "table table-bordered">
        <thead>
          <th class = "col-xs-10">Answers</th>
          <th class = "col-xs-1">Correct</th>
          <th class = "col-xs-1"></th>
        </thead>
        <tbody>
          <tr ng-repeat = "input in mcq_options track by $index">
            <td>
              
              <div class = "form-group" ng-class="{ 'has-error' : (McqForm.input{{$index}}.$invalid) && submitted == true}" style = "margin-bottom: 0px;">
                <input name = "input{{$index}}" type = "text", class = "form-control" ng-model = "mcq_options[$index]" add-option disable-enter>
                <p ng-show="McqForm.input{{$index}}.$invalid && submitted == true" class="help-block">Required</p>
              </div>  
            </td>
            <td>
              <div class = "form-group" style= "margin-bottom: 0px;">
                <input type="radio" name="correct" ng-model = "radio" value = "{{$index}}" ng-click = "add_correct_option(radio)" ng-init = "radio = $index" >
              </div>
            </td>
            <td>
              <a><span class = "glyphicon glyphicon-remove" style = "color:red;" remove-option ng-click = "remove_mcq_input($index)"></span><a>
            </td>
          </tr> 
        </tbody>
      </table>
    </div>
    <div class = "col-xs-12 mar-top-10">
      <div class = "form-group" ng-class="{ 'has-error' : (McqForm.difficulty.$invalid) &&submitted == true}">
        <label>Difficulty Level:</label>
        <select class="form-control" ng-model="selected_difficulty" name = "difficulty" ng-init = "selected_difficulty = 2">
          <option value = "1">Easy</option>
          <option value = "2">Medium</option>
          <option value = "3">Hard</option>
        </select>
        <p ng-show="McqForm.difficulty.$invalid && submitted == true" class="help-block">Difficulty level is required.</p>
      </div>
    </div>
    <div class = "col-xs-12 question-footer">
      <div class = "col-xs-5 pull-right">
        <button class = "btn btn-danger col-xs-3" ng-click = "hideQuestion();removeData();" data-toggle = "tooltip" title = "Cancel" tooltip-placement = "top">Cancel</button>
        <button type = "submit" class = "btn btn-success col-xs-6" data-toggle = "tooltip" title = "Create new question" tooltip-placement = "top"> Save Question</button>
      </div>  
    </div>
  </form>  
  
</div>