<div class = "col-xs-12 edit-question-box" style= "margin-top:-8px;">
  <!-- <div class = "heading col-xs-12">
    <span>Update Question</span>
  </div> -->
   <div class = "change_question_type_link">
      <a class = "col-xs-2 btn question-option-tab pull-left" 
      ng-click = "change_question('True False',question)" hide-uper-bar-on-change-tf> True False</a>
      <a class = "col-xs-2 btn question-option-tab active pull-left mcq-tab" 
      ng-click = "change_question('Multiple Choice',question)" hide-uper-bar-on-change-mcq> Multiple Choice</a>
      <a class = "col-xs-2 btn question-option-tab pull-left" 
      ng-click = "change_question('Fill in blank',question)" hide-uper-bar-on-change-blank>Fill in Blank </a>
      <a class = "col-xs-2 btn question-option-tab pull-left" 
      ng-click =  "change_question('Open Ended',question)" hide-uper-bar-on-change-open>Open Ended</a>

      <div class="icon-links pull-right" style="margin-right: 17px;"> 
        <button ng-click = "edit_mcq(section.id,question.id,question,question.question_options)"  data-toggle = "tooltip" title = "Save Question" tooltip-placement = "top"style="background:none;border:none;">  
            <img width=18 src = "/assets/floppy.png" change-delete-on-hover-new>
        </button >
        <a  ng-click = "make_clone" data-toggle = "tooltip" title = "Cancel Editing"  tooltip-placement = "top">
            <img width=18 src = "/assets/back.png" ng-click = "hide_update()">
        </a>
        <a ng-click = "delete_question(section.id,question.id,$index)" data-toggle = "tooltip" title = "Delete Question" tooltip-placement = "top">  
            <img width=14 src = "/assets/delete_sm_icon.png" change-delete-on-hover-new>
        </a>
        <a  ng-click = "make_clone" data-toggle = "tooltip" title = "make copy of question" tooltip-placement = "top"> 
         <img width=16  src = "/assets/clone_icon.png" ng-click="clone_question(quiz_bank_id,section.id,question)">
        </a>
      </div>
      <br>

      <div class="editor_links" style="margin-top: 9px;">
        <a ng-show = "!full_editor" ng-click = "full_editor = true" data-toggle = "tooltip" title = "show full editor" tooltip-placement = "top" style = "float:right;margin-right:16px;" show-upper-bar-ck-mcq>  
          <u> Full Editor </u>
        </a>
        <a ng-show = "full_editor" ng-click = "full_editor = false" data-toggle = "tooltip" title = "hide full editor" tooltip-placement = "top" style = "float:right;margin-right: 16px;" hide-uper-bar-mcq>  
           <u> Text Only </u>
        </a>
      </div>
    </div>
  
  <div class = "col-xs-12 " >
    <textarea name="description" rows="3" class = "form-control" ng-model = "question.description" data-ck-editor hide-edtior>
    </textarea>
  </div>
  

  <div class = "col-xs-12">
    <table class = "table ">
      <tbody>
        <tr ng-repeat = "option in question.question_options">
          <td style="border-top: none;padding-bottom:0px;">
            <div style= "margin-top:6px; float:left" ng-init = "check_for_true(option)">
            <img ng-if = "option != selected_option" src="/assets/mcqcross.png" ng-click = "select_option(option)"/>
            <img ng-if = "option == selected_option" src="/assets/mcqtick.png" ng-click = "select_option(option)"/>
             <!-- <input class = "radio-button" ng-click = "select_option(option)" type= "radio" name = "correct", flavour = "{{option.is_correct}}" mark-as-check value = ng-model = "option.is_correct" value = "$index"> --> 
              <!-- <input ng-click = "select_option(option)" type="radio" name="correct" mark-as-check> -->
            </div>
            <div class = "col-xs-11" style= "width:96%">
              <input type = "text", class = "form-control" ng-model = "option.answer"  data-ck-editor disable-enter>
            </div>
            <div style = "margin-top:6px">
              <a><span class = "glyphicon glyphicon-trash" style = "color:red" remove-option ng-click = "remove_question_option(question,$index)"></span></a>
            </div>  
          </td>

        </tr>
      </tbody>
    </table>

     <button class= "add-option-button" data-toggle = "tooltip" title = "Add Option" tooltip-placement = "top"  style="background:none;border:none;margin-left: 37px;position: absolute;margin-top:-20px;">  
            <img src = "/assets/plus.png" edit-add-option = "add_question_option(question)">
    </button >

      <div>  
      <a ng-show = "!extra_details_question && quiz_bank.have_difficulty_levels || quiz_bank.have_explanations && !extra_details_question || quiz_bank.have_custom_scoring && !extra_details_question " ng-click = "extra_details_question = true" data-toggle = "tooltip" title = "show more details" tooltip-placement = "top" >  
           <u> Advanced Options </u>
      </a>
      <a ng-show = "extra_details_question"  ng-click = "extra_details_question = false" data-toggle = "tooltip" title = "show more details" tooltip-placement = "top">  
           <u> Close Advanced Options </u>
      </a>
    </div>

  </div>
  

  <div class = "col-xs-12 row mar-top-10" ng-show="extra_details_question">

      <span class = "col-xs-2" ng-if = "quiz_bank.have_custom_scoring">
        <strong> Default Score:</strong>  
      </span> 
      <div class = "col-xs-10" style= "margin-bottom: 10px;" ng-if = "quiz_bank.have_custom_scoring">
        <input type="text" ng-model="question.default_score" class="form-control input-sm ng-scope ng-pristine ng-valid ng-valid-required" placeholder="score" name="score" required="" popover="Edit Score" popover-trigger="mouseenter" style="width:20%;">
      </div> 

      <div class="col-xs-2" ng-if = "quiz_bank.have_difficulty_levels"  >
        <label>Difficulty Level:</label>
      </div>
      <div class= "difficulty_select col-xs-5" ng-if = "quiz_bank.have_difficulty_levels" > 
        <select class="form-control" ng-model="question.difficulty_level" name = "difficulty" >
          <option value = "1">Easy</option>
          <option value = "2">Medium</option>
          <option value = "3">Hard</option>
        </select>
      </div>

  <br>
  <div class="col-xs-12"style="margin-top: 10px;" ng-if = "quiz_bank.have_explanations">
    <span class="col-xs-2" style="padding: 0px">
          <strong> Explanation:</strong>  
        </span> 
        <span class="col-xs-10" style="margin-left:-10px;" >
        <textarea type="text" ng-model="question.explanation" class="form-control  ng-scope " placeholder="Add Explanation" name="Explanation" popover="Add Explanation" popover-trigger="mouseenter">
      </span> 
  </div>
  </div>



  <!-- <div class = "col-xs-12 question-footer mar-top-10" ng-if = "quiz_bank.have_explanations">
    <div class = "pull-right col-xs-5">
      <button class = "btn btn-danger col-xs-3" style = "margin-top: 5px;" ng-click = "hide_update()" data-toggle = "tooltip" title = "Cancel" tooltip-placement = "top"> Cancel</button>
      <button ng-click = "edit_mcq(section.id,question.id,question,question.question_options)" class = "btn btn-success col-xs-6" style = "margin-top: 5px;" data-toggle = "tooltip" title = "Save Question" tooltip-placement = "top"> Save Question</button>
      
    </div>
  </div> -->
</div>
