<div class = "col-xs-12 new-question-box mar-top-10 mar-bot-10">
  <div class = "heading">
    <span>Update a Question</span>
    <a ng-click = "hide_update()">
      <span class = "glyphicon glyphicon-remove pull-right" style = "color:red;"></span>
    </a>
  </div>
  <div class = "col-xs-12 mar-top-10">
    <textarea name="question_statement" id="question_satemtent" rows="3" class = "form-control" placeholder = "Enter Question" ng-model = "question.description" data-ck-editor>
    </textarea>
  </div>
  <div class = "col-xs-12 mar-top-10">
    <textarea name="answer" id="answer" rows="3" class = "form-control" placeholder = "Enter answer" ng-model = "question_option.answer" data-ck-editor>
    </textarea>
  </div>
  <div class = "col-xs-12 question-footer mar-top-10">
    <button ng-click = "edit_question(section.id,question.id,question)" class = "btn btn-success col-xs-3 pull-right" style = "margin-top: 5px;"> Save Question</button>
  </div>
</div>  