<div class = "col-xs-12 new-question-box mar-bot-10" ng-controller = "newQuestionCtrl">
  <div class = "heading">
    <span>Add a Question</span>
  </div>
  <form name="OpenEndedForm" ng-submit="create_open_ended(OpenEndedForm.$valid)" novalidate>
    <div class = "col-xs-12 mar-top-10">
      <a class = "col-xs-2 btn question-option-tab pull-left" style="margin-left: 0px;" ng-click = "change_question('True False')" hide-uper-bar-on-change-tf> True False</a>
      <a class = "col-xs-2 btn question-option-tab pull-left" ng-click = "change_question('Multiple Choice')" hide-uper-bar-on-change-mcq> Multiple Choice</a>
      <a class = "col-xs-2 btn question-option-tab pull-left" ng-click = "change_question('Fill in blank')" hide-uper-bar-on-change-blank>Fill in Blank </a>
      <a class = "col-xs-2 btn question-option-tab pull-left open-tab active" ng-click =  "change_question('Open Ended')" hide-uper-bar-on-change-open>Open Ended</a>

      <div class="icon-links pull-right" "> 
        <button type = "submit" data-toggle = "tooltip" title = "Save Question" tooltip-placement = "top"style="background:none;border:none;">  
            <img src = "/assets/floppy.png" change-delete-on-hover-new> </img>
        </button >

        <a ng-click = "hideQuestion();removeData();" data-toggle = "tooltip" title = "Cancel Saving"  tooltip-placement = "top">
            <img src = "/assets/back.png" ng-click = "hide_update()">
        </a>
        
      </div>
      <br>

      <div class="editor_links" style="margin-top: 9px;">
        <a ng-show = "!full_editor" ng-click = "full_editor = true" data-toggle = "tooltip" title = "show full editor" tooltip-placement = "top" style = "float:right;" show-upper-bar-ck-mcq>  
          <u> Full Editor </u>
        </a>
        <a ng-show = "full_editor" ng-click = "full_editor = false" data-toggle = "tooltip" title = "hide full editor" tooltip-placement = "top" style = "float:right;" hide-uper-bar-mcq>  
           <u> Text Only </u>
        </a>
      </div>


      <!-- <div class = "form-group">
        <label>Question Type: </label>
        <select class="form-control" ng-model="selected_type" name = "selected_type" ng-change="change_question()">
          <option value = "True False">True False</option>
          <option value = "Multiple Choice">Multiple Choice</option>
          <option value = "Fill in blank">Fill in Blank</option>
          <option value = "Open Ended">Open Ended</option>
        </select>
      </div> -->
    </div>
    <div class = "col-xs-12 ">
      <div class = "form-group" ng-class="{ 'has-error' : (OpenEndedForm.open_ended_question_statement.$invalid) && submitted == true}">
        <textarea name="open_ended_question_statement" id="open_ended_question_statement" rows="3" class = "form-control" placeholder = "Enter Question" ng-model = "open_ended_statement" data-ck-editor required>
        </textarea>
        <p ng-show="OpenEndedForm.open_ended_question_statement.$invalid && submitted == true" class="help-block">Question is required.</p>
      </div>  
    </div>
    <div class = "col-xs-12 mar-top-10">
      <label>Answer:</label>
      <textarea name="answer" id="answer" rows="3" class = "form-control" placeholder = "Enter answer" ng-model = "open_ended_answer" data-ck-editor>
      </textarea>  
    </div>
    <div class = "col-xs-12 mar-top-10">
      <div class = "form-group" ng-class="{ 'has-error' : (OpenEndedForm.difficulty.$invalid) && submitted == true}">
        <label>Difficulty Level:</label>
        <select class="form-control" ng-model="selected_difficulty" name = "difficulty" ng-init = "selected_difficulty = 2">
          <option value = "1">Easy</option>
          <option value = "2">Medium</option>
          <option value = "3">Hard</option>
        </select>
        <p ng-show="OpenEndedForm.difficulty.$invalid && submitted == true" class="help-block">Difficulty level is required.</p>
      </div>
    </div>


    <div class = "col-xs-12" ng-if ="quiz_bank.rubricks">
      <div class = "form-group" ng-class="{ 'has-error' : (OpenEndedForm.rubrick.$invalid) && submitted == true}">
        <textarea name="rubrick" id="rubrick" rows="2" class = "form-control" placeholder = "Enter Rubrick (optional)" ng-model = "rubrick">
        </textarea>
        <p ng-show="OpenEndedForm.rubrick.$invalid && submitted == true" class="help-block">Question is required.</p>
      </div>  
    </div>



    <div class = "col-xs-12 ">
      <div class = "form-group" ng-class="{ 'has-error' : (OpenEndedForm.explanation.$invalid) && submitted == true}">
        <textarea name="explanation" id="explanation" rows="2" class = "form-control" placeholder = "Enter Explanation (optional)" ng-model = "explanation">
        </textarea>
        <p ng-show="OpenEndedForm.explanation.$invalid && submitted == true" class="help-block">Question is required.</p>
      </div>  
    </div>

    

    <div class = "col-xs-12 question-footer">
      <div class = "col-xs-5 pull-right">
        <!-- <button class = "btn btn-danger col-xs-3"  ng-click = "hideQuestion();removeData();" data-toggle = "tooltip" title = "Cancel" tooltip-placement = "top">Cancel</button>
        <button type="submit" class = "btn btn-success col-xs-6" data-toggle = "tooltip" title = "Create new question" tooltip-placement = "top"> Save Question</button> -->
      </div>  
    </div>
  </form>  
</div>  
