<div class = "col-xs-12 edit-question-box" style= "margin-top:-8px;">
  <div class = "change_question_type_link">
      <a class = "col-xs-2 btn question-option-tab  pull-left" 
      ng-click = "change_question('True False',question)" hide-uper-bar-on-change-tf> True False</a>
      <a class = "col-xs-2 btn question-option-tab pull-left" 
      ng-click = "change_question('Multiple Choice',question)" hide-uper-bar-on-change-mcq> Multiple Choice</a>
      <a class = "col-xs-2 btn question-option-tab pull-left " 
      ng-click = "change_question('Fill in blank',question)" hide-uper-bar-on-change-blank>Fill in Blank </a>
      <a class = "col-xs-2 btn question-option-tab active pull-left open-tab" 
      ng-click =  "change_question('Open Ended',question)" hide-uper-bar-on-change-open>Open Ended</a>
      <div class="icon-links pull-right" style="margin-right: 17px;"> 
        <button ng-click = "edit_mcq(section.id,question.id,question,question.question_options)"  data-toggle = "tooltip" title = "Save Question" tooltip-placement = "top"style="background:none;border:none;">  
            <img src = "/assets/floppy.png" change-delete-on-hover-new>
        </button >

        <a  ng-click = "make_clone" data-toggle = "tooltip" title = "Cancel Editing"  tooltip-placement = "top">
            <img src = "/assets/back.png" ng-click = "hide_update()">
        </a>
        <a ng-click = "delete_question(section.id,question.id,$index)" data-toggle = "tooltip" title = "Delete Question" tooltip-placement = "top">  
            <img src = "/assets/delete_sm_icon.png" change-delete-on-hover-new>
        </a>
        <a  ng-click = "make_clone" data-toggle = "tooltip" title = "make copy of question" tooltip-placement = "top">  <img src = "/assets/clone_icon.png" ng-click="clone_question(quiz_bank_id,section.id,question)">
        </a>
      </div>
      <br>

      <div class="editor_links" style="margin-top: 9px;">
        <a ng-show = " !full_editor "  ng-click= "full_editor = true" data-toggle = "tooltip" title = "show full editor" tooltip-placement = "top" style = "float:right;margin-right:16px;" show-upper-bar-ck>  
          <u> Full Editor </u>
        </a>
        <a ng-show = " full_editor" ng-click= "full_editor = false" data-toggle = "tooltip" title = "hide full editor" tooltip-placement = "top" style = "float:right;margin-right: 16px;" hide-uper-bar>  
           <u> Text Only </u>
        </a>
      </div>
    </div>
  <form name="OpenEndedForm" ng-submit="edit_question(section.id,question.id,question,OpenEndedForm.$valid)" novalidate>

    <div class = "col-xs-12 ">
      <div class = "form-group" ng-class="{ 'has-error' : (OpenEndedForm.question_statement.$invalid) && (!OpenEndedForm.question_statement.$pristine || submitted == true)}">
        <textarea name="question_statement" id="question_statement" rows="3" class = "form-control" placeholder = "Enter Question" ng-model = "question.description" data-ck-editor  required>
        </textarea>
        <p ng-show="OpenEndedForm.question_statement.$invalid && (!OpenEndedForm.question_statement.$pristine || submitted == true)" class="help-block">Question is required.</p>
      </div>
    </div> 

    <div class = "col-xs-12 mar-top-10">
      <label>Answer:</label>
      <div>
        <textarea name="answer" id="answer" rows="3" ng-show="full_editor"  class = "form-control" placeholder = "Enter answer" ng-model = "question.question_options[0].answer" data-ck-editor >
        </textarea>
      </div>

       <div class = "extra_details_div mar-top-10">  
      <a ng-show = "!extra_details_question && quiz_bank.have_difficulty_levels || quiz_bank.have_explanations && !extra_details_question || quiz_bank.have_custom_scoring && !extra_details_question " ng-click = "extra_details_question = true" data-toggle = "tooltip" title = "show more details" tooltip-placement = "top">  
           <u> Adnavced Options </u>
      </a>
      <a ng-show = "extra_details_question"  ng-click = "extra_details_question = false" data-toggle = "tooltip" title = "show more details" tooltip-placement = "top">  
           <u>Close Adnavced Options </u>
      </a>
    </div>

    </div>

    <div class = "col-xs-12 row mar-top-10" ng-show="extra_details_question" >
      <span class = "col-xs-2" ng-if = "quiz_bank.have_custom_scoring">
          <strong> Default Score:</strong>  
        </span> 
        <div class = "col-xs-10" style= "margin-bottom: 10px;" ng-if = "quiz_bank.have_custom_scoring">
        <input type="text" ng-model="question.default_score" class="form-control input-sm ng-scope ng-pristine ng-valid ng-valid-required" placeholder="score" name="score" required="" popover="Edit Score" popover-trigger="mouseenter" style="width:20%;">
      </div> 
      <div  ng-if = "quiz_bank.have_difficulty_levels" class = "form-group" ng-class="{ 'has-error' : (OpenEndedForm.difficulty.$invalid) && (!OpenEndedForm.difficulty.$pristine || submitted == true)}">
        <div class= "col-xs-2">
            <label>Difficulty Level:</label>
          </div>
        <div class= "col-xs-5">
          <select class="form-control" ng-model="question.difficulty_level" name = "difficulty">
            <option value = "1">Easy</option>
            <option value = "2">Medium</option>
            <option value = "3">Hard</option>
          </select>
        </div>
        <p ng-show="OpenEndedForm.difficulty.$invalid && (!OpenEndedForm.difficulty.$pristine || submitted == true)" class="help-block">Difficulty level is required.</p>
    </div>
    <br>

    <div class="col-xs-12" style="margin-top: 10px;" ng-if = "quiz_bank.have_rubrics">
      <span class="col-xs-2" style="padding: 0px">
            <strong> Rubric:</strong>  
          </span> 
          <span class="col-xs-10" style="margin-left:-10px;">
          <textarea type="text" ng-model="question.rubrick" class="form-control  ng-scope " placeholder="Add Rubric" name="Rubric"  popover="Add Rubrick" popover-trigger="mouseenter">
      </span>

    </div>

    <div class="col-xs-12" style="margin-top: 10px;" ng-if = "quiz_bank.have_explanations">
      <span class="col-xs-2" style="padding: 0px">
            <strong> Explanation:</strong>  
          </span> 
          <span class="col-xs-10" style="margin-left:-10px;">
          <textarea type="text" ng-model="question.explanation" class="form-control  ng-scope " placeholder="Add Explanation" name="Explanation" required="" popover="Add Explanation" popover-trigger="mouseenter">
      </span>
    </div>
    
    

    
 

 
  
  </form>  
</div>  
