<div class = "col-xs-12 new-question-box mar-top-10">
  <div class = "heading">
    <span>Add a Questions</span>
    <a ng-click = "hideQuestion()">
      <span class = "glyphicon glyphicon-remove pull-right" style = "color:red;"></span>
    </a>
  </div>
  <div class = "col-xs-12 mar-top-10">
    <textarea name="statement1" id="statement2" rows="3" class = "form-control" placeholder = "Enter Question">
    </textarea>
  </div>
  <div class = "col-xs-12 mar-top-10">
    <input type="radio" name="correct" value="true">True
    <input type="radio" name="correct" value="false">False
  </div>
  <div class = "col-xs-12 question-footer mar-top-10">
    <button class= "btn btn-primary col-xs-3" style = "margin-top: 5px;">Save & Add Another</button>
    <button class = "btn btn-success col-xs-3 pull-right" style = "margin-top: 5px;"> Save & Close </button>
  </div>

</div>  