<div class = "col-xs-12 new-question-box mar-top-10 mar-bot-10" ng-controller = "newQuestionCtrl">
  <div class = "heading">
    <span>Add a Questions</span>
    <a ng-click = "hideQuestion()">
      <span class = "glyphicon glyphicon-remove pull-right" style = "color:red;"></span>
    </a>
  </div>
  <div class = "col-xs-12 mar-top-10">
    <textarea name="question_statement" id="question_statement" rows="3" class = "form-control" placeholder = "Enter Question" ng-model = "true_false_question_statement" data-ck-editor>
    </textarea>
  </div>
  <div class = "col-xs-12 mar-top-10">
    <input type="radio" name="correct" ng-model = "selected_true_false_option" value="true">True
    <input type="radio" name="correct" ng-model = "selected_true_false_option" value="false">False
  </div>
  <div class = "col-xs-12 question-footer mar-top-10">
    <button ng-click = "create_true_false(); hideQuestion();" class = "btn btn-success col-xs-3 pull-right" style = "margin-top: 5px;"> Save Question </button>
  </div>
</div>  