<div class = "col-xs-12 new-question-box mar-top-20 mar-bot-20">
  <div class = "col-xs-12 mar-top-10">
    <span class = "col-xs-2">
      <strong>Difficulty:</strong>
    </span>
    <span class = "col-xs-9">Easy</span>
    <span class = "col-xs-1">
      <a ng-hide = "is_quiz_view" ng-click= "show_edit()">
        <span class = "glyphicon glyphicon-edit pull-right"></span>
      </a>&nbsp;
      <a ng-hide = "is_quiz_view" ng-click = "delete_question(section.id,question.id,$index)">  
        <span class = "glyphicon glyphicon-trash pull-right"></span>
      </a>
    </span>
  </div>
  <div class = "col-xs-12 mar-top-10">
    <span class = "col-xs-2">
      <strong>
        Question:
      </strong>
    </span>
    <span class = "col-xs-10">{{question.description}}</span>
    
  </div>
  <div class = "col-xs-12 mar-top-10">
    <div class = "col-xs-12">
      <span>
        <strong>Answer:</strong>
      </span>
      <span>
        {{question_option.is_correct}}
      </span>
    </div>
  </div>

</div>
