<div class = "col-xs-12 new-question-box mar-top-10 mar-bot-10">
  <div class = "heading">
    <span>Update the Questions</span>
    <a ng-click = "hide_update()" data-toggle = "tooltip" title = "Cancel" tooltip-placement = "top">
      <span class = "glyphicon glyphicon-remove pull-right" style = "color:red;"></span>
    </a>
  </div>
  <form name="TrueFalseForm" ng-submit="edit_question(section.id,question.id,question,TrueFalseForm.$valid)" novalidate>
    <div class = "col-xs-12 mar-top-10">
      <div class = "form-group" ng-class="{ 'has-error' : (TrueFalseForm.difficulty.$invalid) && (!TrueFalseForm.difficulty.$pristine || submitted == true)}">
        <select class="form-control form_section" ng-model="question.difficulty_level" name = "difficulty" required>
          <option value = "">Select Difficulty</option>
          <option value = "1">Easy</option>
          <option value = "2">Medium</option>
          <option value = "3">Hard</option>
        </select>
        <p ng-show="TrueFalseForm.difficulty.$invalid && (!TrueFalseForm.difficulty.$pristine || submitted == true)" class="help-block">Difficulty level is required.</p>
      </div>
    </div>
    <div class = "col-xs-12 mar-top-10">
      <div class = "form-group" ng-class="{ 'has-error' : (TrueFalseForm.question_statement.$invalid) && (!TrueFalseForm.question_statement.$pristine || submitted == true)}">
        <textarea name="question_statement" id="question_statement" rows="3" class = "form-control" placeholder = "Enter Question" ng-model = "question.description" data-ck-editor required>
        </textarea>
        <p ng-show="TrueFalseForm.question_statement.$invalid && (!TrueFalseForm.question_statement.$pristine || submitted == true)" class="help-block">Question is required.</p>
      </div>  
    </div>
    <div class = "col-xs-12 mar-top-10">
      <span>
        <input type="radio" name="correct" ng-model = "question_option.is_correct" value="true">True
      </span>
      <span>  
        <input type="radio" name="correct" ng-model = "question_option.is_correct" value="false">False
      </span>
    </div>
    <div class = "col-xs-12 question-footer mar-top-10">
      <button type = "submit" class = "btn btn-success col-xs-3 pull-right" style = "margin-top: 5px;" data-toggle = "tooltip" title = "Save Question" tooltip-placement = "top"> Save Question </button>
    </div>
  </form>  

</div>  