<!-- <div ng-include src="'/assets/partials/common/menu.html'"></div> -->
<div class="row_bottom">
  <div class="container">
    <div class="sub_nav">
      <span class="sub_nav_icon"><img src="/assets/create_icon_white.png" /></span>
      <span class="sub_nav_link">
        <a ng-href  ='#/analyze/quiz_report' data-toggle = "tooltip" title = "See Quiz Reports" tooltip-placement = "top">Quiz Reports</a>
      </span>
    </div>
    <div class="sub_nav">
      <span class="sub_nav_icon"><img src="/assets/create_icon_white.png" /></span>
      <span class="sub_nav_link">
        <a class = "active" ng-href = "#/analyze/student_report" data-toggle = "tooltip" title = "See Student Reports" tooltip-placement = "top">Student Reports</a>
      </span>
    </div>
  </div>
</div>
<div class = "row">
  <div class = "container">
  	<div class = "row">
      <div class = "col-xs-3">
        <div ng-include src="'/assets/partials/analyze/student_list.html'"></div>
      </div>
      <div class = "col-xs-9">
        <div ng-include src="'/assets/partials/analyze/student_graphs.html'"></div>
        <div ng-include src="'/assets/partials/analyze/student_details.html'"></div>
      </div>
    </div>
  </div>
</div>    