.modal-dialog
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h3
        Add New Group
    = form_for @group,:class => "form-horizontal", remote:true do |f|
      .modal-body
        =f.text_field :title,:class => "form-control", :placeholder => "Give group a title"
        .row{style: "margin-top:10px;"}       
          .col-xs-12
            =text_field_tag :add_new_users,nil,:class => "form-control add-new-users", :placeholder => "Add more users comma separated emails"
          .col-xs-2.pull-right{style: "margin-top:10px;"}
            =link_to "Add More Students","#", class: "btn btn-primary btn-warning add-users" 
          .student-cloud.col-xs-12{style: "margin-top:10px;"} 
            .student-thumbnails{style:"margin-top:10px;overflow-y: auto;max-height:250px"}
              -if current_user.students.present?  
                -current_user.students.each do |student|
                  .col-xs-2.student{style: "margin-left:5px;"}
                    .thumbnail.row{style:"width:250px"}
                      .col-xs-1
                        =check_box_tag "student_ids[]" ,student.id,false,:class => "delete"
                      .col-xs-1
                        %img{src:"/assets/Picupload_bg.png", id:"student-image",style:"width:25px;height:25px;"}
                      .col-xs-6.offset-1{style:"font-size:10px;"}
                        -if student.name.present?
                          = student.name
                        -else
                          = "Name not set by Student"    
                        =student.email
                      .col-xs-1.pull-right{style:"font-size:10px;"}
                        =link_to "x", "#", class: "already-student"
              -else
                .no-student-record
                  No Students Found. Invite Students by comma separated emails         
          
      .modal-footer
        =f.submit "Create Group", class: "btn btn-primary create-group"

:javascript
  $(document).ready(function(){
    $(".modal-body").on("click", ".add-users",function(){
      if (validateCommaSeparatedEmails($(".add-new-users").val()) == true){
        $(".add-new-users").siblings("label.error").remove()
        $.ajax({
          url: "groups/add_students",
          data: {emails:$(".add-new-users").val()},
          method: "GET",
          success: function(data){
            $(".no-student-record").remove()
            $(".add-new-users").val("")
            $(".student-thumbnails").append($(data).find('.student-thumbnails').html())
          }
        })
      }
      else{
        $(".add-new-users").after("<label class='error'>Entered emails are not valid.</label>")
      }
    })

    $(".student-cloud").on("click", ".already-student", function(){
      $(this).parents(".student").remove()
    })
  })             