.modal-dialog
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h3
        Add New Group
    = form_for @group,:class => "form-horizontal", remote:true do |f|
      .modal-body
        =f.text_field :title,:class => "form-control", :placeholder => "Give group a title"
        .row{style: "margin-top:10px;"}       
          .col-xs-12
            =text_field_tag :add_new_users,nil,:class => "form-control add-new-users", :placeholder => "Add more users comma separated emails"
          .col-xs-2.pull-right{style: "margin-top:10px;"}
            =link_to "Add More Students","#", class: "btn btn-primary btn-warning add-users" 
          .student-cloud.col-xs-12{style: "margin-top:10px;"} 
            .student-thumbnails{style:"margin-top:10px;overflow-y: auto;max-height:250px"}  
              -current_user.contacts.each do |contact|
                .col-xs-2{style: "margin-left:5px;"}
                  .thumbnail.row{style:"width:250px"}
                    .col-xs-1
                      =check_box_tag "contact_ids[]" ,contact.id,false,:class => "delete"
                    .col-xs-1
                      %img{src:"/assets/Picupload_bg.png", id:"student-image",style:"width:25px;height:25px;"}
                    .col-xs-6.offset-1{style:"font-size:10px;"}  
                      =contact.email
          
      .modal-footer
        =f.submit "Create Group", class: "btn btn-primary create-group"

:javascript
  $(document).ready(function(){
    $(".modal-body").on("click", ".add-users",function(){
      $.ajax({
        url: "contacts/create_new_contacts",
        data: {emails:$(".add-new-users").val()},
        method: "POST",
        success: function(data){
          $(".add-new-users").val("")
          $(".student-thumbnails").append($(data).find('.student-thumbnails').html())
        }
      })
    })
  })             