.student-cloud.col-xs-12
  .student-thumbnails{style:"margin-top:10px;overflow-y: auto;max-height:250px"}  
    -@group.student_groups.each do |student_group|
      .col-xs-2{style: "margin-left:5px;"}
        .thumbnail.row{style:"width:250px"}
          .col-xs-1
            =check_box_tag "user_ids[]" ,student_group.student.id,false,:class => "delete"
          .col-xs-1
            %img{src:"/assets/Picupload_bg.png", id:"student-image",style:"width:25px;height:25px;"}
          .col-xs-6.offset-1{style:"font-size:10px;"}
            -if student_group.student.name.blank?
              = "Name not set by student"
            -else
              = student_group.student.name
            =student_group.student.email