.student-thumbnails
  -@student_groups.each do |student_group|
    .col-xs-2.thumb.mar-left-5{id: student_group.id}
      .thumbnail.thumbnail-large.row
        .col-xs-1.thumbnail_checkbox
          =check_box_tag "student_ids[]" ,student_group.student.id,true,:class => "student-in-group"
        .col-xs-1.thumbnail_image
          =image_tag display_picture(student_group.student),:class => 'thumnail_picture'
        .col-xs-7.offset-1{style:"font-size:10px;"}
          =show_name(student_group.student)    
          =student_group.student.email
        .col-xs-1.pull-right.hide.cross{style:"font-size:10px;"}
          =link_to "x", "#", class: "student-in-database"  