.col-xs-12.groups
  -if @groups.blank?
    %table.table-bordered.mar-top-15.full-width
      %tbody
        %tr 
          %td You have no groups
  -else
    %table.table.table-bordered.mar-top-15.full-width
      %thead
        %tr
          %th Name
          %th Created on
          %th Last Updated on
          %th Action
      %tbody
        -@groups.each do |group|
          %tr{id: group.id}
            %td
              = link_to group.title, get_all_students_group_path(group), remote: true
            %td
              = show_date(group.created_at)
            %td
              = show_date(group.updated_at)  
            %td
              =link_to edit_group_path(group),remote: true,rel: "tooltip",title: "Edit Group" do
                %span.glyphicon.glyphicon-pencil
              = link_to group_path(group),data:{method: :delete, confirm: "Are you sure?"}, remote:true,rel: "tooltip",title: "Delete Group" do
                %span.glyphicon.glyphicon-trash