<tr id='collaborator-<%= collaborator.id %>'>
  <td> <%= collaborator.user.email %></td>
  <td id='permission-<%= collaborator.id %>' class = "custom_width">
    <%= collaborator.permission %>
  </td>
  <td>
    <span class="glyphicon glyphicon-remove-circle"></span>
  </td>
</tr>