.tag
  -#%span.glyphicon.glyphicon-tag
  -if question_topic.quiz_bank.question_topics.count > 1
    %span.badge.my-badge
      =question_topic.topic.title.downcase
    %span ....  

  -else
    %span.badge.my-badge
      =question_topic.topic.title.downcase  
