%tr.section-row{id: "section_#{@section.id}"}
  %td{style:"width:1500px;"}
    .row
      .well.well-sm.section.col-xs-12{id:@section.id}
        .col-xs-10
          .section-title-show{id:@section.id}
            =@section.title
          .section-title-edit{id:@section.id}
            %form.form-inline
              .form-group
                %input{type:"text", class:"form-control",id:"section-field",placeholder:"Enter Title", value: @section.title}  
        .col-xs-2.pull-right
          -if current_user.can_change_repo?(@section.quiz_bank.repository)
            =link_to "#", rel:"tooltip", title: "Hide questions" do
              %span.glyphicon.glyphicon-chevron-up
            =link_to new_repository_quiz_bank_section_question_path(@repository,@quiz_bank,@section),remote: true, rel: "tooltip", title: "Add another question in this section" do
              %span.glyphicon.glyphicon-plus-sign
            = link_to edit_repository_quiz_bank_section_path(@repository,@quiz_bank,@section),remote:true, rel: "tooltip", title: "Edit section title" do
              %span.glyphicon.glyphicon-pencil
            = link_to section_before_destroy_repository_quiz_bank_section_path(@repository,@quiz_bank,@section),remote:true,rel: "tooltip",title: "Delete section" do
              %span.glyphicon.glyphicon-trash
    .row                
      .questions{id:@section.id}
        =render partial: "questions/index", :locals => {:@section => @section}


:javascript
  $(document).ready(function(){
    $(".section-title-edit").hide()
    $(".section-title-show").click(function(){
      id = $(this).attr("id")
      $(this).hide()
      $("#"+id+".section-title-edit").show()
    })
    $(".section").on("keydown","#section-field",function(key){
      _this = this
      section_id = $(this).parents(".section-title-edit").attr("id")
      if(key.keyCode == 13){
        key.preventDefault()
        $.ajax({
          url: "/sections/"+section_id+"/update_title",
          data: {title: $(_this).val()},
          success: function(data){
            $(_this).parents(".section-title-edit").hide()
            $(_this).parents(".section-title-edit").prev().html(data.title).show()

          }
        })
      }
    })

    $(".section").on("click",".glyphicon-chevron-up",function(e){
      e.preventDefault()
      $(this).parents("td").children(".questions").hide()
      $(this).removeClass("glyphicon-chevron-up").addClass("glyphicon-chevron-down")
    })

    $(".section").on("click",".glyphicon-chevron-down",function(e){
      e.preventDefault()
      $(this).parents("td").children(".questions").show()
      $(this).removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-up")
    })
    $(".sections-table tbody").sortable({
      cursor: "move",
      axis: 'y',
      update: function(event,ui){
        if(ui.item.attr("class") == "question"){
          $.ajax({
            url: "/sections/change_question_positions",
            method: "POST",
            data: $(this).sortable("serialize"),
            success: function(data){
              $("#"+data.section.id+".questions").find(".question-number").each(function(index){
                $(this).html("<strong>Question No. "+(index+1)+"</strong>")
              })
            }                  
          })
        }
        else{
          console.log("section")
          $.ajax({
            url: "/sections/change_section_positions",
            method: "POST",
            data: $(this).sortable("serialize"),
            success: function(){
            }                  
          })
        }
        
      }
    }).disableSelection();
  })