$('#base-modal').modal('hide');
$(".section##{@section_id}").remove()
$(".questions##{@section_id}").remove()
if($(".section").length == 0){
$(".sections").append("<div class = 'top_bar_s no-record'>There are no sections.</div>")
}