$('#base-modal').html(' #{j(render(partial: 'edit'))} ').modal()
$("#section_form").validate({
onkeyup: false,
onclick: false,
onfocusout: false,
rules: {
"section[title]": {
required: true,
minlength: 5,
maxlength: 50
}
},
messages: {
"section[title]": {
required: "Please enter title",
minlength: "Please enter minimum 5 characters",
maxlength: "Please enter maximum 50 characters"
}
},
highlight: function(element) {
console.log("hello")
$(element).siblings('label.error').remove();
$(element).closest('.control_validate').removeClass('success').addClass('error');
},
// Success function accepts lable as an argument
success: function(element) {
$(element).remove();
$(element).closest('.control_validate').removeClass('error').addClass('success');
}
});
