<div class="menu">
  <div class="container">
    <ul>
      <li class="active"><a href="#">MANAGE</a></li>
      <li><a href="#">SERVE</a></li>
      <li><a href="#">GRADE</a></li>
      <li><a href="#">ANALYZE</a></li>
     </ul>
  </div>
</div>
<div class="row_bottom">
	<div class="container">
    <div class="input-group col-xs-2 pull-right">
      <input type="Search" placeholder="Search..." class="form-control search" ng-model = "titleFilter"/>
      <div class="input-group-btn">
        <span class="search"></span>
      </div>
    </div>	
	</div>
</div>
<div class="container">
	<div class="row">
    <table class="table table-striped tag_btns">
      <thead>
        <th class="col-xs-2 manage_section">
            Quiz Served
            <a href="#"><img src="/assets/heading_arrow_down.png" /></a>
        </th>
        <th class="col-xs-2 manage_section">
            Start Time
            <a href="#"><img src="/assets/heading_arrow_down.png" /></a>
        </th>
        <th class="col-xs-2 manage_section">
            End Time
            <a href="#"><img src="/assets/heading_arrow_down.png" /></a>
        </th>
        <th class="col-xs-2 manage_section">
            Student Status
        </th>
        <th class="col-xs-2 manage_section">
            Graded
        </th>
        <th class="col-xs-1 manage_section">
            Grade
        </th>
      </thead>
      <tbody class="text-center">
        <tr>
            <td>Quiz Bank 1</td>
            <td>20/20/2022 15:30PM</td>
            <td>20/20/2022 15:30PM</td>
            <td><span style="color:#00a404; font-weight:bold;">Invited:</span>&nbsp;20&nbsp;&nbsp;&nbsp;<span style="color:#c64b00; font-weight:bold;">Pending:</span>&nbsp;3&nbsp;&nbsp;&nbsp;<span style="color:#0069a7; font-weight:bold;">Completed:</span>&nbsp;15&nbsp;</td>
            <td><span style="background-color:green;" class="tags">12/20</span></td>
            <td><img src="/assets/grade_icon.png" /></td>
        </tr>
        <tr>
            <td>Quiz Bank 1</td>
            <td>20/20/2022 15:30PM</td>
            <td>20/20/2022 15:30PM</td>
            <td><span style="color:#00a404; font-weight:bold;">Invited:</span>&nbsp;20&nbsp;&nbsp;&nbsp;<span style="color:#c64b00; font-weight:bold;">Pending:</span>&nbsp;3&nbsp;&nbsp;&nbsp;<span style="color:#0069a7; font-weight:bold;">Completed:</span>&nbsp;15&nbsp;</td>
            <td><span style="background-color:green;" class="tags">6/20</span></td>
            <td><img src="/assets/grade_icon.png" /></td>
        </tr>
        <tr>
            <td>Quiz Bank 1</td>
            <td>20/20/2022 15:30PM</td>
            <td>20/20/2022 15:30PM</td>
            <td><span style="color:#00a404; font-weight:bold;">Invited:</span>&nbsp;20&nbsp;&nbsp;&nbsp;<span style="color:#c64b00; font-weight:bold;">Pending:</span>&nbsp;3&nbsp;&nbsp;&nbsp;<span style="color:#0069a7; font-weight:bold;">Completed:</span>&nbsp;15&nbsp;</td>
            <td><span style="background-color:green;" class="tags">10/20</span></td>
            <td><img src="/assets/grade_icon.png" /></td>
        </tr>
        </tbody>
      </table>
	</div>
</div>

