<!-- <div ng-include src="'/assets/partials/common/menu.html'"></div> -->
<div class="row_bottom">
	<div class="container">
    <div class="input-group col-xs-2 pull-right">
      <input type="Search" placeholder="Search..." class="form-control search input-sm clear-search" ng-model = "titleFilter" data-toggle = "tooltip" title = "Search Served Quiz by title" tooltip-placement "top"/>
      <div class="input-group-btn">
        <span class="search"></span>
      </div>
    </div>	
	</div>
</div>
<div class="container">
	<div class="row">
    <table class="table table-striped tag_btns">
      <thead>
        <th class="col-xs-2 manage_section">
            Quiz Served
            <a ng-click = "predicate = 'cloned_quiz_bank.title'; reverse=!reverse">
              <img src="/assets/heading_arrow_down.png" ng-click = "toggle_title()" ng-if = "title == true || title == undefined"/>
              <img src="/assets/heading_arrow_up.png" ng-click = "toggle_title()" ng-if = "title == false"/>
            </a>
        </th>
        <th class="col-xs-2 manage_section">
            Start Time
        </th>
        <th class="col-xs-2 manage_section">
            End Time
        </th>
        <th class="col-xs-3 manage_section">
            Student Status
        </th>
        <th class="col-xs-2 manage_section">
            Student Answers
        </th>
        <th class="col-xs-1 manage_section">
            Grade
        </th>
      </thead>
      <tbody class="text-center">
        <tr ng-repeat = "served_quiz in served_quizzes | orderBy:predicate:reverse | filter: titleFilter">
          <td>{{served_quiz.cloned_quiz_bank.title}}</td>
          <td>{{served_quiz.local_date}} {{served_quiz.local_start_time}}</td>
          <td ng-if = "served_quiz.no_expiration == 0">{{served_quiz.local_close_date}} {{served_quiz.local_end_time}}</td>
          <td ng-if = "served_quiz.no_expiration == 1"> No End Time Set</td>
          <td><span style="color:#00a404; font-weight:bold;">Invited:</span><a ng-click = "invited_students(served_quiz.id)" data-toggle = "tooltip" title = "Students who have not started quiz" tooltip-placement = "top">{{served_quiz.invited_sharings.length}}</a><span style="color:#c64b00; font-weight:bold;"> Pending:</span><a ng-click = "pending_students(served_quiz.id)" data-toggle = "tooltip" title = "Students who have started but not completed the quiz" tooltip-placement = "top"> {{served_quiz.pending_sharings.length}}</a><span style="color:#0069a7; font-weight:bold;"> Completed:</span><a ng-click = "completed_students(served_quiz.id)">{{served_quiz.completed_sharings.length}}</a></td>
          <td><span style="color:#00a404; font-weight:bold;">Attempted:</span>{{served_quiz.attempted_answers.length}}<span style="color:#c64b00; font-weight:bold;"> Graded:</span>{{served_quiz.graded_answers.length}}</td>
          <td>
            <a ng-href = "#/grade/{{served_quiz.id}}/questions" data-toggle = "tooltip" title = "Grade remaining questions" tooltip-placement = "top"><img src="/assets/grade_icon.png" /></a></td>
        </tr>
        </tbody>
      </table>
	</div>
</div>
<script type="text/ng-template" id="Modal.html">
  <div class='modal-header'>
    <a class = "pull-right" ng-click = "cancel()"><span class = "glyphicon glyphicon-remove"></span></a>
    <h3>Students Status</h3>
  </div>
  <div class="modal-body">
    <div ng-if = "items.length > 0">
      <table class = "table table-striped">
        <thead>
          <th class = "col-xs-3">Name</th>
          <th class = "col-xs-3">Email</th>
        </thead>
        <tbody>
          <tr ng-repeat = "sharing in items">
            <td>{{sharing.user.first_name}} {{sharing.user.last_name}}</td>
            <td>{{sharing.user.email}}</td>
          </tr>
        </tbody>  
      </table>
    </div>
    <div ng-if = "items.length == 0">
      No Students to show
    </div>  
  </div>
</script>
