<div ng-include src="'/assets/partials/common/menu.html'"></div>
<div class="row_bottom">
	<div class="container">
    <div class="input-group col-xs-2 pull-right">
			<input type="Search" placeholder="Search..." class="form-control search" />
      <div class="input-group-btn">
        <span class="search"></span>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">    
    <h2>Questions to Grade</h2>
    <div ng-repeat = "answer in answers_to_grade" ng-if = "answers_to_grade.length > 0">
      <div class = "col-xs-12 well well-sm">
    	  <span class="heading_strip">Question No {{$index + 1}}</span>
        <span class="pull-right"><a ng-click = "wrong(answer)"><img src="/assets/cross.png" style = "width: 20px; height:20px;"/></a></span>
        <span class="pull-right"><a ng-click = "correct(answer)"><img src="/assets/tick.png" style = "width: 20px; height:20px; "/></a></span>
      </div>
      <h4>Question Statement</h4>
      <p mathjax-bind = "answer.cloned_question.description"></p>
      <h4>Student Answer</h4>
      <p>{{answer.student_answer}}</p>
      <h4>Correct Answer</h4>
      <p mathjax-bind = "answer.answer"></p>
    </div>
    <div ng-if = "answers_to_grade.length == 0">
      <div class = "col-xs-12" style = "border: 1px solid; padding: 10px;">
        No More Questions to grade
      </div>
    </div>     
	</div>
</div>
