<!-- <div ng-include src="'/assets/partials/common/menu.html'"></div> -->
<div class="row_bottom">
	<div class="container">
    <div class="col-xs-6 input-group">
      <input type="Search" placeholder="Search..." class="form-control search input-sm clear-search" ng-model = "titleFilter" data-toggle = "tooltip" title = "Search Quiz by title" tooltip-placement "top"/>
      <span class="glyphicon glyphicon-search search-bar-icon large-search-icon"></span>
    </div>
	</div>
</div>
<div class="container">
	<div class="row">    
    <h2>Questions to Grade</h2>
    <div ng-repeat = "answer in answers_to_grade" ng-if = "answers_to_grade.length > 0">
      <div class = "col-xs-12 well well-sm">
        <div class = "col-xs-7">
    	    <span class="heading_strip">Question No {{$index + 1}}</span>
        </div>
        <div class = "col-xs-3" ng-if = "answer.served_quiz.basic_scoring == false">
          <span class = "col-xs-3">Score: </span>
          <span>
            <input type = "text" ng-model = "answer.student_score" class = "col-xs-6"> /{{answer.cloned_question.score}}
          </span>  
        </div>
        <div class = "col-xs-3" ng-if = "answer.served_quiz.basic_scoring == true">
          &nbsp;
        </div>
        <div class = "col-xs-2">  
          <span class="pull-right">
            <a ng-click = "wrong(answer)"><img src="/assets/cross.png" style = "width: 20px; height:20px;"/></a>
          </span>  
          <span class="pull-right">
            <a ng-click = "correct(answer)">
              <img src="/assets/tick.png" style = "width: 20px; height:20px; "/>
            </a>
          </span>
        </div>  
      </div>
      <h4>Question Statement</h4>
      <p mathjax-bind = "answer.cloned_question.description"></p>
      <h4>Student Answer</h4>
      <p>{{answer.student_answer}}</p>
      <h4>Correct Answer</h4>
      <p mathjax-bind = "answer.answer"></p>
    </div>
    <div ng-if = "answers_to_grade.length == 0">
      <div class = "col-xs-12" style = "border: 1px solid; padding: 10px;">
        No More Questions to grade
      </div>
    </div>     
	</div>
</div>
