<div class="menu">
  <div class="container">
    <ul>
      <li><a href="#/manage_quiz_banks">MANAGE</a></li>
      <li><a ng-href='#/served_quizzes'>SERVE</a></li>
      <li class = "active"><a href="#/grade">GRADE</a></li>
      <li><a href="#">ANALYZE</a></li>
    </ul>
  </div>
</div>
<div class="row_bottom">
	<div class="container">
    <div class="input-group col-xs-2 pull-right">
			<input type="Search" placeholder="Search..." class="form-control search" />
      <div class="input-group-btn">
        <span class="search"></span>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">    
    <h2>Remaining Questions to Grade</h2>
    <div class="form_section">
      <div class = "col-xs-12 well well-sm">
    	  <span class="heading_strip">Question No 1</span>
        <span class="pull-right"><a href="#"><img src="/assets/cross.png" /></a></span>
        <span class="pull-right"><a href="#"><img src="/assets/tick.png" /></a></span>
      </div>
      <h4>Question Statement</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna.</p>
      <h4>Student Answer</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, .</p>
      <h4>Correct Answer</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet </p>
    </div>     
	</div>
</div>
