.row
  .col-xs-12.table-responsive.padding-top40
    -if @sharings.blank?
      %table.table.table-bordered
        %tbody
          %tr
            = "No quizzes to show"
    -else
      %table.table.table-bordered
        %thead
          %th Quiz Name
          %th Teacher Name
          %th Subject
          %th Status
        %tbody
          -@sharings.each do |sharing|
            %tr
              %td
                =sharing.served_quiz.cloned_quiz_bank.title
              %td
                =sharing.served_quiz.owner.name
              %td
                =sharing.served_quiz.cloned_quiz_bank.subject.title
              %td
                -if sharing.is_pending?
                  =link_to "Invited",take_quiz_students_quiz_bank_path(sharing.served_quiz,sharing_id: sharing.id), :target => "_blank"
                -elsif sharing.is_started?
                  =link_to "Pending",take_quiz_students_quiz_bank_path(sharing.served_quiz,sharing_id: sharing.id), :target => "_blank"
                -else 
                  =show_status(sharing)