.tab-content.padding-top40.tab-container
  .row.quiz-header
    .col-xs-4.col-xs-offset-4
      %h1
        = @served_quiz.cloned_quiz_bank.title
    .col-xs-12
      %h2 Instructions
      %strong
        %p
          = @served_quiz.instructions
      %input{type: "hidden", value: @served_quiz.id, class: "served-quiz"}    
  .row.quiz-body            
    %table.table.table-bordered
      %thead
        %th Question
        %th Result
      %tbody
        -@served_quiz.cloned_quiz_bank.cloned_questions.each do |cloned_question|
          %tr
            %td
              =cloned_question.description.html_safe
            %td
              = show_result(cloned_question.user_answer(current_user,@served_quiz))
            