=render 'common/student_tabs'
.tab-content.padding-top40.tab-container
  =render 'students/quiz_banks/quiz_bank_tabs'
  =render partial: 'students/quiz_banks/all_quizzes', :locals => {:@sharings => @sharings}