.col-xs-12 
  .col-xs-8
    %h3 Manage Groups
  .col-xs-2.pull-right
    =link_to "Add Group", new_group_path,remote:true,class: "btn btn-primary add-group"
.col-xs-12    
  .col-xs-4.pull-left
    %input{type:"search", :class => "form-control search-group", :placeholder => "Search groups"}    
.col-xs-12.groups-div
  .col-xs-12.groups
    -if @groups.blank?
      %table.table.table-bordered.mar-top-15.full-width
        %tbody
          %tr 
            %td There are no groups to show
    -else
      %table.table.table-bordered.mar-top-15.full-width
        %thead
          %tr
            %th Name
            %th Created on
            %th Last Updated on
            %th Action
        %tbody
          -@groups.each do |group|
            %tr{id: group.id}
              %td
                = link_to group.title, get_all_students_group_path(group), remote: true
              %td
                = show_date(group.created_at)
              %td
                = show_date(group.updated_at)  
              %td
                =link_to edit_group_path(group),remote: true,rel: "tooltip",title: "Edit Group" do
                  %span.glyphicon.glyphicon-pencil
                = link_to group_path(group),data:{method: :delete, confirm: "Are you sure?"}, remote:true,rel: "tooltip",title: "Delete Group" do
                  %span.glyphicon.glyphicon-trash


:javascript
  $(document).ready(function(){
    $("#manage_group").on("keydown", ".search-group",function(key){
      if(key.keyCode == 13){
        _this = this
        key.preventDefault()
        $.ajax({
          url: "/groups/search_group",
          data: {q:{title_cont:$(_this).val()}},
          method: "GET",
          success: function(data){
            $(".groups").html($(data).find('.groups').html())
          }
        })
      }
    })
  })
                  