.col-xs-12 
  .col-xs-8
    %h3 Manage Groups
  .col-xs-2.pull-right
    =link_to "Add Group", new_group_path,remote:true,class: "btn btn-primary add-group"
.col-xs-12    
  .col-xs-4.pull-left
    %input{type:"search", :class => "form-control search-group", :placeholder => "Search groups"}    
.col-xs-12.groups-div
  .col-xs-9.groups
    -if @groups.blank?
      %table.table.table-bordered.mar-top-15.full-width
        %tbody
          %tr 
            %td There are no groups to show
    -else
      %table.table.table-bordered.mar-top-15.full-width
        %thead
          %tr
            %th Name
            %th Created on
            %th Action
        %tbody
          -@groups.each do |group|
            %tr{id: group.id}
              %td
                .title-show
                  = group.title
                .title-edit.hide
                  %input{type:"text",class: "group-title-edit form-control",value: group.title}
                  %input{type:"hidden", class: "group-id", value: group.id}
              %td
                = show_date(group.created_at)
              %td
                =link_to edit_group_path(group),remote: true,rel: "tooltip",title: "Edit Group" do
                  %span.glyphicon.glyphicon-pencil
                = link_to group_path(group),data:{method: :delete, confirm: "Are you sure?"}, remote:true,rel: "tooltip",title: "Delete Group" do
                  %span.glyphicon.glyphicon-trash


:javascript
  $(document).ready(function(){
    $("#manage_group").on("click",".title-show",function(e){
      $(this).addClass("hide")
      $(this).siblings(".title-edit").removeClass("hide")
    })

    $("#manage_group").on("keydown", ".group-title-edit", function(key){
      if(key.keyCode == 13){
        _this = this
        key.preventDefault()
        $.ajax({
          url: "groups/"+$(_this).siblings(".group-id").val()+"/edit_title",
          method: "GET",
          data: {title: $(_this).val()},
          success: function(data){
            $("table.table-bordered").html($(data).find('table.table-bordered').html())
          }
        })
      }
    })
    $("#manage_group").on("keydown", ".search-group",function(key){
      if(key.keyCode == 13){
        _this = this
        key.preventDefault()
        $.ajax({
          url: "/groups/search_group",
          data: {q:{title_cont:$(_this).val()}},
          method: "GET",
          success: function(data){
            $(".groups").html($(data).find('.groups').html())
          }
        })
      }
    })
  })
                  