.student-thumbnails
  -@students.each do |student|
    .col-xs-2.thumb.mar-left-5{id: student.id}
      .thumbnail.thumbnail-large.row
        .col-xs-1.thumbnail_checkbox
          =check_box_tag "student_group_ids[]" ,student.id,true,:class => "student-selected"
        .col-xs-1.thumbnail_image
          =image_tag display_picture(student),:class => 'thumnail_picture'
        .col-xs-7.offset-1{style:"font-size:10px;"}
          =show_name(student)   
          =student.email      
  -@invites.each do |invite|
    .col-xs-2.thumb.mar-left-15{id: invite.id}
      .thumbnail.thumbnail-medium.row
        .col-xs-1.thumbnail_checkbox
          =check_box_tag "invite_ids[]" ,invite.id,true,:class => "student-selected"
        .col-xs-1.thumbnail_image
          =image_tag display_picture(nil),:class => 'thumnail_picture'
        .col-xs-7.offset-1{style:"font-size:10px;"}
          = "Student invited"    
          =invite.receiver_email  