=render 'common/tabs'
.tab-content.padding-top40.tab-container
  .row
    .col-xs-12
      =render partial: "serving_tabs"
      =link_to "Serve Quiz",new_served_quiz_path, class: "btn btn-primary serve-quiz btn-top-button"    

  .row.tab-content
    .col-xs-12.tab-pane.active#history
      =render partial: "history", :locals => {:@served_quizzes => @served_quizzes}
    .col-xs-12.tab-pane#manage_group       
      =render partial: "manage_groups"        