=render 'common/tabs'
.tab-content.padding-top40.tab-container
  .row.top-options
    =render partial: "my_assessment_options"
  .row.contents
    .col-xs-3.left-bar
      %ul.navigation
        =render partial: "navigation", locals: {:@repositories => @repositories}            

                  
            

    .col-xs-9.right-list
      = render partial: "quiz_banks/all_quiz_banks", locals: {:@quiz_banks => @quiz_banks}

