$(".top-options").html(' #{j(render(partial: 'my_assessment_options'))} ')
$(".right-list").html(' #{j(render(partial: 'quiz_banks/all_quiz_banks'))} ')
$(".navigation").html(' #{j(render(partial: 'manage_quiz_banks/navigation'))} ')


