/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.f_size{
	font-size: 18px !important;
}
.centerInput{
	margin-left: 440px;
  margin-top: 60px;
}
.size_drop{
	margin-left: -50px !important;
}
.size_area{
	width: 212px !important;
}
.size_area_s{
	width: 212px !important;
	height: 45px !important;
}
.size_area_edit{
	width: 410px !important;
}
.update_b{
	width: 130px !important;
	height: 45px !important;
}
.profile_b{
	margin-left: 25px;
}
.fbook_text{
	font-size: 14px;
	font-style: italic;
	color:#999;
	margin-top: -5px;
	margin-bottom: 10px;
	margin-left: 20px;
}
.mar_top{
	margin-top: -10px;
	margin-bottom: 20px;
}
h4.lead {
font-size: 16px;
margin-bottom: 7px;
}
.loc{
	margin-left: -50px;
  margin-top: -25px;
  margin-bottom: 40px !important;
}
.btn_s_i{
	margin-top: 14px;
	font-size:16px !important;
	padding: 8px 21px !important;
	margin-right: 175px;
}
.fb_image{
	width: 20px;
  margin-right: 10px;
  margin-left: -225px;
  margin-top: -65px;
}
.or_s{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: -45px;
	font-size: 15px;
	font-style: italic;
	color:#ccc;
}
.mov_l{
	margin-left: 10px;
}
.link_p{
	margin-left: 58px;
  margin-top: -30px;
}
.sign_up-p{
	margin-left: 110px;
  margin-top: -42px;
}
.f_w{
	font-weight: 200;
	margin-right: 220px;
}
.f_w_e{
  font-weight: 200;
	margin-left: -160px;	
}
.f_w_r{
	font-weight: 200;
  margin-left: -100px;
}

.f_w_p{
  font-weight: 200;
	margin-right: 192px;	
}
.link_s{
	font-size: 13px;
}
.padd{
	padding-left: 30px !important;
}
.mar_left{
	margin-left: 30px;
}
#new_user .signup_email label.error{
    margin-top: 10px !important ;
}
#new_user .signup_password label.error{
    margin-top: 10px !important ;
}
#new_user .signin_email label.error{
    margin-top: 10px !important ;
    margin-left: -55px;
}
#new_user .signin_password label.error{
    margin-top: 10px !important ;
}
.error{
	color: red !important;
}
.pos_im{
	margin-left: 50px;
}
.pos_name{
	margin-left: 150px;
  margin-top: -40px;
}
.pos_pro{
	margin-top: 35px;
  margin-left: 45px;
}
.pos_email{
	margin-left: 45px;
}
.pos_edit{
	margin-left: 1005px;
  margin-top: -300px;
}
.logo_p{
	margin-top: -80px;
	margin-bottom: 25px;
}
.brws_btn{
	cursor: pointer;
  margin-left: 95px;
  margin-top: 20px;
}
.mar_t{
	margin-top: -15px;
}
.mar_res{
	margin-left: 200px !important; 
}
.mar_res_b{
  margin-left: 215px !important;	
}
.mar_top_profile{
	margin-left: -30px;
}
.loc_p{
	margin-right: 20px;
}
.loc_e{
	margin-right: 55px;
}
.big_thumb{
	width: 90px;
  height: 90px;
  border: 1px solid #B6B6B4;
  border-radius: 5px;
}
.pos_img_prof{
	margin-top: -4px;
	margin-left: 40px;
}
.f_pass{
	margin-top: 60px !important;
  margin-left: 15px;
}
.links_p{
	margin-top: 15px;
  margin-left: 15px;
}
.form_edit{
	margin-left: 255px;
}
.marg_cor{
	margin-top: -38px;
}
.creat-repo-div {
border-bottom: 1px solid #ECECEC;
position: relative;
}
.mar_l_30{
	margin-left: 20px;
}
.top_bar_s{
	margin-top: 40px;
}
.top_bar_ss{
	margin-left: -15px;
}

.custom_d{
	margin-left: 960px;
  margin-top: -65px;
}
.page-title-box {
float: left;
position: relative;
width: 100%;
}
.alert-error {
color: black;
background-color: #F62217;
}
