/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.f_size{
	font-size: 18px !important;
}
.centerInput{
	margin-left: 440px;
  margin-top: 60px;
}
.size_drop{
	width: 30% !important;
}
.size_area{
	width: 212px !important;
}
.size_area_s{
	width: 280px !important;
	height: 45px !important
}
.fbook_text{
	font-size: 14px;
	font-style: italic;
	color:#999;
	margin-top: -5px;
	margin-bottom: 10px;
	margin-left: 20px;
}
.mar_top{
	margin-top: -10px;
	margin-bottom: 20px;
}
h4.lead {
font-size: 16px;
margin-bottom: 7px;
}
.loc{
	margin-left: 90px;
  margin-top: -25px;
  margin-bottom: 40px;
}
.btn_s_i{
	margin-top: 14px;
	font-size:16px !important;
	padding: 8px 21px !important;
}
.fb_image{
	width:27px;
	margin-right:5px;
	margin-left:20px;
	margin-top: -65px;
}
.or_s{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 135px;
	font-size: 15px;
	font-style: italic;
	color:#ccc;
}
.mov_l{
	margin-left: 30px;
}
.link_p{
	margin-left: 115px;
  margin-top: -30px;
}
.sign_up-p{
	margin-left: 155px;
  margin-top: -42px;
}