body{
    background-image: url('/assets/bg.jpg');
}
.red-color{
    color: #9B2D1F !important;
}
.padding-zero{
    padding: 0px !important;
}

.padding-top40{
    padding-top: 40px !important;
}

.float-right{
    float: right !important;
}

.tab-container{
    
    padding: 20px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-top: none;
}

.nav-tabs.nav-justified>li>a{
    background-color: #eee;
    color: #696464;
}

.nav-tabs.nav-justified>li.active>a{
    background-color: white;
    color: #9B2D1F;
    
}

.main-container{
    min-height: 500px;
    background-color: white;
}
