.top-options{
	margin-top: 20px;
	border-bottom: 1px solid #E4E3E1;
	padding: 10px;
}
.btn-top-button{
	background-color: #9B2D20 !important;
	border-color: #9B2D20 !important;
	color: #ffffff !important;
}
.option-buttons a {
	margin-left: 2px;
}
.my-badge{
	background-color: green !important
}
.contents{
	margin-top:20px;
}
.my-nav-bar{
	background-color: #9B2D20 !important;
}
.my-header-nav li a{
	color: white!important;
}
.my-header-nav li a span.custom-size{
	font-size: 20px;
}
.initial-header{
	background-color: white;
	color: #9B2D20;
	padding-top: 19px;
	padding-bottom: 19px;
	padding-left: 27px;
	padding-right: 8px;
	font-size: 20px;
}
.final-header{
	color: white;
}
.footer{
	min-height: 100px;
	background-color: #100201;
	margin-top: 50px;
   	bottom:0;
   	width:100%;
}
.left-panel{
  border: 1px solid;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 1px #6D6D6D;
  -moz-box-shadow: 1px 1px 1px #6D6D6D;
  box-shadow: 1px 1px 1px #6D6D6D;
}
ul.list{
	list-style: none;
  margin: 0px;
  padding: 0px;
}
ul.list li{
  padding: 9px;
}
ul.list li .list-detils:hover{
  background-color: grey;
}
ul.list li ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.analytics-table{
  border: 1px solid;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 1px #6D6D6D;
  -moz-box-shadow: 1px 1px 1px #6D6D6D;
  box-shadow: 1px 1px 1px #6D6D6D;
}
ul.navigation{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
ul.navigation li{
	margin-top:10px;
}
ul.navigation li span a{
	color: inherit;
}
ul.navigation li ul{
	list-style: none;
	margin: 0px;
	padding-left: 20px;
}
ul.navigation li ul li a{
	color: inherit;
}
.well-header{
	background-color: #9B2D20;
	padding: 6px;
	color: white;
}
.well-header2{
	background-color: darkkhaki;
}
.mini_thumb{
	width: 50px;
	height: 50px;
	border-radius: 5px;
	border: 1px solid;
	border-radius: 5px;
}
.grade-quizzes{
	border: 1px solid;
	border-radius: 5px;
	-webkit-box-shadow: 2px 0px 0px #6D6D6D;
	-moz-box-shadow: 2px 0px 0px #6D6D6D;
	box-shadow: 2px 0px 0px #6D6D6D;
}
.quiz-analyze .heading{
	background-color: #4B78B6;
	padding: 16px;
	color: white;
	border: 1px solid;
	border-radius: 5px;
}
.quiz-analyze .student-detail{
	background-color: #B7CAE2;
	padding: 16px;
	border: 1px solid;
	border-radius: 5px;
	-webkit-box-shadow: 2px 0px 0px #6D6D6D;
	-moz-box-shadow: 2px 0px 0px #6D6D6D;
	box-shadow: 2px 0px 0px #6D6D6D;
}
.quiz-analyze .student-questions-detail
{
	border: 1px solid;
	border-radius: 6px;
	-webkit-box-shadow: 2px 2px 2px #6D6D6D;
	-moz-box-shadow: 2px 2px 2px #6D6D6D;
	box-shadow: 2px 2px 2px #6D6D6D;
}
.badge.success{
	background-color: #A1DB2D !important;
}

.badge.wrong{
	background-color: #DD2660 !important;
}

.badge.warning{
	background-color: #EEBCE2 !important;
}