.question-option-tab{
  color: white;
  background-color: #22A2DC
}

.clear-search{
	margin-top: 8px;
}

.custom_width{
	width: 200px;
}

.question-option-tab.active{
  color: white;
  background-color: #003656
}

.manage-list{
	padding: 5px 8px 0px 8px !important;
	text-align: left !important;
}

.custom-padding{
	padding: 5px 8px 0px 8px !important;
}
a:hover{
	text-decoration: none;
}
a:active{
	text-decoration: none;
}

.custom-hr{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	border: 0;
	border-top: 1px solid #DAD3D3;
}

.blue-button{
	margin: 0px !important;
  background-color: #22A2DC;
  float: initial !important;
  width:34px;
  height:31px;
  border-radius: 15px;
}

.blue-button:active{
  margin: 0px !important;
  background-color: #4F7CB5;
  float: initial !important;
  width:34px;
  height:31px;
  border-radius: 15px;
}
.green-button{
  margin: 0px !important;
  background-color: #A5BF5A;
  float: initial !important;
  width:34px;
  height:31px;
  border-radius: 15px;
}
.green-button:active{
  margin: 0px !important;
  background-color: #86DC2C;
  float: initial !important;
  width:34px;
  height:31px;
  border-radius: 15px;
}

.red-button{
  margin: 0px !important;
  background-color: #EC4C4C;
  float: initial !important;
  width:34px;
  height:31px;
  border-radius: 15px;
}

.responsive-button{
	white-space: normal !important;
  min-width: 110px;
  font-size: 18px;
}
.private-popover-div{
	max-width: 500px !important;
}
.private-popover-content-div{
	width: 400px !important;
}
.shared-popover-div{
	max-width: 280px !important;
}
.shared-popover-content-div{
	width: 280px !important;
}

.section-well{
	background-color: #22A2DC;
	padding: 10px;

	color: white;
	border-radius: 5px 5px 0px 0px;
}
.mar-bot-0{
	margin-bottom:0px !important;
}
.error{
	float: left;
	color: red;
}
.input-error{
	border: 1px solid red;
}
.input-success{
	border: 1px solid green;
}
.over{
	color:red;
}
.bin{
	border: 1px solid;
	padding: 20px;
}
.my-badge{
	background-color: green !important
}
.contents{
	margin-top:20px;
}
.mar-top-10{
	margin-top: 10px;
}
.mar-top-20{
	margin-top: 20px;
}
.mar-bot-10{
	margin-bottom: 10px;
}
.mar-bot-20{
	margin-bottom: 20px;
}
.mar-left-5{
	margin-left: 5px;
}
.mar-left-10{
	margin-left: 10px;
}
a{
	cursor: pointer;
}
.option-row{
	/*border: 1px solid; */
	padding: 5px;
}
.adjust-thumbnail{
	clear: both;
}
p.input-group ul{
	padding-right: 10px;
}



/***************** For Header ********************/

.my-nav-bar{
	background-color: #ffffff !important;
	/*min-height: 70px;*/
	/*margin-bottom: 0px !important; */
}
.remove-shadow{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.my-header-nav {
	font-size: inherit;
	/*margin-top: 10px;*/
	color: black;
	/*padding: 20px;*/
	font-size: 14px;
}
.my-header-nav2 {
	font-size: inherit;
	margin-top: 10px;
	color: black;
	padding: 20px;
	font-size: 14px;
}
.my-header-nav2 li span{
	font-size: 20px;
	padding: 10px;
	
}
.my-header-nav2 .dropdown a{
	color: black !important;
}
.my-header-nav2 li a span.custom-size{
	font-size: 20px;
}
.my-header-nav li span{
	font-size: 16px;
	padding: 10px;
	
}
.my-header-nav .dropdown a{
	color: black !important;
}
.my-header-nav li a span.custom-size{
	font-size: 20px;
}

.my-sub-header{
	background-color: #003656;
	border-radius: 0px !important;
	margin-bottom: 0px !important;
}
li.active{
	background-color: #EEEEEE;
}
ul.my-sub-header-list{
	list-style: none;
}

/***********************************for sub navigation ****************/
.top-options{
	border: 1px solid #E4E3E1;
	background-color: #F7F6F6;
}
.top-options .container ul{
	list-style: none;
  padding: 12px;
  padding-bottom: 20px;
}
.top-options-icon{
	color: #F7F6F6 !important;
} 
.btn-top-button{
	background-color: #9B2D20 !important;
	border-color: #9B2D20 !important;
	color: #ffffff !important;
}

/************ For Login Page *****************************************/

.login-box{
	background-color: #f7f7f6;
	border: 1px solid;
	margin-top: 50px;
}
.login-heading{
	font-size: 30px;
	background-color: #3D6DAE;
	color: white;
}
.form-row{
	margin-top: 20px;
}
.form-row span.form-label{
	margin-top: 6px;
}
.pass-link{
	margin-left: 10px;
}

/******************************** left navigation ************************************/

.left-panel{
  border: 1px solid;
  background-color: #22A2DC !important;
  margin-left: 39px;
  min-height: 400px;
  width: 263px;
}
ul.navigation{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
ul.navigation li{
	margin-top:10px;
}
ul.navigation li span a{
	color: inherit;
}
ul.navigation li ul{
	list-style: none;
	margin: 0px;
	padding-left: 20px;
}
ul.navigation li ul li a{
	color: inherit;
}

/***************************** new quiz_bank ****************************/
.from-label{
	margin-top: 6px;
}
.new-section-box{
	border: 1px solid;
	padding: 10px;
	background-color: #D6D6D6
}
.new-question-box{
	border: 1px solid #bdbdbd;
	padding: 10px;
	border-top: 0px;
}
.edit-question-box{
	padding: 10px;
	border-top: 0px;
}
.view-question-box{
	border-top:1px solid #bdbdbd;
	padding:10px;
}
.new-question-box .heading{
	border-bottom: 1px solid #bdbdbd;
	color: green;
	font-size: 14px;
	width:100%;
	padding: 5px;
}

.edit-question-box .heading{
	border-bottom: 1px solid #bdbdbd;
	color: green;
	font-size: 14px;
	width:100%;
	padding: 5px;
}
.question-footer{
	/*background-color: grey; */
	min-height: 44px;
}
ul.tag-list{
	list-style: none;
}
ul.tag-list li{
	display: inline;
}
ul.questions-list{
	padding: 0px;
	list-style: none;
}
ul.questions-list li{
	border: 1px solid #bdbdbd;
	padding-top: 10px;
	/*padding-bottom: 10px; */
	border-top: 0px;
}

/***************************************** manage quiz bank**********************/
.column-header{
	font-family: sans-serif;
font-size: 17px;
}
/*************************************Footer*****************************************/

.footer{
	margin-top: 50px;
  bottom:0;
  width:100%;
}
.my-footer-contents{
  border-top: 1px solid;
  font-size: 12px;
  padding: 12px;  
}

/********************************************************************************/

ul.list{
  list-style: none;
  margin: 0px;
  padding: 0px;
}
ul.list li{
  padding: 9px;
}
ul.list li .list-detils:hover{
  background-color: grey;
}
ul.list li ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.analytics-table{
  border: 1px solid;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 1px #6D6D6D;
  -moz-box-shadow: 1px 1px 1px #6D6D6D;
  box-shadow: 1px 1px 1px #6D6D6D;
}

.well-header{
	background-color: #9B2D20;
	padding: 6px;
	color: white;
}
.well-header2{
	background-color: darkkhaki;
}
.mini_thumb{
	width: 50px;
	height: 50px;
	border-radius: 5px;
	border: 1px solid;
	border-radius: 5px;
}
.grade-quizzes{
	border: 1px solid;
	border-radius: 5px;
	-webkit-box-shadow: 2px 0px 0px #6D6D6D;
	-moz-box-shadow: 2px 0px 0px #6D6D6D;
	box-shadow: 2px 0px 0px #6D6D6D;
}
.quiz-analyze .heading{
	background-color: #4B78B6;
	padding: 16px;
	color: white;
	border: 1px solid;
	border-radius: 5px;
}
.quiz-analyze .student-detail{
	background-color: #B7CAE2;
	padding: 16px;
	border: 1px solid;
	border-radius: 5px;
	-webkit-box-shadow: 2px 0px 0px #6D6D6D;
	-moz-box-shadow: 2px 0px 0px #6D6D6D;
	box-shadow: 2px 0px 0px #6D6D6D;
}
.quiz-analyze .student-questions-detail
{
	border: 1px solid;
	border-radius: 6px;
	-webkit-box-shadow: 2px 2px 2px #6D6D6D;
	-moz-box-shadow: 2px 2px 2px #6D6D6D;
	box-shadow: 2px 2px 2px #6D6D6D;
}
.badge.success{
	background-color: #A1DB2D !important;
}

.badge.wrong{
	background-color: #DD2660 !important;
}

.badge.warning{
	background-color: #EEBCE2 !important;
}
.group-dropdown, .selected{
	border: 1px solid;
	padding: 20px;
	border-radius: 6px;
	min-height: 300px;
	-webkit-box-shadow: 2px 2px 2px #6D6D6D;
	-moz-box-shadow: 2px 2px 2px #6D6D6D;
	box-shadow: 2px 2px 2px #6D6D6D;
}

.arrow a{
	border: 1px solid;
	border-radius: 5px;
	background-color: #F2F1F0;
	min-width: 50px;
	min-height: 50px;
}

.arrow a.arrow-link{
	position: absolute;
  	margin-top: 100px;
}

.arrow a.arrow-link-back{
	position: absolute;
  	margin-top: 160px;
}

.arrow a span{
	margin-left: 16px;
	margin-top: 15px;
}

.time-options{
	padding: 8px;
	padding-bottom: 23px;
	background-color: #f5f5f5;
}
.duration-options{
	padding-top: 15px;
  padding-bottom:15px;
  background-color: #f5f5f5;
}
.number-field{
  width:60px;
}

.search-div{
	border: 1px solid;
	position: absolute;
	z-index: 100000;
	background-color: white;
	margin-top: -14px;
	width: 376px;
}
/*********** edit section ***********/
tags-input .host{
	display: inline;
	width: 88%;

}
textarea.edit-form{
	display:inline;
	width : 88%;
	margin-left: 5px;

}
#Title-input input{
	font-size:18px;
	width:92%;
	display:inline;
	margin-left:8px;

}
#Title-input label {
	margin-top: 4px;
}

#subject-input input {
	margin-top:6px;
	margin-left:6px; 
	display:inline;
       	width:46%;

}

#subject-input label {
	margin-top:3%;
}

#subject-div {
	width:22%;
}

#tags-input-box {
	display:inline; 
	width : 55.5%;

}

#tags-input-box label {
	margin-top: 1.5%; 
	display:inline; 
	float:left
}
#quiz-info-display {
	width : 25%;
}
quiz-bargraph {
	        display: block;
		        width:700px;
			        height:300px;
				            }
student-bargraph {
                display: block;
                        width:700px;
                                height:300px;
                                            }


