@charset "utf-8";
/* CSS Document */

*{
	margin:0 auto;
	padding: 0;
	}

body{
	background-color:#f9f9f9;
	}

.header{
	padding:10px 0;
	}

.name{
	float:right;
	font-size:14px;
	color:#003656;
	padding-top:33px;
	}
.menu-link{
  padding: 0px 3px;
}  

.menu{
	/*background-color:#003656;
	height:45px;*/
	margin-top:30px;
}

.menu li{
	display:inline;
	padding:16px;
}

.menu li .menu-link a{
	color: #00426A;
	font-size: 16px;
}
.menu li .menu-link a:hover{
	/*background-color:#999;
	padding:13px 23px 15px 23px;*/
	text-decoration:none;
	padding-bottom: 10px;
	border-bottom: 3px solid #003656;
}		
.menu li .menu-link a.active{
	/*background-color:#999;
	padding:13px 23px 15px 23px;*/
	text-decoration:none;
	padding-bottom: 10px;
	border-bottom: 3px solid #003656;	
}


.sub_links{
	margin-bottom:20px;
	
	}
	
.row_bottom{
	height:45px;
	background-color:#003656;
	color: white;
	font-size:14px;
	/*border-bottom: 2px solid #e1e1e1 */
	-webkit-box-shadow: 0 7px 6px -5px #777;
	-moz-box-shadow: 0 7px 6px -5px #777;
	box-shadow: 0 7px 6px -5px #777;
	
	}

.sub_nav{
	padding-top:10px;
	float:left;
	}
	
.sub_nav_icon{
	margin-left:10px;
	}	
	
.sub_nav_link{
	padding:0px 5px;
	}
.sub_nav_link a{
	text-decoration:none;
	color:white;
	}
.sub_nav_link a:hover{
	text-decoration:none;
	padding-bottom: 10px;
	border-bottom: 3px solid white;
	}
.sub_nav_link a.active{
  text-decoration:none;
  padding-bottom: 10px;
  border-bottom: 3px solid white;
}	
	
.search{
	width:256px;
	height:30px;
	/*margin-top:5px;*/
	padding:5px;
	
	}
	
.left_section{
	min-height:500px;
	background-color:#eee;
	/*margin-top:20px;*/
	padding-top:20px;
	font-size:14px;
	line-height:32px;
	min-width: 200px;
  -webkit-box-shadow: 0px 1px 1px 0px;
  -moz-box-shadow: 0px 1px 1px 0px;
  box-shadow: 0px 1px 1px 0px;

	}
	
.left_section ul li{
	display:block;
	}
	
.left_section ul li a{
	text-decoration:none;
	/*padding:7px 20px 20px 30px;*/
  padding-left: 10px;
  color: #494949;
  font-family: sans-serif;
  
	}
.left_section ul li a.black{
	color:black;
	padding: 0px;
	}
.drive-icon{
  font-size: 10px;
}	
	
/*.left_section ul li a:hover{
	color:#003656;
	position: relative;
	background-image:url(/assets/left_nav_hover.png);
	background-repeat:no-repeat;
	}*/
.left_section ul li .complete_row{
    padding-left: 10px;
    color: #494949;
    font-family: sans-serif; 
  }  
.left_section ul li .complete_row:hover{
	background-color:#22A2DC;
	position: relative;
	color: white;
	/*background-image:url(/assets/left_nav_hover.png);
	background-repeat:no-repeat; */
	}
.left_section ul li .complete_row:hover a{
	background-color:#22A2DC;
	position: relative;
	color: white;
	}	
.left_section ul li .complete_row.active a{
	color:#22A2DC;
	position: relative;
	}
.left_section ul li .complete_row.active:hover a{
	color:#494949;
	position: relative;
	}	
.left_section ul li .complete_row span.link{
	cursor: pointer;
	}
.left_section ul li span.link{
	cursor: pointer;
	}			
	
.left_section ul li ul{
	padding-left:20px;
	}
	
.right_section{
	margin-top:20px;
	}
	
.right_section_view_page{
	margin-top:20px;
	margin-left:20px;
	
	}
.right_section table tbody tr td{
	text-align:center;
	}	

.manage_section{
	border:1px solid #FFF;
	height:40px;
	font-size:16px;
	font-weight:bold;
	color:#6a6a6a;
	text-align:center;
	background-color:#eeeeee;
	padding-top:9px;
	}
	
.footer{
	border-top: 1px solid #e1e1e1;
	padding-top:30px;
	margin-top:30px;
	margin-bottom:30px;
	font-size:12px;
	}

.heading{
	font-size:30px;
	color:#000;
	
	}

.row_space{
	padding:10px 0;
	
	}

.row_space tbody tr td a{
	text-decoration:none;
	color:#6a6a6a;
	
	}

.row_space tbody tr td a:hover{
	color:#b1cdde;
	
	}
.tag_btns{
	margin-top:30px;
	}
	
.tag_quiz_btns{
  margin-top:30px;
  margin-bottom:30px;
  
  }
  
.tag_quiz{
  font-size:16px;
  color:#FFF;
  font-weight:bold;
  margin-top:10px;
  margin-right:5px;
  
  }

.tag_quiz a{
  background-color:#999999;
  padding:6px 15px;
  color:#FFF;
  
  }
  
.tag_quiz a:hover{
  background-color:#22a2dc;
  text-decoration:none;
  color:#FFF;
  }
.tag_quiz a.active{
  background-color:#22a2dc;
  text-decoration:none;
  color:#FFF;
}  
.tags{
	font-size:16px;
	color:#FFF;
	font-weight:bold;
	padding:6px 15px;
	/*margin-top:10px;*/
	margin-right:5px;
	
	}
	
.select_dropdown{
	margin-top:30px;
	margin-left:30px;
	border-color:#e1e1e1;
	}
	
.btn{
	float:right;
	margin-bottom:15px;
	margin-left:15px;
	}
	
.btn_blue{
	background-color:#22a2dc;
	color:#FFF;
	float:left;
	}

.label_text{
	font-size:16px;
	color:#6a6a6a;
	margin-bottom:10px;
	}
	
.btn_grey{
	background-color:#767575;
	color:#FFF;
	float:left;
	}

.form_section{
	margin-top:20px;
	margin-right:30px;
	float:left;
	font-size:16px;
	color:#6a6a6a;
	}
	
.btn_section{
	margin-top:30px;
	margin-right:30px;
	}
	
.add_grp_section{
	border:1px #e1e1e1 solid;
	padding:20px;
	margin-top:30px;	
	}
	
.add_title{
	border:1px #e1e1e1 solid;
	padding:10px;
	margin:20px 0; 
	}
	
.label_field{
	border:1px #e1e1e1 solid;
	padding:10px;
	}	
	
.radio_contorl{
	margin-top:30px;
	}
	
.select_section{
	margin-top:20px;
	padding:10px;
	border:#e1e1e1 1px solid;
	text-decoration:none;
	
	}

.left_section_area{
	min-height:400px !important;
	margin-top:20px;
	padding:10px;
	border:#e1e1e1 1px solid;
	text-decoration:none;
	}
	
.right_section_area{
	min-height:400px !important;
	margin-top:20px;
	padding:10px;
	border:#e1e1e1 1px solid;
	text-decoration:none;
	}


h4{
	font-size:16px;
	font-weight:bold;
	color:#003656;
	
	}
	
.line_bg{
	margin-top:30px;
	border-top: 1px solid #e1e1e1;
	
	}

.strip{
	border: 1px solid #e1e1e1;
	background-color:#FFF;
	padding:15px;
	font-size:16px;
	color:#6a6a6a;
	
	}

ul li{
	text-decoration:none;
	display:inline;
	margin-right:10px;
	}
	
.top200 { margin-top:200px; }


.arrow_left a:hover{
	width:41px;
	height:30px;
	text-decoration:none;
	background-image: url(images/arrow_left_hover.png);
	background-repeat:no-repeat;
	}

.arrow_right a:hover{
	width:41px;
	height:30px;
	text-decoration:none;
	background-image: url(images/arrow_right_hover.png);
	background-repeat:no-repeat;
	z-index:1000;
	
	}
.student-bar{
	padding: 5px;
	border: 1px solid;
	background-color: #22A2DC;
}
.student-bar-header{
	/*background-color: #003656;*/
	color: white;
	padding: 5px;
}
.student-bar-header h4{
	color: white;
}
.student-header-student{
	padding: 5px;
}
.student-header-student:hover{
	background-color: #999999;
}
.student-header-student.active{
	background-color: #999999;
}
.no-record-found{
	padding: 5px;
	border: 1px solid;
} 	
.questions-in-report{
	border: 1px solid;
	padding: 5px;
	background-color: #DFDFDF;
}
.answers-in-report{
	border: 1px solid;
	padding: 5px;
}

.manage_list td a:hover{
	text-decoration: none;
}


