<div ng-include src="'/assets/partials/common/menu.html'"></div>
<tour step="currentStep" ng-init = "init()">
  <div class="row_bottom">
  	<div class="container">
      <div class="sub_nav">
        <span class="sub_nav_icon"><img src="/assets/serve_quiz_blue.png" /></span>
        <span class="sub_nav_link"><a href="#/serve_quiz/new" data-toggle = "tooltip" title = "Serve new Quiz" tooltip-placement = "top">Serve Quiz</a></span>
  		</div>
      <div class="sub_nav">
        <span class="sub_nav_icon"><img src="/assets/student_group.png" /></span>
        <span class="sub_nav_link"><a href="#/groups" data-toggle = "tooltip" title = "List Student Groups" tooltip-placement = "top">Student Groups</a></span>
  		</div>
      <div class = "sub_nav pull-right">
        <span class = "sub_nav_icon"><a tool-popover popover-placement="left" popover-html= "<p>Use this form to add new group. Add students to the group by searching students by their first name.</p><p><strong>Take page tour? </strong>&nbsp;<a ng-hide = 'user.show_tour' ng-click = 'openTour();change_display()'>Start Tour</a><a ng-show = 'user.show_tour' ng-click = 'closeTour();change_display()'>End Tour</a></p>" class = "popover-maker"><img src = "/assets/tour_icon.png" data-toggle = "tooltip" title = "Take the page tour" tooltip-placement = "top"/></a></span>
      </div>	
  	</div>
  </div>
  <div class="container">
  	<div class="row">
      <form name="GroupForm" ng-submit="saveGroup(GroupForm.$valid)" novalidate>
        <div class="row add_grp_section">
          <alert class = "mar-top-10" ng-repeat="alert in alerts" type='success'>{{alert.msg}}</alert>
          <button class = "btn btn-default btn">
            <span class = "glyphicon glyphicon-remove"></span>
            <span>
              <a class = "popover-field" ng-href = "#/groups" data-toggle = "tooltip" title = "Cancel" tooltip-placement = "top" popover="Cancel the group"  popover-trigger="mouseenter">Cancel</a>  
            </span>
          </button>
          <button class = "btn btn-default btn">
            <span class = "glyphicon glyphicon-floppy-saved"></span>
            <span>
              <a class = "popover-field" ng-click = "saveGroup(GroupForm.$valid)" data-toggle = "tooltip" title = "Save Group" tooltip-placement = "top" tourtip = "You can now save the group" tourtip-step = "4" tourtip-next-label="Finish" popover="Save the group"  popover-trigger="mouseenter">Save</a>  
            </span>
          </button>
          <div class="col-xs-12">
            <div class = "form-group" ng-class="{ 'has-error' : (GroupForm.title.$invalid) && (!GroupForm.title.$pristine || submitted == true)}">           
              <input type="text" placeholder="Add Title for Group" class="add_title form-control popover-field" ng-model = "group.title" name = "title" required tourtip = "Add Name to the Group" tourtip-step = "0" data-toggle = "tooltip" title = "Add title here" tooltip-placement = "top" popover="Add title to group"  popover-trigger="mouseenter"/>
              <p ng-show="GroupForm.title.$invalid && (!GroupForm.title.$pristine || submitted == true)" class="help-block">Title is required.</p>
            </div>  
          </div>
          <div class="col-xs-12">
            <input type="text" ng-model="student" typeahead="student as student.first_name for student in system_students | filter:{first_name:$viewValue} | limitTo:8" class="form-control input-sm type-search popover-field" enter = "AddStudent(student)" placeholder="Search by name" typeahead-on-select = "AddStudent(student)" tourtip = "Search Students and Select" tourtip-step = "1" data-toggle = "tooltip" title = "Search Students to add to group" tooltip-placement = "top" popover="Search students by first name and add them to group"  popover-trigger="mouseenter">
          </div>
          <div class="col-xs-12 radio_contorl">
            <input type="checkbox" name="checkbox" ng-click="predicate = 'first_name'; reverse=!reverse" data-toggle = "tooltip" title = "Sort Students by first name" tooltip-placement = "top"/ tourtip = "You can sort the students by first name" tourtip-step = "2" popover="Sort student by first name"  popover-trigger="mouseenter" class = "popover-field">&nbsp;&nbsp;Sort by name
          </div>
          <div class = "col-xs-12" ng-class="{ 'has-error' : selected_students.length == 0}">
            <p ng-show="selected_students.length == 0" class="help-block">Select atleast one student.</p>
          </div>
          <ul class="col-xs-12">
            <li class="col-xs-3 select_section" style = "word-wrap: break-word; width: 30%" ng-repeat = "stud in students | orderBy:predicate:reverse" ng-class="{ 'adjust-thumbnail' : {{$index%3}} == 0}" tourtip = "Click on users check boxes to select them" tourtip-step = "3">
              <span class="col-xs-4"><img src="{{stud.profile_pic.url}}" class="img-thumbnail" /></span>
              <span style=" float:right;">
                <input type="checkbox" name="checkbox" ng-click = "selected_student(stud)" popover="select to add the student to group"  popover-trigger="mouseenter" popover-placement = "right" class = "popover-field"/>
              </span>
              <span class="col-xs-6">
                <h4>{{stud.first_name}}{{stud.last_name}}</h4>
                <p>{{stud.email}}</p>
              </span>
            </li>
          </ul>
        </div>
      </form>  
  	</div>
  </div>
</tour>  

