<div class = "mar-top-10 col-xs-12 strip" ng-repeat = "question in served_quiz.questions_to_attempt" ng-if = "served_quiz.student_sharing.status_in_string != 'COMPLETED'">
  <span mathjax-bind = "question.description"></span>
  <div class = "pull-left" ng-if = "question.question_type == 1">
    <input type="radio" name="true_false{{$index}}" value = "true" ng-model = "question.answer">&nbsp;True
    &nbsp;&nbsp;<input type="radio" name="true_false{{$index}}" value = "false" ng-model = "question.answer">&nbsp;False
  </div>
  <div class = "pull-left" ng-if = "question.question_type == 2">
    <div ng-repeat = "question_option in question.cloned_question_options">
      <input type="radio" name="answer{{question_option.id}}{{$index}}" value = "{{question_option.id}}" ng-model = "question.answer">&nbsp;{{question_option.answer}}
    </div>
  </div>
  <div class = "pull-left col-xs-12" ng-if = "question.question_type == 3">
    <textarea ng-model = "question.answer" class =  "form-control"  rows = 2 placeholder = "Enter The Answer"></textarea>
  </div>
  <div class = "pull-left col-xs-12" ng-if = "question.question_type == 4">
    <input ng-model = "question.answer" class =  "form-control" placeholder = "Enter blank">
  </div>
</div>
<div class = "row" ng-if = "served_quiz.student_sharing.status_in_string != 'COMPLETED'">
  <div class = "col-xs-2 col-xs-offset-5 mar-top-20">
    <a class = "btn btn-success btn-lg pull-left" ng-click = "submit(served_quiz.questions_to_attempt)">Submit Answers</a>
  </div>
</div>
<div class = "row" ng-if = "served_quiz.student_sharing.status_in_string == 'COMPLETED' && served_quiz.answer != 3">
  <div class = "col-xs-12">
    <h3>Answers</h3>
  </div>
  <div class = "col-xs-12 strip">
    <table class = "table table-striped">
      <thead>
        <th class = "col-xs-5">Your Answer</th>
        <th class = "col-xs-5">Correct Answer</th>
        <!-- <th class = "col-xs-2">Result</th> -->
      </thead>
      <tbody>
        <tr ng-repeat = "answer in served_quiz.answers">
        <!--<span class = "col-xs-10" mathjax-bind = "answer_to_grade.question_answer"></span> -->
        <td>{{answer.student_answer}}</td>

        <td ng-if = "answer.cloned_question.question_type ==1  ||  answer.cloned_question.question_type ==2  " >{{answer.answer}}</td>

        <td ng-if = "answer.cloned_question.question_type ==4"  mathjax-bind = "answer.answer" >{{answer.answer}}</td>

        <td ng-if = "answer.cloned_question.question_type == 3" mathjax-bind = "answer.answer">
        <!-- <td ng-if = "answer.cloned_question.question_type != 3">{{answer.student_score}}</td> -->
        <!-- <td ng-if = "answer.cloned_question.question_type == 3">Teacher will grade</td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class = "row" ng-if = "served_quiz.student_sharing.status_in_string == 'COMPLETED' && served_quiz.answer == 3">
  <div class = "col-xs-12">
    <h3>Answers</h3>
  </div>
  <div class = "col-xs-12 strip">
    The answers will be discussed by the teacher
  </div>
</div>
<div class = "row" ng-if = "served_quiz.student_sharing.status_in_string == 'COMPLETED'">
  <div class = "col-xs-2 col-xs-offset-5 mar-top-20">
    <a class = "btn btn-success btn-lg pull-left" ng-href = "#/quizlist">Finish</a>
  </div>
</div>