<div class="row_bottom">
  <div class="container">
    <div class="sub_nav">
      <span class="sub_nav_icon">
        <span class = "glyphicon glyphicon-arrow-left"></span>
      </span>
      <span class="sub_nav_link"><a ng-href="#/quizlist">Back</a></span>
    </div> 
  </div>
</div>
<div class="container">
	<div class="row">
    <div class = "col-xs-3 col-xs-offset-5" style= "margin-left:37%;">
      
      <div class= "owner-name-quiz" style= "text-align: center;">
      <h2 > {{served_quiz.cloned_quiz_bank.title}}</h2>
      </div>
      
      <div class= "owner-name-quiz" style= "text-align: center;">
      &nbsp;&nbsp;{{served_quiz.owner.first_name}} {{served_quiz.owner.last_name}}
      </div>
      
      <div ng-if = "served_quiz.infinite_duration == 0 && served_quiz.student_sharing.status_in_string != 'COMPLETED'" style="text-align: center;">
        <div class = "col-xs-5 col-xs-offset-2" style= "margin-left: 14%;">{{timer.minutes}}&nbsp;Minutes:{{timer.counter}}Seconds</div>
      </div>
	</div>
  <div class = "row" ng-if = "served_quiz.student_sharing.status_in_string == 'INVITED'">
    <div class = "col-xs-12">
      <h3>Instructions</h3>
    </div>
    <div class = "col-xs-12">
      {{served_quiz.instructions}}
    </div>
    <div class = "col-xs-12 mar-top-10">
      Note the following before you continue
    </div>
    <div class = "col-xs-12 mar-top-10">
      <p ng-if = "served_quiz.infinite_duration == 1">
        1) The quiz has no time limit
      </p>
      <p ng-if = "served_quiz.infinite_duration == 0">
        1) The Quiz has {{served_quiz.duration}} mins.
      </p>
      <p>
        2) Quiz has {{served_quiz.cloned_quiz_bank.cloned_questions.length}} questions
      </p>
      <p>
        3) The Quiz will expire on {{served_quiz.close_date}} at {{served_quiz.end_time}}
      </p>
    </div>
    <div class = "col-xs-2 col-xs-offset-5 mar-top-20">
      <a class = "btn btn-success btn-lg pull-left" ng-click = "changeStatus()">Start Quiz</a>
    </div>
  </div>
  <div class = "row" ng-if = "served_quiz.student_sharing.status_in_string != 'INVITED'">
    <div ng-if = "served_quiz.show_all_questions == 1 && served_quiz.infinite_duration == 1" ng-include src="'/assets/partials/students/all_questions_answers_after_quiz.html'" ng-controller = "AllQuestionsTimeLimit">
    </div>
    <div ng-if = "served_quiz.show_all_questions == 1 && served_quiz.infinite_duration == 0" ng-include src="'/assets/partials/students/all_questions_with_time_limit.html'" ng-controller = "AllQuestionsTimeLimit">
    </div>
    <div ng-if = "served_quiz.show_all_questions == 0 && served_quiz.infinite_duration == 1" ng-include src="'/assets/partials/students/number_of_questions_unlimited_time.html'" ng-controller = "NumberOfQuestionsNOTimeLimit">
    </div>
    <div ng-if = "served_quiz.show_all_questions == 0 && served_quiz.infinite_duration == 0" ng-include src="'/assets/partials/students/number_of_questions_with_time_limit.html'" ng-controller = "NumberOfQuestionsNOTimeLimit">
    </div>
  </div> 
</div>
