<div class="row_bottom">
  <div class="container">
    <div class="sub_nav">
      <span class="sub_nav_icon">
        <span class = "glyphicon glyphicon-arrow-left"></span>
      </span>
      <span class="sub_nav_link"><a ng-href="#/quizlist">Back</a></span>
	</div>
  </div>
</div>
<div class="container">
	<div class="row">
    <div class = "col-xs-3 col-xs-offset-5" style= "margin-left:37%; padding-top:10px;">
      
      
      <div ng-if = "served_quiz.infinite_duration == 0 && served_quiz.student_sharing.status_in_string != 'COMPLETED'" style="text-align: center;">
		  <h4>{{served_quiz.cloned_quiz_bank.title}}</h4>
        <div class = "alert alert-success" role = "alert">
			<p>Time left:{{timer.minutes}}&nbsp;minutes:{{timer.counter}}seconds</p>
		</div>
      </div>
	</div>

	</div>
	
  <div class = "row" ng-if = "served_quiz.student_sharing.status_in_string == 'INVITED'">
	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading"><strong>Quiz Information</strong></div>

	  
	  <!-- List group -->
	  
	  <ul class="panel-body list-unstyled">
	    <li><p><strong>Number of Questions:</strong> {{served_quiz.cloned_quiz_bank.cloned_questions.length}}</p></li>
	    <li ng-if = "served_quiz.infinite_duration == 1" ><p><strong>Time limit:</strong> Unlimited time</p></li>
	    <li ng-if = "served_quiz.infinite_duration == 0"><p><strong>Time limit:</strong> {{served_quiz.duration}} mins.</p></li>
	    <li><p><strong>Teacher serving quiz:</strong> &nbsp;&nbsp;{{served_quiz.owner.first_name}} {{served_quiz.owner.last_name}}</p></li>
	    <li><p><strong>You may take the quiz anytime before:</strong> {{served_quiz.close_date}}  {{served_quiz.end_time}}</p></li>
		<li><p><strong>Instructions:</strong> {{served_quiz.instructions}}</p></li>
	  </ul>
  </div>
	

    
   
    <div class = "col-xs-2 col-xs-offset-5 mar-top-20">
      <a class = "btn btn-success btn-lg pull-left" ng-click = "changeStatus()">Start Quiz</a>
    </div>
  </div>
  <div class = "row" ng-if = "served_quiz.student_sharing.status_in_string != 'INVITED'">
    <div ng-if = "served_quiz.show_all_questions == 1 && served_quiz.infinite_duration == 1" ng-include src="'/assets/partials/students/all_questions_answers_after_quiz.html'" ng-controller = "AllQuestionsTimeLimit">
    </div>
    <div ng-if = "served_quiz.show_all_questions == 1 && served_quiz.infinite_duration == 0" ng-include src="'/assets/partials/students/all_questions_with_time_limit.html'" ng-controller = "AllQuestionsTimeLimit">
    </div>
    <div ng-if = "served_quiz.show_all_questions == 0 && served_quiz.infinite_duration == 1" ng-include src="'/assets/partials/students/number_of_questions_unlimited_time.html'" ng-controller = "NumberOfQuestionsNOTimeLimit">
    </div>
    <div ng-if = "served_quiz.show_all_questions == 0 && served_quiz.infinite_duration == 0" ng-include src="'/assets/partials/students/number_of_questions_with_time_limit.html'" ng-controller = "NumberOfQuestionsNOTimeLimit">
    </div>
  </div> 
</div>
