<div class="container">
	<div class="col-xs-12" ng-show = "enrol_group" style= "margin-bottom: -50px;margin-top: 20px;padding: 19px;margin-left: 0px;">
        <input type="text" ng-model="selected_group" typeahead="group.id as group.title for group in all_groups | filter:{title:$viewValue} | limitTo:8" class="form-control input-sm" enter="AddGroup(selected_group)" placeholder="Search by name" typeahead-on-select = "AddGroup(selected_group)" tourtip = "Search and add students by typing their name">
		<div style= "margin-top:10px;" >
      <input type="text" ng-model="code"  class="form-control input-sm"  placeholder="Protected! enter code"  tourtip = "Enter password to join">
    </div>
    <div class= "buttons mar-top-20">
			<button class= "btn btn-success" ng-click= "enrol()">Join</button>
			<button class= "btn btn-danger" ng-click = "enrol_group = false">Close</button>
    	</div>
    </div>
	

	
	<div class = "col-xs-12 mar-top-20">
		<button ng-hide= "enrol_group" class= "btn btn-success"style= "float:right;"ng-click = "enrol_group = true">Join Class</button>
		<h4>Your Current Classes</h4>	
    	
    <table class = "table table-striped">
      <thead>
        <th class = "col-xs-3 manage_section">Name</th>
        <th class = "col-xs-3 manage_section">Owner</th>
        <th class = "col-xs-3 manage_section">Students Enrolled</th>
      </thead>
      <tbody>
        <tr ng-repeat = "student_group in all_groups_of_student" style = "text-align: center;">
          <td>{{student_group.title}}</td>
          <td>{{student_group.owner.first_name}} {{student_group.owner.last_name}}</td>
          <td>{{student_group.students.length}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>