<div class="menu">
  <div class="container">
    <ul>
      <li><a href="#/dashboard">DASHBOARD</a></li>
      <li class="active"><a href="#/quizlist">QUIZ</a></li>
  	</ul>
  </div>
</div>
<div class="container">
	<div class="row">
    <div class="col-xs-12 tag_quiz_btns">
			<span class="tag_quiz"><a ng-click = "show_all_quizzes()" class = "active btn col-xs-2 pull-left responsive-button" style = "font-size: 18px;" show-active-tag>All Quizzes</a></span>
			<span class="tag_quiz"><a ng-click = "show_pending_quizzes()" class = "btn col-xs-2 pull-left responsive-button" style = "font-size: 18px;" show-active-tag>Invited Quizzes</a></span>
      <span class="tag_quiz"><a ng-click = "show_started_quizzes()" class = "btn col-xs-2 pull-left responsive-button" style = "font-size: 18px;" show-active-tag>Partial Quizzes</a></span>
      <span class="tag_quiz"><a ng-click = "show_attempted_quizzes()" class = "btn col-xs-2 pull-left responsive-button" style = "font-size: 18px;" show-active-tag>Completed Quizzes</a></span>
    </div>
  </div>
  <div class = "row">    
    <div ng-hide = "served_quizzes.length > 0" class = "col-xs-12">
      <span class = "col-xs-12" style = "border: 1px solid">
        No quizzes to show
      </span>  
    </div>
    <div ng-show = "served_quizzes.length > 0">
      <table class="table table-striped tag_btns">
        <thead>
          <th class="col-xs-2 manage_section">
            Quiz Title
            <a ng-click="predicate = 'cloned_quiz_bank.title'; reverse=!reverse">
              <img src="/assets/heading_arrow_down.png" ng-click = "toggle_title()" ng-if = "title == true || title == undefined"/>
              <img src="/assets/heading_arrow_up.png" ng-click = "toggle_title()" ng-if = "title == false"/>
            </a>
          </th>
          <th class="col-xs-2 manage_section">
              Teacher Name
            <a ng-click="predicate = 'owner.first_name'; reverse=!reverse">
              <img src="/assets/heading_arrow_down.png" ng-click = "toggle_teacher_name()" ng-if = "teacher_name == true || teacher_name == undefined"/>
               <img src="/assets/heading_arrow_up.png" ng-click = "toggle_teacher_name()" ng-if = "teacher_name == false"/>
            </a>
          </th>
          <th class="col-xs-2 manage_section">
              Subject
            <a ng-click="predicate = 'cloned_quiz_bank.subject'; reverse=!reverse">
              <img src="/assets/heading_arrow_down.png" ng-click = "toggle_subject()" ng-if = "subject_title == true || subject_title == undefined"/>
              <img src="/assets/heading_arrow_up.png" ng-click = "toggle_subject()" ng-if = "subject_title == false"/>
            </a>
          </th>
          <th class="col-xs-4 manage_section">
              Status
          </th>
          <th class = "col-xs-2 manage_section">
            Action
          </th>
        </thead>
        <tbody class="text-center">
          <tr ng-repeat = "served_quiz in served_quizzes | orderBy:predicate:reverse">
            <td>{{served_quiz.cloned_quiz_bank.title}}</td>
            <td>{{served_quiz.owner.first_name}}{{served_quiz.owner.last_name}}</td>
            <td>{{served_quiz.cloned_quiz_bank.subject}}</td>
            <td ng-if = "served_quiz.student_sharing.status_in_string == 'INVITED'">
              <span style="color:#00a404; font-weight:bold;">Invited:</span>&nbsp;
              <span ng-if = "served_quiz.status != 'Serving Completed'">Quiz expiring on {{served_quiz.close_date}} at {{served_quiz.end_time}}</span>
              <span ng-if = "served_quiz.status == 'Serving Completed'">Quiz expired on {{served_quiz.close_date}} at {{served_quiz.end_time}}</span>
            </td>
            <td ng-if = "served_quiz.student_sharing.status_in_string == 'PARTIAL'">
              <span style="color:#c64b00; font-weight:bold;">Partial:</span>&nbsp;
              <span ng-if = "served_quiz.status != 'Serving Completed'">Quiz expiring on {{served_quiz.close_date}} at {{served_quiz.end_time}}</span>
              <span ng-if = "served_quiz.status == 'Serving Completed'">Quiz expired on {{served_quiz.close_date}} at {{served_quiz.end_time}}</span>
            </td>
            <td ng-if = "served_quiz.student_sharing.status_in_string == 'COMPLETED'">
              <span style="color:#0069a7; font-weight:bold;">Complete:</span>&nbsp;
              <span ng-if = "served_quiz.status != 'Serving Completed'">Quiz expiring on {{served_quiz.close_date}} at {{served_quiz.end_time}}</span>
              <span ng-if = "served_quiz.status == 'Serving Completed'">Quiz expired on {{served_quiz.close_date}} at {{served_quiz.end_time}}</span>
            </td>
            <td>
              <a ng-if = "served_quiz.status == 'In Process' && served_quiz.student_sharing.status_in_string != 'COMPLETED'" data-toggle = "tooltip" title = "Proceed to Quiz" tooltip-placement = "top" ng-href = "#/quiz/{{served_quiz.id}}/attempt">
                <img src="/assets/attempt.png"/>
              </a>
              <a ng-if = "served_quiz.status == 'In Process' && served_quiz.student_sharing.status_in_string == 'COMPLETED'" data-toggle = "tooltip" title = "Proceed to Quiz" tooltip-placement = "top" ng-href = "#/quiz/{{served_quiz.id}}/answers">
                <img src="/assets/attempt.png"/>
              </a>

              <span ng-if = "served_quiz.status == 'Serving Completed' || served_quiz.status == 'Not Served Yet'" style = "border: 1px solid">
                Quiz Not Available
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>  
	</div>
</div>
