<ul class="nav nav-tabs nav-justified">
  <li class='active col-xs-2 padding-zero'>
    <a href="<%=repositories_path%>" class='active'>
      <span class="glyphicon glyphicon-align-justify"></span>
      Repository
    </a>
  </li>
  <li class='active col-xs-2 padding-zero'>
    <a href="#profile" >
      <span class="glyphicon glyphicon glyphicon-edit"></span>
      Quiz
    </a>
  </li>
  <li class='active col-xs-2 padding-zero'>
    <a href="#messages" data-toggle="tab">
      <span class="glyphicon glyphicon glyphicon-list-alt"></span>
      Serve
    </a>
  </li>
  <li class='active col-xs-2 padding-zero'>
    <a href="#messages" data-toggle="tab">
      <span class="glyphicon glyphicon glyphicon-list-alt"></span>
      Student
    </a>
  </li>
  <li class='active col-xs-2 padding-zero'>
    <a href="#messages" data-toggle="tab">
      <span class="glyphicon glyphicon glyphicon-inbox"></span>
      Reports
    </a>
  </li>
  <li class='active col-xs-2 padding-zero'>
    <a href="#settings" data-toggle="tab">
      <span class="glyphicon glyphicon-cog"></span>
      Settings
    </a>
  </li>
</ul>