<ul class="nav nav-tabs nav-justified">
  <li class="<%= controller.class == ManageQuizBanksController ? 'active col-xs-2 padding-zero' : 'col-xs-2 padding-zero' %>">
    <a href="<%= manage_quiz_banks_path %>">
      <span class="glyphicon glyphicon-align-justify"></span>
      Manage
    </a>
  </li>
  <li class="<%= controller.class == ServedQuizzesController ? 'active col-xs-2 padding-zero' : 'col-xs-2 padding-zero' %>">
    <a href=<%= served_quizzes_path%>>
      <span class="glyphicon glyphicon glyphicon-list-alt"></span>
      Serve
    </a>
  </li>
  <li class="">
    <a href="#">
      <span class="glyphicon glyphicon-edit"></span>
      Grade
    </a>
  </li>

  <li class="">
    <a href="#">
      <span class="glyphicon glyphicon glyphicon-cog"></span>
      Reports
    </a>
  </li>
</ul>