<ul class="nav nav-tabs nav-justified">
  <li class="<%= controller.class == RepositoriesController ? 'active' : '' %>"><%= link_to "Repository", repositories_path, :method=> "GET",:class => "glyphicon glyphicon-align-justify"%>
  </li>
  <li class=' col-xs-2 padding-zero'>
    <a href="#profile" data-toggle="tab">
      <span class="glyphicon glyphicon glyphicon-edit"></span>
      Quiz
    </a>
  </li>
  <li class=' col-xs-2 padding-zero'>
    <a href="#messages" data-toggle="tab">
      <span class="glyphicon glyphicon glyphicon-list-alt"></span>
      Serve
    </a>
  </li>
  <li class=' col-xs-2 padding-zero'>
    <a href="#messages" data-toggle="tab">
      <span class="glyphicon glyphicon glyphicon-list-alt"></span>
      Student
    </a>
  </li>
  <li class=' col-xs-2 padding-zero'>
    <a href="#messages" data-toggle="tab">
      <span class="glyphicon glyphicon glyphicon-inbox"></span>
      Reports
    </a>
  </li>
  <li class="<%= controller.class == UsersController and controller.action_name == 'profile' ? 'active' : '' %>"><%= link_to "Settings", profile_user_path(:id => current_user.id), :method=> "GET",:class => "glyphicon glyphicon-cog"%> 
  </li>
</ul>