<!-- <div ng-include src="'/assets/partials/common/menu.html'"></div> -->
<div class="row_bottom">
  <div class="container">
    <div class="sub_nav">
      <span class="sub_nav_icon">
        <span class = "glyphicon glyphicon-floppy-disk">
        </span>
      </span>
      <span class="sub_nav_link">
        <!--<button type="submit" class="btn btn-primary">Submit</button> -->
        <a type = "submit" ng-click = 'saveQuiz(QuizForm.$valid)' data-toggle = "tooltip" title = "Save Quiz" tooltip-placement = "top" > Save</a>
      </span>
    </div>
    <div class="sub_nav">
      <span class="sub_nav_icon"><span class = "glyphicon glyphicon-remove"></span>
      </span>
      <span class="sub_nav_link">
        <a ng-Click = "cancelQuiz()" ng-href = "#/quiz_banks/{{quiz_bank.id}}/show" data-toggle = "tooltip" title = "Cancel" tooltip-placement = "top">Cancel</a>
      </span>
    </div>
    <div class="col-xs-6 input-group">
      <input type="Search" placeholder="Search..." class="form-control search input-sm clear-search" ng-model = "titleFilter" data-toggle = "tooltip" title = "Search sections by title" tooltip-placement "top"/>
      <span class="glyphicon glyphicon-search search-bar-icon large-search-icon"></span>
    </div>
    
  </div>
</div>          
            
<div class = "col-xs-12"> 
  <div class = "row">
    <div ng-include src="'/assets/partials/quiz_banks/left_section.html'"></div>             
    <div class = "col-xs-9 right-list mar-top-20" update-resolution>
      <form name="QuizForm" ng-submit="saveQuiz(QuizForm.$valid)" novalidate>
        <div class = "row">
          <div class = "col-xs-12">
            <div class = "form-group" id = "Title-input" ng-class="{ 'has-error' : (QuizForm.title.$invalid) && (!QuizForm.title.$pristine || submitted == true)}">
              <label style = "margin-top: 4px;">Title:</label>
              <input type = "text"  ng-model = "quiz_bank.title"  class = "form-control input-sm"  placeholder = "Enter Title" name = "title" required popover="Edit the title"  popover-trigger="mouseenter">
              <p ng-show="QuizForm.title.$invalid && (!QuizForm.title.$pristine || submitted == true)" class="help-block">Title is required.</p>
            </div>  
          </div>
        </div>
        <div class = "row margin-top-10">
          <div class = "col-xs-4" id = "quiz-info-display">
            <b> Created on: </b> {{created_at}}
          </div>
          <div class = "col-xs-4" id = "quiz-info-display">
            <b>Last Edited on: </b> {{updated_at}}
          </div>
          <div class = "col-xs-4" id = "quiz-info-display">
            <b>Author: </b> {{quiz_bank.user.last_name}}
          </div>
          <div class = "col-xs-4" id = "quiz-info-display">
            <b ng-if = "(quiz_bank.public == false || quiz_bank.public == undefined) && quiz_bank.shared == false">Sharing: <a ng-href = "#quiz_banks/{{quiz_bank.id}}/share">Private</a></b>
	          <b ng-if = "(quiz_bank.public == false || quiz_bank.public == undefined) && quiz_bank.shared == true">Sharing: <a ng-href = "#quiz_banks/{{quiz_bank.id}}/share"> Shared </a></b>
            <b ng-if = "quiz_bank.public == true">Sharing: <a ng-href = "#quiz_banks/{{quiz_bank.id}}/share"> Public </a></b>	  
          </div>
        </div>
 	 
        <div class = "row mar-top-20">
          <div class = "col-xs-2"  id = "subject-div">
            <div class = "row">
              <div class = "col-xs-12">
                <div class = "form-group" id = "subject-input"  ng-class="{ 'has-error' : QuizForm.subject.$invalid && (!QuizForm.subject.$pristine || submitted == true)}">
                  <label>Subject:</label>
                  <input type = "text"  ng-model = "quiz_bank.subject" class = "form-control input-sm" placeholder = "Subject" name = "subject" required popover="Edit Subject"  popover-trigger="mouseenter" >
                  <p ng-show="QuizForm.subject.$invalid && (!QuizForm.subject.$pristine || submitted == true)" class="help-block">Required!</p>
                </div>    
              </div>
            </div>  
          </div>
          <div class = "col-xs-2"  id = "subject-div">
            <div class = "row">
              <div class = "col-xs-12">
                <div class = "form-group" id = "subject-input"  ng-class="{ 'has-error' : QuizForm.grade.$invalid && (!QuizForm.grade.$pristine || submitted == true)}">
                  <label>Grade:</label>
                  <input type = "text"  ng-model = "quiz_bank.grade" class = "form-control input-sm" placeholder = "Grade" name = "grade" required popover="Edit Grade"  popover-trigger="mouseenter" >
                  <p ng-show="QuizForm.grade.$invalid && (!QuizForm.grade.$pristine || submitted == true)" class="help-block">Required!</p>
                </div>    
              </div>
            </div>  
          </div> 
          <div class = "col-xs-8" id = "tags-input-box">
            <div class = "row">
              <label >Tags:</label>
              <tags-input ng-model="tags">
                <auto-complete source="loadtags($query)"></auto-complete>
              </tags-input>
            </div>
          </div>   
        </div>              
        <div class = "row mar-top-10">  
          <div class = "col-xs-12">
            <div class = "form-group">
              <label>Description:</label>
              <textarea ng-model = "quiz_bank.description" class =  "form-control edit-form"  rows = 2 placeholder = "Description" popover="Add small description of the quiz bank"  popover-trigger="mouseenter">
              </textarea>
            </div>
          </div>
        </div>   
        <div class = "row mar-top-10">      
          <div class = "col-xs-12">
            <div class = "form-group">
              <label>Instructions:</label>
              <textarea ng-model = "quiz_bank.instructions" class = "form-control edit-form"  rows = 2 placeholder = "Instructions" popover="Add instructions for the quiz bank"  popover-trigger="mouseenter">
              </textarea>
            </div>  
          </div>
        </div>
      </form>      
      <div class = "mar-top-10" ng-repeat = "section in quiz_sections | filter: titleFilter" ng-controller = "sectionCtrl">
        <div id = {{section.id}} class = "col-xs-12 mar-top-10 section-well">
          <div class = "col-xs-6">
            <input type="hidden" ng-model="section_id" ng-init="section_id= section.id" value="{{section.id}}" class = "col-xs-12">
            <span ng-show = "show_title" class = "col-xs-9 row">
              <strong >{{section.title}}</strong>
            </span>
            <span ng-hide = "show_title" class = "col-xs-9 row">  
              <input type = "text" ng-model = "section.title" class = "form-control input-sm" enter = "updateSection(section)" hide-on-enter>
            </span>
            <span class = "col-xs-3" style = "margin-top: 5px;">
               <a ng-hide = "show_title" ng-click = "updateSection(section)">
                <span class = "glyphicon glyphicon-ok" style = "color:white"></span>
              </a>
              <a ng-hide = "show_title" ng-click = "show_title = true">
                <span class = "glyphicon glyphicon-remove" style = "color:white"></span>
              </a>
            </span>  
          </div>
          <div class = "col-xs-4 pull-right">
            <a ng-Click = "deleteSection(section.id,$index)" data-toggle = "tooltip" title = "Delete the Section" tooltip-placement = "top">
              <span class = "glyphicon glyphicon-trash pull-right mar-left-5" style = "color: white;" ></span>
            </a>
            <a ng-Click = "show_title = false" data-toggle = "tooltip" title = "Edit Section" tooltip-placement = "top">
              <span class = "glyphicon glyphicon-edit pull-right mar-left-5" style = "color: white;" ></span>
            </a>
            <a class="dropdown-toggle" ng-Click = "addNewQuestion('Multiple Choice',section)" data-toggle = "tooltip" title = "Add new Question" tooltip-placement = "top">
              <span class = "glyphicon glyphicon-plus-sign pull-right mar-left-5" style = "color:white;"></span>
            </a>        
          </div>
        </div>
        <div class = "section-questions" ng-controller = "viewQuestionsCtrl" >
          <div ng-include src="'/assets/partials/questions/all_questions.html'"></div>
        </div>
        <div>
          <div ng-if = "question_section == section" ng-Show = "show_true_false" ng-include src="'/assets/partials/questions/true_false_create.html'">
          </div>  
          <div ng-if = "question_section == section" ng-Show = "show_mcq" ng-include src="'/assets/partials/questions/mcq_create.html'">
          </div>
          <div ng-if = "question_section == section" ng-Show = "show_blank" ng-include src="'/assets/partials/questions/fill_in_the_blank_create.html'">
          </div>
          <div ng-if = "question_section == section" ng-Show = "show_open_ended" ng-include src="'/assets/partials/questions/open_ended_create.html'">
          </div>    
      </div>
    </div>
     <div ng-show = "show_new_section" class = "new-section-div" id = "new-section-div">
      <div class = "col-xs-12 new-section-box mar-top-20">
        <form name="NewSectionForm" ng-submit="addSection(NewSectionForm.$valid)">
          <div class = "form-group" ng-class="{ 'has-error' : NewSectionForm.title.$invalid && section_submitted == true}">
            <span class = "col-xs-1" >Title:</span>
            <span class = "col-xs-9">
              <input ng-model = "newSection.title" name = "title" type= "text" class= "form-control mar-bot-10" required>
               <p ng-show="NewSectionForm.title.$invalid && section_submitted == true" class="help-block">Title is required.</p>
            </span>
            <span class = "col-xs-2 pull-right" style= "margin-top: 4px;">
              <a type = "submit" ng-Click = "addSection(NewSectionForm.$valid)"> Save</a>
              <a ng-click = "hide_section()"> Cancel</a>
            </span>
          </div>  
        </form>  
      </div>
    </div>
    <div class="mar-top-20 pull-left">
      <a ng-click = "show_section()" data-toggle = "tooltip" title = "Add new Section" tooltip-placement = "top" scroll-to-new-section class = "btn btn-primary">
      <span class = "glyphicon glyphicon-plus"></span>Add Section
      </a>
      <div ng-controller = "sectionCtrl" class = "pull-left">
        <a ng-click = "addNewQuestion('Multiple Choice',last_section)" class="btn btn-warning">
          <span class = "glyphicon glyphicon-plus"></span>
          Add Question
        </a>
      </div>
    </div>
  </div>
</div>               
              
