<div class = "col-xs-2 left_section" style="font-size: 12px;" check-resolution>
  <div class = "row"> 
    <div class = "col-xs-10" style = "font-size: 12px;line-height:15px">
      <strong>
        {{quiz_bank.title}}
      </strong>
      <hr class = "custom-hr">  
    </div>
  </div>
  <ul class = "row" ui-sortable ng-model="quiz_sections">
    <li class = "title-div" ng-repeat = "section in quiz_sections | filter: titleFilter" ng-controller = "sectionCtrl">
      <div> 
        <span class = "col-xs-8">
          <img src = "/assets/nav_right.png" class="section-right" change-arrow>
          <img src = "/assets/nav_down.png" class="section-down hide" change-arrow>
          <span>{{section.title}}</span>
        </span>
        <span class = "col-xs-4">
          <span class="dropdown-toggle link" ng-Click = "AddQuestion(section.id,$index)" data-toggle = "tooltip" title = "Add new Question" tooltip-placement = "top">
            <span class = "glyphicon glyphicon-plus-sign"></span>
          </span>
          <ul class="dropdown-menu pull-right">
            <li ng-repeat="question in question_types">
              <span class = "link" ng-Click = "addNewQuestion(question,section)" style = "color:black;">  {{question}}
              </span>
            </li>
          </ul>
          <span ng-click = "deleteSection(section.id,$index)" class = "glyphicon glyphicon-trash link" data-toggle = "tooltip" title = "Delete Section" tooltip-placement = "top"></span>
        </span>
      </div>
      <div class = "questions-list-div hide">
        <ul class = "row">
          <li ng-repeat = "section_question in section.questions" class = "col-xs-12">
            <div mathjax-bind = "section_question.description" remove-children-margin>{{section_question.description}}</div>
          </li>
        </ul>
      </div>    
    </li> 
  </ul>
</div>              
