<div class = "col-xs-2 left_section" style="font-size: 12px;" check-resolution>
  <div class = "row"> 
    <div class = "col-xs-10" style = "font-size: 12px;line-height:15px">
      <strong>
        {{quiz_bank.title}}
      </strong>
      <hr class = "custom-hr">  
    </div>
  </div>
  <ul class = "row" ui-sortable ng-model="quiz_sections">
    <li class = "mar-top-10" ng-repeat = "section in quiz_sections | filter: titleFilter" ng-controller = "sectionCtrl">
      <div class = "mar-top-10">
        <span class = "col-xs-8">
          {{section.title}}
        </span>
        <span class = "col-xs-4">
          <span class="dropdown-toggle link" ng-Click = "AddQuestion(section.id,$index)" data-toggle = "tooltip" title = "Add new Question" tooltip-placement = "top">
            <span class = "glyphicon glyphicon-plus-sign"></span>
          </span>
          <ul class="dropdown-menu pull-right">
            <li ng-repeat="question in question_types">
              <span class = "link" ng-Click = "addNewQuestion(question,section)" style = "color:black;">  {{question}}
              </span>
            </li>
          </ul>
          <!--<span ng-click = "show_title = false" class = "glyphicon glyphicon-edit link" data-toggle = "tooltip" title = "Edit Section" tooltip-placement = "top"></span> -->
          <span ng-click = "deleteSection(section.id,$index)" class = "glyphicon glyphicon-trash link" data-toggle = "tooltip" title = "Delete Section" tooltip-placement = "top"></span>
        </span>
      </div>    
    </li> 
  </ul>
</div>              
