<div class = "nav my-sub-header navbar">
  <div class = "container">
    <div class = "collapse navbar-collapse">
      <ul class = "nav navbar-nav">
        <li>
          <a ng-href = '#/manage_quiz_banks'>Manage</a>
        </li>
        <li>
          <a href = "#"> Serve</a>
        </li>  
        <li>
          <a href ="#"> Grade</a>
        </li>
        <li>
          <a href = "#"> Analyze</a>
        </li>
      </ul>
    </div>
  </div>
</div>        

<div class = "row">
  <div class = "col-xs-12 top-options">
    <div class = "container">
      <ul>
        <li class = "col-xs-1">
          <span class = glyphicon glyphicon-floppy-disk></span>
          <span>
            <a ng-click = 'saveQuiz()' ng-href = '#/manage_quiz_banks'> Save</a>
          </span>
        </li>
        <li class = "col-xs-1">
          <span class = "glyphicon glyphicon-remove"></span>
          <span> 
            <a ng-Click = "cancelQuiz()" ng-href = '#/manage_quiz_banks'>Cancel</a>
          </span>
        </li>  
        <li class = "col-xs-2">
          <span class = "glyphicon glyphicon-plus-sign"></span>
          <span>
            <a ng-click = 'addNewSection()'>Add Section</a>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>          
            
<div class = "row">
  <div class = "col-xs-12">
    <div class = "container">
      <div class = "row">
        <div class = "col-xs-3 left-panel">
          <ul class = "navigation">
            <li>
              <div class = "row">
                <div class = "col-xs-12">
                  <h3> Search</h3>
                </div>  
                <div class = "col-xs-12">
                  <input type = "Search" class = "form-control" ng-model = "titleFilter",placeholder = "Search">
                </div>
              </div>
            </li> 
            <li>      
              <div class = "row">
                <div class = "col-xs-12">
                  <h3> Questions </h3>
                </div>
                <div class = "col-xs-12">
                  <ul>
                    <li>
                      <a ng-Click = "addBlank()"> Add Fill in Blank </a>
                    </li>  
                    <li>
                      <a ng-Click = "addMcq()"> Add Mcq </a>
                    </li>  
                    <li>
                      <a ng-Click = "addTrueFasle()"> Add True False </a>
                    </li>
                    <li>
                      <a ng-Click = "addOpenEnded()"> Add Open Ended </a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>              

        <div class = "col-xs-8 right-list mar-top-20">
          <div class = "row">
            <div class = "col-xs-3">
              <input type = "text"  ng-model = "quiz_bank.title"  class = "form-control"  placeholder = "Enter Title">
            </div>  
            <div class = "col-xs-3 from-label">
              <strong> "From: Abdullah Khan"
              </strong>
            </div>
            <div class = "col-xs-6">
              <input type = "text" class = "form-control"  placeholder = "Enter Comma separated Tags">
            </div>
          </div>    
          <div class = "row mar-top-20">
            <span class = "col-xs-2">Created: Today</span>
            <span class = "col-xs-2">Edited: Today</span>
            <span class = "col-xs-3">Sharing Status: Private</span>
            <span class = "col-xs-5">
              <span class = "col-xs-3">Subject:</span>
              <span class = "col-xs-9">  
                <select ng-model = "selectedsubject" ng-options = "subject as subject.title for subject in subjects" class = "form-control"></select>
              </span>
            </span>
          </div>           
          <div class = "row mar-top-20">
            <div class = "col-xs-12">
              <strong> Description: </strong>
            </div>  
            <div class = "col-xs-12">
              <textarea ng-model = "quiz_bank.description" required = true  ng-minlength = "10" ng-maxlength = "50" class =  "form-control"  rows = 2></textarea>
            </div>
          </div>    
          <div class = "row mar-top-10">    
            <div class = "col-xs-12">
              <strong>Instruction:
              </strong>
            </div>  
            <div class = "col-xs-12">
              <textarea ng-model = "quiz_bank.instructions" required = true ng-minlength= "10" ng-maxlength = "50" class = "form-control"  rows = 2></textarea>
          <div class = "mar-top-10" ng-repeat = "section in quiz_sections | filter: titleFilter">
            <div class = "col-xs-12 well well-sm">
              <div class = "col-xs-4">
                {{section.title}}
              </div>
              <div class = "col-xs-4 pull-right">
                <a ng-Click = "editSection(section)">
                  <span class = "glyphicon glyphicon-edit pull-right"></span>
                </a>
                <a ng-Click = "deleteSection(section.id,$index)">
                  <span class = "glyphicon glyphicon-trash pull-right"></span>
                </a>
              </div>
            </div>      
            <div class = "col-xs-12 new-section-box mar-top-10 mar-bot-10" ng-if = "section == section_edit" ng-show = "section_edit">
              <span class = "col-xs-1">Title:</span>
              <span class = "col-xs-9">
                <input ng-model = "section_edit.title" type = "text" class = "form-control">
              </span>
              <span class = "col-xs-2 pull-right">
                <a ng-Click = "updateSection(section_edit)"> Save</a>
                <a ng-Click = "cancelEditSection()"> Cancel</a>
              </span>
            </div>
          </div>                  
          <div class = "mar-top-10" ng-Show = "show_new_section">
            <div class = "col-xs-12 new-section-box">
              <span class = "col-xs-1">Title:</span>
              <span class = "col-xs-9">
                <input ng-model = "newSection.title" type= "text" class= "form-control">
              </span>
              <span class = "col-xs-2 pull-right">
                <a ng-Click = "addSection(newSection.title)"> Save</a>
                <a ng-Click = "CancelSection()"> Cancel</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>                
              


