<div class="menu">
  <div class="container">
    <ul>
      <li class="active"><a href="#/manage_quiz_banks">MANAGE</a></li>
      <li><a ng-href='#/served_quizzes'>SERVE</a></li>
      <li><a href="#/grade">GRADE</a></li>
      <li><a href="#">ANALYZE</a></li>
    </ul>
  </div>
</div>
<div class="row_bottom">
	<div class="container">
    <div class="sub_nav">
      <span class="sub_nav_icon"><img src="/assets/create_icon.png" /></span>
      <span class="sub_nav_link"><a ng-href  ='#/quiz_banks/new' data-toggle = "tooltip" title = "Create Quiz Bank">Create</a></span>
		</div>
    <div class="sub_nav" ng-if = "quiz_bank.user.id == current_user.id">
      <span class="sub_nav_icon"><img src="/assets/edit_icon.png" /></span>
      <span class="sub_nav_link"><a ng-href  ='#/quiz_banks/{{quiz_bank.id}}/edit' data-toggle = "tooltip" title = "Edit Quiz Bank">Edit</a></span>
		</div>
    <div class="sub_nav">
      <span class="sub_nav_icon"><img src="/assets/clone_icon.png" /></span>
      <span class="sub_nav_link"><a href="#/quiz_banks/{{quiz_bank_id}}/clone" data-toggle = "tooltip" title = "Clone Quiz Bank">Clone</a></span>
		</div>
    <div class="sub_nav">
      <span class="sub_nav_icon"><img src="/assets/preview_icon.png" /></span>
      <span class="sub_nav_link"><a href="#/quiz_banks/{{quiz_bank_id}}/preview" data-toggle = "tooltip" title = "Preview Quiz Bank">Preview</a></span>
		</div>
    <div class="sub_nav" ng-if = "quiz_bank.user.id == current_user.id">
      <span class="sub_nav_icon"><img src="/assets/delete_icon.png" /></span>
      <span class="sub_nav_link"><a ng-href="#/manage_quiz_banks" ng-click = "deleteQuiz()" data-toggle = "tooltip" title = "Delete Quiz Bank">Delete</a></span>
		</div>
    <div class="input-group col-xs-2 pull-right">
			<input type="Search" placeholder="Search..." class="form-control search" />
      <div class="input-group-btn">
        <span class="search"></span>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-3 left_section">
      <ul class = "row">
        <li>
          <a class = "clickunfold" ng-right-click = "$event.stopPropagation()">
            My Assessments
          </a>
          <ul class = "hide" id = "new-repo-holder">
            <li class = "hide" id = "create-repo-div">
              <input type = "text", ng-model = "repository.title" class = "form-control input-sm" enter = "addRepo()" placeholder = "Enter title and press enter" hideonenter>
            </li>
            <li ng-repeat = "repo in my_assessments">
              <div class = "row complete_row" droppable drop= "handleDrop" id ="{{repo.id}}">
                <div class = "col-xs-12">
                  <span class = "col-xs-7 link showhide">
                    {{repo.title}}   
                  </span> 
                  <span class = "col-xs-5">
                    <span class = "glyphicon glyphicon-pencil link" showtitleedit></span>  
                    <span ng-click = "deleteRepo(repo)" class = "glyphicon glyphicon-remove link"></span>  
                  </span>
                </div>  
              </div>
              <div class = "col-xs-12 title-edit hide">
                <input type = "text", ng-model = "repo.title" class = "form-control input-sm" enter = "editRepo(repo)" hideonenter>
              </div>
              <ul class = "hide row ul" >
                <li ng-repeat = "quiz in repo.quiz_banks">
                  <a id = "{{quiz.id}}" draggable ng-href="#/quiz_banks/{{shared_quiz.id}}/show">
                    {{quiz.title}}
                  </a>  
                </li>
              </ul>
            </li>     
          </ul>
        </li>
        <li>
          <a class = "clickunfold" ng-right-click = "$event.stopPropagation()">
            Main Repo
          </a>
          <ul class = "hide row">
            <li ng-repeat = "main_quiz in main_repo_quizzes">
              <a  id = "{{main_quiz.id}}" item = "main_quiz" draggable>{{main_quiz.title}}</a>
            </li>     
          </ul>
        </li>
        <li>
          <a class = "clickunfold" ng-right-click = "$event.stopPropagation()">
            Shared Assessments
          </a>
          <ul class = "hide row">
            <li ng-repeat = "shared_quiz in shared_quiz_banks">
              <a id = "{{shared_quiz.id}}" ng-href="#/quiz_banks/{{shared_quiz.id}}/show">{{shared_quiz.title}}</a>
            </li>
          </ul>
        </li>
        <li>
          <a class = "clickunfold" ng-right-click = "$event.stopPropagation()">
            Starred Assessments
          </a>  
            <ul class = "hide row">
              <li ng-repeat = "starred_quiz in starred_quiz_banks">
                <a id = "{{starred_quiz.id}}"ng-href="#/quiz_banks/{{starred_quiz.id}}/show">{{starred_quiz.title}}</a>
              </li>
            </ul>
          </a>
        </li>
      </ul>
      
    </div>
		<div class="col-xs-8 right_section_view_page">
      <div class="col-xs-12 row_space">
        <span class="heading">{{quiz_bank.title}}</span>&nbsp;&nbsp;&nbsp;by {{quiz_bank.user.first_name}} {{quiz_bank.user.last_name}} 
        <img style="float:right;" src="/assets/info_icon.png" data-toggle = "tooltip" title = "description" tooltip = {{quiz_bank.description}} tooltip-placement = "left"/>
      </div>
    	<div class="col-xs-12 row_space">
        <span ng-repeat = "topic in quiz_bank.topics">
          <span class = "glyphicon glyphicon-tag" style="color: red;"></span>
          <span>&nbsp;&nbsp;{{topic.title}}</span>
        </span>
          
			</div>
      <div class="col-xs-12 row_space">
				<b>Created on:</b> {{created_at}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <b>Last Edited:</b> {{updated_at}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span ng-hide = "quiz_bank.public">
          <b>Sharing Status:</b> Private&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
        <span ng-show = "quiz_bank.public">
          <b>Sharing Status:</b> Public&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
        <b>Subject:</b> {{quiz_bank.subject}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
      <div class="col-xs-12 row_space">
        <ul style = "list-style:none;">
          <li ng-repeat = "section in quiz_bank.sections">
            <div class = "well well-sm">{{section.title}}</div>
            <input type="hidden" ng-model="section_id" ng-init="section_id= section.id" value="{{section.id}}">
            <div class = "section-questions" ng-controller = "viewQuestionsCtrl">
              <div ng-include src="'/assets/partials/questions/all_questions.html'"></div>
            </div>
          </li>
        </ul>
      </div>
		</div>
	</div>
</div>