<div ng-include src="'/assets/partials/common/menu.html'"></div>
<div class="row_bottom">
	<div class="container">
    <div class="sub_nav">
      <span class="sub_nav_icon"><img src="/assets/create_icon.png" /></span>
      <span class="sub_nav_link"><a ng-href  ='#/quiz_banks/new' data-toggle = "tooltip" title = "Create Quiz Bank">Create</a></span>
		</div>
    <div class="sub_nav" ng-if = "quiz_bank.user.id == current_user.id">
      <span class="sub_nav_icon"><img src="/assets/edit_icon.png" /></span>
      <span class="sub_nav_link"><a ng-href  ='#/quiz_banks/{{quiz_bank.id}}/edit' data-toggle = "tooltip" title = "Edit Quiz Bank">Edit</a></span>
		</div>
    <div class="sub_nav">
      <span class="sub_nav_icon"><img src="/assets/clone_icon.png" /></span>
      <span class="sub_nav_link"><a href="#/quiz_banks/{{quiz_bank_id}}/clone" data-toggle = "tooltip" title = "Clone Quiz Bank">Clone</a></span>
		</div>
    <div class="sub_nav">
      <span class="sub_nav_icon"><img src="/assets/preview_icon.png" /></span>
      <span class="sub_nav_link"><a href="#/quiz_banks/{{quiz_bank_id}}/preview" data-toggle = "tooltip" title = "Preview Quiz Bank">Preview</a></span>
		</div>
    <div class="sub_nav" ng-if = "quiz_bank.user.id == current_user.id">
      <span class="sub_nav_icon"><img src="/assets/delete_icon.png" /></span>
      <span class="sub_nav_link"><a ng-href="#/manage_quiz_banks" ng-click = "deleteQuiz()" data-toggle = "tooltip" title = "Delete Quiz Bank">Delete</a></span>
		</div>
    <div class="input-group col-xs-2 pull-right">
			<input type="Search" placeholder="Search..." class="form-control search" />
      <div class="input-group-btn">
        <span class="search"></span>
			</div>
		</div>
	</div>
</div>
<div class="col-xs-12">
	<div class="row">
		<div ng-include src="'/assets/partials/manage_quiz_banks/navigation.html'">
    </div>
		<div class="col-xs-9 right_section_view_page" update-resolution>
      <alert class = "mar-top-10" type='success' close="remove_alert()" ng-if = "alert != undefined">{{alert.msg}}</alert>
      <div class="col-xs-12 row_space">
        <span class="heading">{{quiz_bank.title}}</span>&nbsp;&nbsp;&nbsp;by {{quiz_bank.user.first_name}} {{quiz_bank.user.last_name}} 
        <!--<img style="float:right;" src="/assets/info_icon.png" data-toggle = "tooltip" title = "description" tooltip = {{quiz_bank.description}} tooltip-placement = "left"/> -->
      </div>
    	<div class="col-xs-12 row_space">
        <span ng-repeat = "topic in quiz_bank.topics">
          <span class = "glyphicon glyphicon-tag" style="color: red;"></span>
          <span>&nbsp;&nbsp;{{topic.title}}</span>
        </span>
          
			</div>
      <div class="col-xs-12 row_space">
				<b>Created on:</b> {{created_at}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <b>Last Edited:</b> {{updated_at}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span ng-if = "quiz_bank.public == false && quiz_bank.shared == false ">
          <b>Sharing Status:</b> Private&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
        <span ng-if = "quiz_bank.public == false && quiz_bank.shared == true ">
          <b>Sharing Status:</b> Shared&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
        <span ng-if = "quiz_bank.public == true">
          <b>Sharing Status:</b> Public&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
        <b>Subject:</b> {{quiz_bank.subject}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
      <div class = "col-xs-12 row_space">
        <label>Description</label>
        <p ng-if = "quiz_bank.description != undefined">{{quiz_bank.description}}<p>
        <p ng-if = "quiz_bank.description == undefined">This quiz bank has no description</p>
      </div>
      <div class = "col-xs-12 row_space">
        <label>Instructions</label>
        <p ng-if = "quiz_bank.instructions != undefined">{{quiz_bank.instructions}}</p>
        <p ng-if = "quiz_bank.instructions == undefined">This quiz bank has no instructions</p>
      </div>
      <div class="col-xs-12 row_space">
        <ul style = "list-style:none;">
          <li ng-repeat = "section in quiz_bank.sections">
            <div class = "section-well mar-top-20"><strong>{{section.title}}</strong></div>
            <input type="hidden" ng-model="section_id" ng-init="section_id= section.id" value="{{section.id}}">
            <div class = "section-questions" ng-controller = "viewQuestionsCtrl">
              <div ng-include src="'/assets/partials/questions/all_questions.html'"></div>
            </div>
          </li>
        </ul>
      </div>
		</div>
	</div>
</div>