<header class="navbar navbar-default navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand red-color">QuizLib</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      
      <ul class="nav navbar-nav navbar-right">
        <%if user_signed_in?%>
        <li>
          <%=link_to 'Profile' , profile_user_path(:id => current_user.id)%>
        </li>
        
        <li>
          <%=link_to 'Logout' , destroy_user_session_path, :method => "delete" %>
        </li>
        <%else%>
          <li>
          <%=link_to 'Sign up' , new_user_registration_path %>
        </li>
        
        <li>
          <%=link_to 'Login' , new_user_session_path %>
        </li>
        <%end%>  
      </ul>
    </nav>
  </div>
</header>