%header
  %nav.navbar.navbar-default{role:"navigation", style: "margin-bottom: 0px;"}
    .container-fluid
      .navbar-header
        %button.navbar-toggle{type:"button",data:{toggle:"collapse" ,target:"#bs-example-navbar-collapse-1"}}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{href:"http://quericity.com",style:"margin-left:20px;"}
          %span.header
            %img{src: "/assets/logo.png",style: "height: 55px;width:180px;"}

      .collapse.navbar-collapse#bs-example-navbar-collapse-1
        -if user_signed_in?
          -if current_user.is_professor?
            %ul.nav.navbar-nav.navbar-left.menu
              %ng-view
                %li{"ng-contoller" => "MenuCtrl"}
                  %span.sub_nav_icon
                    %img{src:"/assets/manage_menu_icon.png"} 
                  %span.menu-link
                    %a.manage-link.header-link{href:"#/manage_quiz_banks"}
                      = "Manage"
                %li
                  %span.sub_nav_icon
                    %img{src: "/assets/serve_quiz.png"}
                  %span.menu-link
                    %a.serve-link.header-link{href: '#/served_quizzes'}
                      = "Serve"
                %li
                  %span.sub_nav_icon
                    %img{src: "/assets/grade_menu_icon.png"}
                  %span.menu-link
                    %a.grade-link.header-link{href:"#/grade"}
                      = "Grade"
                %li
                  %span.sub_nav_icon
                    %img{src: "/assets/analyse_menu_icon.png"}
                  %span.menu-link  
                    %a.analyze-link.header-link{href:"#/analyze/quiz_report"}
                      = "Analyze"
          -if current_user.is_student?
            %ul.nav.navbar-nav.navbar-left.menu
              %ng-view
                %li
                  %span.sub_nav_icon
                    %img{src: "/assets/manage_menu_icon.png"}
                  %span.menu-link  
                    %a{href:"#/dashboard"}Dashboard
                %li
                  %span.sub_nav_icon
                    %img{src:"/assets/serve_quiz.png"}
                  %span.menu-link  
                    %a{href:"#/quizlist"}Quiz  
                %li
                  %span.sub_nav_icon
                    %img{src:"/assets/serve_quiz.png"}
                  %span.menu-link  
                    %a{href:"#/enrol_group"}Classes        
          %ul.nav.navbar-nav.navbar-right.my-header-nav{style: "margin-right: 10px;"}
            .dropdown.name
              %a{id:"dLabel",role:"button",href:"#",data:{toggle:"dropdown",target:"#"}}
                =current_user.name
                %span.caret 
              %ul.dropdown-menu{role:"menu"}
                %li
                  -if current_user.is_professor?
                    %span.glyphicon.glyphicon-cog
                    %span
                      %ng-view
                        %a{href:"#/settings"}Settings

                  -else
                    %span.glyphicon.glyphicon-cog
                    %span
                      %ng-view 
                        %a{href: "#/settings"}Settings
                %li
                  %br
                  %span.glyphicon.glyphicon-off.custom-size
                  %span 
                    =link_to "Log out", destroy_user_session_path, :method => "delete"
          
        -else
          %ul.nav.navbar-nav.navbar-right{style: "margin-top:10px;"}
            %li
              =link_to 'Sign up' , new_user_registration_path, class: "home-signup header-button"
            %li
              =link_to 'Log in' , new_user_session_path, class: "home-login header-button"  

:javascript
  $(document).ready(function(){
    if(window.innerWidth < 747){
      $(".menu li").addClass("col-xs-12")
    }
    else{
      $(".menu li").removeClass("col-xs-12")
    }
    $(window).resize(function(){
      console.log("hello")
      if(window.innerWidth < 747){
        $(".menu li").addClass("col-xs-12")
      }
      else{
        $(".menu li").removeClass("col-xs-12")
      }
    })
  })        