<!DOCTYPE html>
<html lang="en">
  <head>
    <title>QuizLib</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    
    
    <div class="container main-container">
      <br/><br/><br/><br/><br/>
      <%= yield %>
    </div>
    
  </body>
</html>
